<article id="oneGalery" *ngIf="images && index || images && index==0">
  <i id="icone" class="ri-close-fill" (click)="app.unclickGalery()"></i>
  <div id="img" style="background-image: url({{ images[(index - 1) + arrow] }})"></div>


  <i class="ri-arrow-drop-left-line" id="icone-arrow-left" (click)="switch(false)"></i>
  <i class="ri-arrow-drop-right-line" id="icone-arrow-right" (click)="switch(true)"></i>
</article>

<style>

  #oneGalery{

    --downbar: 105px;


    position: fixed;
    width: 100vw;
    height: 100vh;
    /*position: absolute;*/
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.71);
    z-index: 1029;

    #icone{
      position: absolute;
      right: 70px;
      top: 40px;
      font-size: 50px;
      color: white;
    }

    #icone-arrow-left,
    #icone-arrow-right{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      color: white;
    }

    #icone-arrow-right{
      right: 0;
    }

    #img{
      width: 100%;
      height: calc(100vh - var(--downbar));

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }



  }

</style>
