<ng-container *ngIf="!noAccount">

  <ng-container *ngIf="task == 'edit'">

    <app-edited-mygame></app-edited-mygame>

  </ng-container>

  <ng-container *ngIf="task !== 'edit'">

    <app-head-profile></app-head-profile>

    <ng-container *ngIf="!profileId">

        <app-profile-private></app-profile-private>

    </ng-container>


    <ng-container *ngIf="profileId">

      <app-profile-public></app-profile-public>

    </ng-container>

  </ng-container>

  <!-- FLECHE POUR REMONTER EN HAUT DE LA PAGE -->
  <app-back-to-top></app-back-to-top>
</ng-container>

<ng-container *ngIf="noAccount">

  <app-no-account-profile></app-no-account-profile>

</ng-container>
