<!-- MODALE -->
<modal-view-mygame></modal-view-mygame>

<!-- CONTENT -->
<section id="profilWrapper" class="container">

  <app-tab-public></app-tab-public>

  <!--  GAME PINED -->
  <div id="show-game" class="d-flex container pinned" *ngIf="getPinnedGames().length > 0">
    <ng-container *ngFor="let myGameHistorique of getPinnedGames()">
      <div class="card-wrapper">
        <div class="card-game container d-flex">

          <div class="isPinned" style="background-color: {{ isColor }}">
            <p><i class="ri-pushpin-fill"></i></p>
          </div>

          <div class="card-left" (click)="selectViewMyGame(myGameHistorique); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#viewGame" >
            <ng-container *ngIf="myGameHistorique.myGame.game.image.icon_url == 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
              <div class="image" style="background-image: url('https://tyrolium.fr/Contenu/Image/Soon.png')"></div>
              <div class="blur"></div>
              <img src="https://tyrolium.fr/Contenu/Image/Soon.png" alt="...">
            </ng-container>
            <ng-container *ngIf="myGameHistorique.myGame.game.image.icon_url != 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
              <div class="image" style="background-image: url('{{ myGameHistorique.myGame.game.image?.thumb_url }}')"></div>
              <div class="blur"></div>
              <img src="{{ myGameHistorique.myGame.game.image?.thumb_url }}" alt="...">
            </ng-container>
          </div>

          <div class="card-right d-flex">
            <div class="core-left" (click)="selectViewMyGame(myGameHistorique); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#viewGame">
              <h2>{{ myGameHistorique.myGame.game.name }}</h2>
              <p style="color: {{ isColor }};" class="platform-names">
                {{ this.app.plateformeNameFormatage(myGameHistorique.myGame.plateform.name) }}
              </p>
              <p> Ajouté le : {{ myGameHistorique.myGame.added_at | date:'dd / MM / yyyy' }}</p>
            </div>
            <div class="core-right">
              <div class="card-note" style="background-color: {{ isColor }}">
                <p><span id="noteGame{{ myGameHistorique.myGame.game.id }}">
                    <ng-container *ngIf="!userRatingAll">na</ng-container>
                    <ng-container *ngIf="userRatingAll">
                      <ng-container *ngIf="hasUserRatings(myGameHistorique.myGame.game.id)">
                        <ng-container *ngFor="let userRating of userRatingAll">
                          <ng-container *ngIf="userRating.game.id == myGameHistorique.myGame.game.id">{{ userRating.rating }}</ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!hasUserRatings(myGameHistorique.myGame.game.id)">na</ng-container>
                    </ng-container>
                  </span>/20</p>
              </div>
              <div class="card-action">
              </div>
            </div>
          </div>

        </div>
      </div>

    </ng-container>
  </div>

  <!-- UNPINNED GAME -->
  <div id="show-game" class="d-flex container">
    <ng-container *ngFor="let myGameHistorique of getUnpinnedGames()">
      <div class="card-wrapper">
        <div class="card-game container d-flex">

          <div class="card-left" (click)="selectViewMyGame(myGameHistorique); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#viewGame">
            <ng-container *ngIf="myGameHistorique.myGame.game.image.icon_url == 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
              <div class="image" style="background-image: url('https://tyrolium.fr/Contenu/Image/Soon.png')"></div>
              <div class="blur"></div>
              <img src="https://tyrolium.fr/Contenu/Image/Soon.png" alt="...">
            </ng-container>
            <ng-container *ngIf="myGameHistorique.myGame.game.image.icon_url != 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
              <div class="image" style="background-image: url('{{ myGameHistorique.myGame.game.image?.thumb_url }}')"></div>
              <div class="blur"></div>
              <img src="{{ myGameHistorique.myGame.game.image?.thumb_url }}" alt="...">
            </ng-container>
          </div>

          <div class="card-right d-flex">
            <div class="core-left" (click)="selectViewMyGame(myGameHistorique); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#viewGame">
              <h2>{{ myGameHistorique.myGame.game.name }}</h2>
              <p style="color: {{ isColor }};" class="platform-names">
                {{ this.app.plateformeNameFormatage(myGameHistorique.myGame.plateform.name) }}
              </p>
              <p> Ajouté le : {{ myGameHistorique.myGame.added_at | date:'dd / MM / yyyy' }}</p>
            </div>
            <div class="core-right">
              <div class="card-note" style="background-color: {{ isColor }}">
                <p><span id="noteGame{{ myGameHistorique.myGame.game.id }}">
                    <ng-container *ngIf="!userRatingAll">na</ng-container>
                    <ng-container *ngIf="userRatingAll">
                      <ng-container *ngIf="hasUserRatings(myGameHistorique.myGame.game.id)">
                        <ng-container *ngFor="let userRating of userRatingAll">
                          <ng-container *ngIf="userRating.game.id == myGameHistorique.myGame.game.id">{{ userRating.rating }}</ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!hasUserRatings(myGameHistorique.myGame.game.id)">na</ng-container>
                    </ng-container>
                  </span>/20</p>
              </div>
              <div class="card-action">
              </div>
            </div>
          </div>

        </div>
      </div>

    </ng-container>
  </div>

</section>
