<div class="card-wrapper" *ngIf="hmp && state !== 'all'">
  <div class="card-game container d-flex">

    <!-- PICTURE -->
    <div class="card-left" (click)="selectViewMyPlatform(hmp); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#viewPlatform" *ngIf="hmp.myPlateform.plateform.id !== app.noPlateform.id">
      <ng-container *ngIf="hmp.myPlateform.plateform.image?.icon_url == this.app.noBoxartImage_default">
        <div class="image" style="background-image: url({{ this.app.noBoxartImage }})"></div>
        <div class="blur"></div>
        <img src="{{ this.app.noBoxartImage }}" alt="...">
      </ng-container>
      <ng-container *ngIf="hmp.myPlateform.plateform.image?.icon_url != this.app.noBoxartImage_default">
        <div class="image" style="background-image: url({{ hmp.myPlateform.plateform.image?.original_url }})"></div>
        <div class="blur"></div>
        <img src="{{ hmp.myPlateform.plateform.image?.original_url }}" alt="...">
      </ng-container>
    </div>

    <!-- INFO -->
    <div class="card-right d-flex">

      <!-- TEXT -->
      <div class="core-left" (click)="selectViewMyPlatform(hmp); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#viewPlatform">
        <!-- NAME-->
        <h2>{{ this.app.plateformeNameFormatage(hmp.myPlateform.plateform.name) }}</h2>

        <!-- PLATEFORME -->
        <p style="color: {{ this.colorProfil || this.app.colorDefault }}" class="platform-names">
          {{ hmp.myPlateform.plateform.release_date | date:'yyyy' }}
        </p>

        <p *ngIf="hmp.myPlateform.plateform.id !== app.noPlateform.id"><small>Exemplaire de la console {{ hmp.copyPlateform.length }}</small></p>

        <p><small>Nombre de jeux {{ nbGame }}</small></p>

        <!-- DATE D'AJOUT -->
<!--        <p *ngIf="hmp.myPlateform.plateform.id !== app.noPlateform.id"><small> Ajouté le : {{ hmp.myPlateform.added_at | date:'dd / MM / yyyy' }} </small></p>-->
      </div>

      <!-- ACTION -->
      <div class="core-right" *ngIf="hmp.myPlateform.plateform.id !== app.noPlateform.id">


        <!-- ACTION -->
        <div class="card-action" *ngIf="this.app.userConnected && this.app.userConnected.id == hmp.myPlateform.user.id  && isPublic == false">
          <i  routerLink="/mygame/edit-platform/{{hmp?.id}}" class="ri-pencil-line"></i>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="card-wrapper" *ngIf="plateform && !hmp && state !== 'all'">
  <div class="card-game container d-flex">

    <!-- PICTURE -->
    <div class="card-left" (click)="setModal(plateform)" data-bs-toggle="modal" data-bs-target="#addPlatform" *ngIf="plateform.id !== app.noPlateform.id">
      <ng-container *ngIf="plateform.image?.icon_url == this.app.noBoxartImage_default">
        <div class="image" style="background-image: url({{ this.app.noBoxartImage }})"></div>
        <div class="blur"></div>
        <img src="{{ this.app.noBoxartImage }}" alt="...">
      </ng-container>
      <ng-container *ngIf="plateform.image?.icon_url != this.app.noBoxartImage_default">
        <div class="image" style="background-image: url({{ plateform.image?.original_url }})"></div>
        <div class="blur"></div>
        <img src="{{ plateform.image?.original_url }}" alt="...">
      </ng-container>
    </div>

    <!-- INFO -->
    <div class="card-right d-flex">

      <!-- TEXT -->
      <div class="core-left" (click)="setModal(plateform)" data-bs-toggle="modal" data-bs-target="#addPlatform">
        <!-- NAME-->
        <h2>{{ this.app.plateformeNameFormatage(plateform.name) }}</h2>

        <!-- PLATEFORME -->
        <p style="color: {{ this.colorProfil || this.app.colorDefault }}" class="platform-names">
          {{ plateform.release_date | date:'yyyy' }}
        </p>

        <p *ngIf="plateform.id !== app.noPlateform.id"><small>Exemplaire de la console 0</small></p>

        <p><small>Nombre de jeux {{ nbGame }}</small></p>

      </div>

      <!-- ACTION -->
      <div class="core-right" *ngIf="plateform.id !== app.noPlateform.id">

        <!-- ACTION -->
        <div class="card-action" *ngIf="isPublic == false">
          <i (click)="setModal(plateform)" data-bs-toggle="modal" data-bs-target="#addPlatform" class="ri-add-circle-line"></i>
        </div>
      </div>

    </div>

  </div>
</div>


<!-- LOADING -->
<div id="squelette" class="card-wrapper" *ngIf="!plateform && state !== 'all'">
  <div class="card-game container d-flex">

    <!-- PICTURE -->
    <div class="card-left">
      <div class="color"></div>
    </div>

    <!-- INFO -->
    <div class="card-right d-flex">

      <!-- TEXT -->
      <div class="core-left">
        <div class="squellette-title"></div>
        <div class="squellette-platform"></div>
        <div class="squellette-date"></div>
      </div>

      <!-- ACTION -->
      <div class="core-right">
      </div>

    </div>

  </div>
</div>

<div style="margin-bottom: 45px" *ngIf="!isPublic"></div>
