<div
  [routerLink]="['/profil', user.id]"
  *ngIf="user"
  class="user-card-wrapper m-3"
>
  <div
    id="card-user"
    class="card-user p-3"
    [style.background]=" 'linear-gradient(180deg, ' + (user?.color ?? 'red') + ' 35%, white 35%)' "
  >
  <div class="circleImage" style="{{ this.app.generatePPUseritium(user?.pp?.url, user?.displayname_useritium || user.username, user?.color ) }}"></div>
    <h2 class="card-title mt-4">{{ user?.displayname_useritium || user?.username }}</h2>
    <small
      *ngIf="user?.displayname_useritium && user?.displayname_useritium !== user?.username"
      class="mt-1"
    >
      <img
        width="20px"
        src="https://tyrolium.fr/Contenu/Image/Useritium Site.png"
        alt="Useritium Logo"
      />
      {{ user?.username }}
    </small>

  </div>
</div>


