<article class="navigateBar">

  <ul class="scrollbar" style="background-color: {{ isColor }}">

    <!-- HOME PAGE -->
    <ng-container *ngIf="!task">
      <li routerLink="/profil/{{ profileId }}" class="active">
        <p>Tous</p>
      </li>
    </ng-container>
    <ng-container *ngIf="task">
      <li routerLink="/profil/{{ profileId }}">
        <p>Tous</p>
      </li>
    </ng-container>

    <!-- OTHER PAGE -->
    <ng-container *ngIf="plateformsUser">
      <ng-container *ngFor="let plateform of plateformsUser">

        <ng-container *ngIf="task == plateform.id">
          <li routerLink="/profil/{{ profileId }}/{{ plateform.id }}" class="active">
            <ng-container *ngIf="plateform.name !== plateform.abbreviation">
              <p>{{ plateform.name }} ({{ plateform.abbreviation }})</p>
            </ng-container>
            <ng-container *ngIf="plateform.name == plateform.abbreviation">
              <p>{{ plateform.name }}</p>
            </ng-container>
          </li>
        </ng-container>


        <ng-container *ngIf="task != plateform.id">
          <li routerLink="/profil/{{ profileId }}/{{ plateform.id }}">
            <ng-container *ngIf="plateform.name !== plateform.abbreviation">
              <p>{{ plateform.name }} ({{ plateform.abbreviation }})</p>
            </ng-container>
            <ng-container *ngIf="plateform.name == plateform.abbreviation">
              <p>{{ plateform.name }}</p>
            </ng-container>
          </li>
        </ng-container>

      </ng-container>
    </ng-container>

  </ul>

</article>
