<article class="navigateBar">

  <ul class="scrollbar" style="background-color: {{ isColor }}">

    <!-- HOME PAGE -->
    <ng-container *ngIf="!task">
      <li routerLink="/profil/{{ profileId }}" class="active">
        <p>Tous</p>
      </li>
    </ng-container>
    <ng-container *ngIf="task">
      <li routerLink="/profil/{{ profileId }}" [class.active]="task === 'hmg' || task === 'hmp'">
        <p>Tous</p>
      </li>
    </ng-container>

    <ng-container *ngIf="commonGameAvailable()">
      <li routerLink="/profil/{{ profileId }}/common-games" [class.active]="task === 'common-games'">
        <p>Jeux communs</p>
      </li>
    </ng-container>


    <!-- OTHER PAGE -->
    <ng-container *ngIf="plateformsUser">
      <ng-container *ngFor="let plateform of plateformsUser">

        <ng-container *ngIf="task == plateform.id">
          <li routerLink="/profil/{{ profileId }}/{{ plateform.id }}" class="active">
              <p>{{ this.app.plateformeNameFormatage(plateform.name) }}</p>
          </li>
        </ng-container>


        <ng-container *ngIf="task != plateform.id">
          <li routerLink="/profil/{{ profileId }}/{{ plateform.id }}">
            <p>{{ this.app.plateformeNameFormatage(plateform.name) }}</p>
          </li>
        </ng-container>

      </ng-container>
    </ng-container>

  </ul>

</article>
