.card{
  cursor: pointer;
  width: 336px;
  border: unset!important;
  box-shadow: 1px 2px 11px #a6a6a6;
  border-radius: 14px;
}

.card .card-img-top{
  object-fit: cover;
  max-width: 336px;
  max-height: 234px;
  border-radius: 14px;
  transition: transform 0.4s ease-out;
  will-change: transform;
}

.card .card-img-top:hover{
  transform: scale(1.03);
}

.card .card-body .card-hr{
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2.5px;
  padding-bottom: 4px;
}

.card .card-body hr{
  margin: 7px 0;
  opacity: 0.45;
}

.card .card-body {
  padding-top: 8px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
}

.card .card-body .btn{
  color: white;
  background-color: rgba(128, 128, 128, 0.50);
  box-shadow: 1px 2px 11px #a6a6a6;


  max-width: 180px;
  max-height: 40px;
}

.provider p{
  padding-top: 2.5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.card-title{
  margin-bottom: unset;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.provider-img{
  height: 24px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-top: 1px;
  border-radius: 100%;
  background-color: gray;
  /*background-image: url('https://i.pinimg.com/136x136/e2/cb/6a/e2cb6a3b2d418d4fca14f9ebd84a0c47.jpg');*/
  background-position: center;
  background-size: cover;
  margin-right: 7px;
}

.card-end{
  justify-content: space-between;
}
.card-end .card-i{
  font-size: 25px;
  gap: 2px;
}
.card-end .card-i .active i{
  color: rgba(255, 0, 0);
}

.icone-stat{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-direction: row;

  p{
    margin-top: 2px;
  }
}


/* LOADING */
#squelette {
  box-shadow: unset;

  /* IMG */
  .card-img-top:hover {
    transform: scale(1);
  }
  .card-img-top {
    background-color: gray;
    width: 336px;
    height: 189px;
  }

  /* TITRE */
  .card-title{
    height: 21px;
    background: gray;
    border-radius: 5px;
  }

  /* PROVIDER */
  .card-body .btn{
    width: 180px;
    background: transparent;
    box-shadow: unset;
  }

  .squel-provider{
    background-color: gray;
    width: 100px;
    height: 25px;
    border-radius: 5px;
  }

  i{
    color: gray!important;
  }

}


