<ng-container *ngIf="isYourProfil">
  <div class="isYourProfile sticky-top">

    <p> Il s'agit d'une preview de votre profile <i class="ri-pencil-line"></i><a routerLink="/mygame"> Revenir en mode editions</a></p>

  </div>
</ng-container>

<div id="profilPublic" style="background-color: {{ isColor }}">
  
  <div class="container">

  <div id="profilInfo" >

    <div class="d-flex">

      <div *ngIf="profilSelected?.picture" class="profilPhoto" style="background-image: url('{{ profilSelected?.picture }}')">
      </div>

      <div *ngIf="!profilSelected?.picture" class="profilPhoto" style="background-color: white!important">
        <p class="lettrePP" style="color: {{isColor}}">{{ extractFirstLetter(profilSelected?.displayname) }}</p>
      </div>

      <div class="wrapper">

        <div id="inWrapper">

          <div id="profilInfoLeft">

            <ng-container *ngIf="profilSelected && profilSelected.reseau && profilSelected.reseau.length > 0">
              <div class="articleInfoLeft" style="margin-top: 9px;">

                <h2>{{ profilSelected?.displayname }}
                  <ng-container *ngIf="badgeUserConnected">
                    <ng-container *ngFor="let badge of badgeUserConnected">
                      <img class="badgeIMG" src="{{ badge.picture?.url }}">
                    </ng-container>
                  </ng-container>
                </h2>
                <small><img class="useritiumPP" src="https://tyrolium.fr/Contenu/Image/Useritium Site.png"> {{ profilSelected?.username }}</small>

                <div class="articleReseau">

                  <ng-container *ngFor="let reseauOne of profilSelected?.reseau">

                    <a target="_blank" href="{{ reseauOne.url }}" class="icone-reseau {{ reseauOne.socialnetwork.icon_class }}"></a>

                  </ng-container>

                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="profilSelected && profilSelected.reseau && profilSelected.reseau.length == 0">

              <div class="articleInfoLeft"  style="margin-top: 27px;">
                <h2>{{ profilSelected?.displayname }}
                  <ng-container *ngIf="badgeUserConnected">
                    <ng-container *ngFor="let badge of badgeUserConnected">
                      <img class="badgeIMG" src="{{ badge.picture?.url }}">
                    </ng-container>
                  </ng-container>
                </h2>
                <small><img class="useritiumPP" src="https://tyrolium.fr/Contenu/Image/Useritium Site.png"> {{ profilSelected?.username }}</small>
              </div>

            </ng-container>

          </div>

          <div id="profilInfoRight">

            <div class="nb">

              <div>

                <h1 style="color: {{ isColor }}"> {{ profilSelected?.nbGame }}</h1>
                <h2> Jeux </h2>

              </div>

              <div>

                <h1  style="color: {{ isColor }}">  {{ profilSelected?.nbNote }} </h1>
                <h2> Note </h2>

              </div>
            </div>

          </div>

        </div>


      </div>


    </div>



  </div>

</div>
</div>

