<div class="card-wrapper" *ngIf="game !== null">
  <div class="card-game container d-flex" routerLink="/game/{{ game.id }}">

    <!-- PICTURE -->
    <div class="card-left">
      <ng-container *ngIf="game.image.icon_url == this.app.noBoxartImage_default">
        <div class="image" style="background-image: url({{ this.app.noBoxartImage }})"></div>
        <div class="blur"></div>
        <img src="{{ this.app.noBoxartImage }}" alt="...">
      </ng-container>
      <ng-container *ngIf="game.image.icon_url != this.app.noBoxartImage_default">
        <div class="image" style="background-image: url('{{ game.image.small_url }}')"></div>
        <div class="blur"></div>
        <img src="{{ game.image.small_url }}" alt="...">
      </ng-container>
    </div>

    <!-- INFO -->
    <div class="card-right d-flex">

      <!-- TEXT -->
      <div class="core-left">
        <h2>{{ game.name }}</h2>
        <p style="color: {{ this.app.userConnected?.themeColor || this.app.colorDefault }}" class="platform-names">
          <ng-container *ngFor="let platform of game.platforms; let last = last">
            {{ this.app.plateformeNameFormatage(platform.name) }}<span *ngIf="!last">, </span>
          </ng-container>
          <ng-container *ngIf="!game.platforms">
            {{ this.app.plateformeNameFormatage(this.app.noPlateform.name) }}
          </ng-container>
        </p>

        <ng-container *ngIf="game.originalReleaseDate">
          <small>
            Date de sortie : {{ game.originalReleaseDate | date:'dd / MM / yyyy' }}
          </small>
        </ng-container>
        <ng-container *ngIf="!game.originalReleaseDate && game.expectedReleaseYear">
          <small> Date de sortie :
            <ng-container *ngIf="game.expectedReleaseMonth">
              <ng-container *ngIf="game.expectedReleaseDay">
                {{ game.expectedReleaseDay }}
                /
              </ng-container>
              <ng-container *ngIf="game.expectedReleaseMonth < 10">
                0{{ game.expectedReleaseMonth }}
              </ng-container>
              <ng-container *ngIf="game.expectedReleaseMonth >= 10">
                {{ game.expectedReleaseMonth }}
              </ng-container>
              /
            </ng-container>
            {{ game.expectedReleaseYear }}
          </small>
        </ng-container>
        <ng-container *ngIf="!game.originalReleaseDate && !game.expectedReleaseYear">
          <small>Aucune date de sortie connue</small>
        </ng-container>
      </div>

      <!-- ACTION/NOTE -->
      <div class="core-right" *ngIf="!isDetailGame">
        <div class="card-note" style="background-color: {{this.app.userConnected?.themeColor || this.app.colorDefault}};">
           <p><span>{{ game.moyenRateUser || "na" }}</span>/20</p>
<!--          <p><span>{{rateAverage(fakeRates)}}</span>/20</p>-->
        </div>
      </div>

      <!-- FOR DETAIL GAME-->
      <div class="core-right-detail" *ngIf="isDetailGame">
        <button style="background-color: {{ this.app.userConnected.themeColor || this.app.colorDefault }}" class="main-gamenium-btn" (click)="setModal(game)" data-bs-toggle="modal" data-bs-target="#ajouteGamePage">
          <i class="ri-checkbox-circle-line"></i>Ajoutez à votre collection
        </button>
      </div>



    </div>

  </div>
</div>

<div class="card-wrapper" *ngIf="Hmg !== null && !Hmg.isDelete">
  <div class="card-game container d-flex">

    <!-- PINNED -->
    <div class="isPinned" style="background-color: {{ this.colorProfil || this.app.colorDefault }}" *ngIf="Hmg.myGame.is_pinned">
      <p><i class="ri-pushpin-fill"></i></p>
    </div>

    <!-- PICTURE -->
    <div class="card-left" (click)="selectViewMyGame(Hmg); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#viewGame">
      <ng-container *ngIf="Hmg.myGame.game.image.icon_url == this.app.noBoxartImage_default">
        <div class="image" style="background-image: url({{ this.app.noBoxartImage }})"></div>
        <div class="blur"></div>
        <img src="{{ this.app.noBoxartImage }}" alt="...">
      </ng-container>
      <ng-container *ngIf="Hmg.myGame.game.image.icon_url != this.app.noBoxartImage_default">
        <div class="image" style="background-image: url('{{ Hmg.myGame.game.image.small_url }}')"></div>
        <div class="blur"></div>
        <img src="{{ Hmg.myGame.game.image.small_url }}" alt="...">
      </ng-container>
    </div>

    <!-- INFO -->
    <div class="card-right d-flex">

      <!-- TEXT -->
      <div class="core-left" (click)="selectViewMyGame(Hmg); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#viewGame">
        <!-- NAME-->
        <h2>{{ Hmg.myGame.game.name }}</h2>

        <!-- PLATEFORME -->
        <p style="color: {{ this.colorProfil || this.app.colorDefault }}" class="platform-names">
          {{ this.app.plateformeNameFormatage(Hmg.myGame.plateform.name) }}
        </p>

        <p><small>Nombre d'exemplaire {{ Hmg.copyGame.length || "1*" }}</small></p>

        <ng-container *ngIf="Hmg.myGame.hmgTags.length > 0">
          <p id="tags"><small>

            <ng-container *ngFor="let oneTags of Hmg.myGame.hmgTags">
              <span class="badge" style="background-color: {{oneTags.color}}">{{ oneTags.name }}</span>
            </ng-container>

          </small></p>
        </ng-container>

        <!-- DATE D'AJOUT -->
        <p><small> Ajouté le : {{ Hmg.myGame.added_at | date:'dd / MM / yyyy' }} </small></p>
      </div>

      <!-- ACTION/NOTE -->
      <div class="core-right">

        <!-- NOTE -->
        <div class="card-note" style="background-color: {{this.colorProfil|| this.app.colorDefault}};">
          <p><span id="noteGame{{ Hmg.myGame.game.id }}">
            <!-- AUCUNE NOTE-->
            <ng-container *ngIf="!userRatingAll && !Hmg.tempNote">na</ng-container>

            <!-- IL Y A DES NOTE-->
            <ng-container *ngIf="userRatingAll && !Hmg.tempNote">

              <ng-container *ngIf="hasUserRatings(Hmg.myGame.game.id)"> <!-- VERIFIER SI IL EST NOTE-->
                <ng-container *ngFor="let userRating of userRatingAll"> <!-- REGARDER TOUTE LES NOTE -->
                  <ng-container *ngIf="userRating.game.id == Hmg.myGame.game.id">{{ userRating.rating }}</ng-container> <!-- AFFICHER LA NOTE CORRESPONDANTE-->
                </ng-container>
              </ng-container>

              <ng-container *ngIf="!hasUserRatings(Hmg.myGame.game.id)">na</ng-container> <!-- NA PAS TROUVER DE NOTE A CE JEUX-->

            </ng-container>

            <ng-container *ngIf="Hmg.tempNote">{{ Hmg.tempNote }}</ng-container>
          </span>/20</p>
        </div>

        <!-- ACTION -->
        <div class="card-action" *ngIf="this.app.userConnected.id == Hmg.myGame.user.id && isPublic == false">
          <i (click)="this.app.togglePin(Hmg); $event.stopPropagation()"
             [class.ri-unpin-line]="Hmg.myGame.is_pinned"
             [class.ri-pushpin-line]="!Hmg.myGame.is_pinned"></i>
          <i (click)="setModal(Hmg.myGame.game); $event.stopPropagation(); " data-bs-toggle="modal" data-bs-target="#noteGamePage" class="ri-star-line"></i>
          <i routerLink="/mygame/edit/{{ Hmg.id }}" class="ri-pencil-line"></i>
        </div>
      </div>

    </div>

  </div>
</div>


<!-- LOADING -->
<div id="squelette" class="card-wrapper" *ngIf="game == null && Hmg == null">
  <div class="card-game container d-flex">

    <!-- PICTURE -->
    <div class="card-left">
      <div class="color"></div>
    </div>

    <!-- INFO -->
    <div class="card-right d-flex">

      <!-- TEXT -->
      <div class="core-left">
        <div class="squellette-title"></div>
        <div class="squellette-platform"></div>
        <div class="squellette-date"></div>
      </div>

      <!-- ACTION/NOTE -->
      <div class="core-right">
        <div class="card-note">
          <p><span></span></p>
        </div>
      </div>

    </div>

  </div>
</div>

