<div class="modal fade text-center" id="viewGame" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-start">
          <ng-container *ngIf="this.app.viewMyGame?.myGame?.user?.id == this.app.userConnected?.id">
            <button type="button" class="no-btn">
              <i class="ri-unpin-line btn-action"></i>
            </button>
            <button type="button" class="no-btn" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#noteGame">
              <i class="ri-star-line btn-action"></i>
            </button>
            <button type="button" class="no-btn" data-bs-dismiss="modal" aria-label="Close" routerLink="edit/{{ this.app.viewMyGame?.myGame?.id }}">
              <i class="ri-pencil-line btn-action"></i>
            </button>
            <button type="button" class="no-btn" data-bs-dismiss="modal" aria-label="Close" (click)="deleteGame(this.app.viewMyGame?.myGame?.id)">
              <i class="ri-delete-bin-line btn-action"></i>
            </button>
          </ng-container>
        </div>
        <div class="modal-header-end">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>

      <section id="view-mygame" *ngIf="this.app.viewMyGame">

        <div id="head-img">
          <div class="banner-image pp-shadow">
            <div class="banner" style="background-image: url({{this.app.viewMyGame.myGame?.game?.image?.thumb_url}});"></div>
            <div class="blur"></div>
            <img class="back" src="{{ this.app.viewMyGame.myGame?.game?.image?.thumb_url }}" alt="blur">
          </div>
          <div class="separe-image"></div>
          <div class="screen-image" [ngStyle]="{'--color-variable': isColor}">
            <small>Image Utilisateur</small>
            <div class="screen-all">
              <ng-container *ngFor="let oneScreen of [].constructor(10)"> <!-- this.app.viewMyGame.screenshot-->
                <div class="screen-encard">
                  <img class="screen" [src]="this.app.viewMyGame.myGame?.game?.image?.screen_large_url" alt="userImage">
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div id="head-modal">

          <h2 class="titleGame">{{ this.app.viewMyGame.myGame?.game?.name }}</h2>

          <button class="btn btn-primary" routerLink="/game/{{ this.app.viewMyGame.myGame.game.id }}" data-bs-dismiss="modal">Voir le jeux</button>

        </div>



        <p *ngIf="this.app.viewMyGame.myGame">plateform : {{ this.app.plateformeNameFormatage(this.app.viewMyGame.myGame.plateform.name) }}</p>
        <p>épinglé : {{ this.app.viewMyGame?.myGame?.is_pinned || "Non épinglé" }}</p>
        <p>Date d'ajout : {{ this.app.viewMyGame?.myGame?.added_at }}</p>
        <p>User : {{ this.app.viewMyGame?.myGame?.user?.username }}</p>
        <p>Difficulty rating : {{ this.app.viewMyGame?.myGame?.difficulty_rating || "Non noté" }}</p>
        <p>Lifetime rating : {{ this.app.viewMyGame?.myGame?.lifetime_rating || "Non noté" }}</p>
        <p>Wish list : {{ this.app.viewMyGame?.myGame?.wish_list || "Non" }}</p>
        <p>Note Game : {{ this.app.viewMyGame?.rate?.rating || "Non noté" }}</p>
        <p>Nombre d'exemplaire  : {{ this.app.viewMyGame?.copyGame?.length || '1*' }}</p>

        <div>
          <h1>Exemplaire : </h1>
          <ng-container *ngIf="this.app.viewMyGame?.copyGame?.length === 0">
            <div style="border: 1px solid gray;border-radius: 10px">

              <p>Editions : null</p>
              <p>Barcode : null</p>
              <p>content : null</p>
              <p>Etat : null</p>
              <p>format : null</p>
              <p>region : null</p>
              <h5>Purchase :</h5>
              <p>price : null</p>
              <p>devise : null</p>
              <p>buy date : null</p>
              <p>buy where : null</p>
              <p>content purchase : null</p>

            </div>
          </ng-container>
          <ng-container *ngFor="let copyGame of app.viewMyGame?.copyGame">

            <div style="border: 1px solid gray;border-radius: 10px">

              <p>Editions : {{ copyGame.edition || "null" }}</p>
              <p>Barcode : {{ copyGame.barcode || "null" }}</p>
              <p>content : {{ copyGame.content || "null" }}</p>
              <ng-container *ngIf="copyGame.etat">
                <p>Etat : {{ copyGame.etat.name }}</p>
              </ng-container>
              <ng-container *ngIf="!copyGame.etat">
                <p>Etat : null</p>
              </ng-container>
              <ng-container *ngIf="copyGame.format">
                <p>format : {{ copyGame.format.name }}</p>
              </ng-container>
              <ng-container *ngIf="!copyGame.format">
                <p>format : null</p>
              </ng-container>
              <ng-container *ngIf="copyGame.region">
                <p>region : {{ copyGame.region.name }}</p>
              </ng-container>
              <ng-container *ngIf="!copyGame.region">
                <p>region : null</p>
              </ng-container>
              <h5>Purchase :</h5>
              <ng-container *ngIf="copyGame.purchase">
                <p>price : {{ copyGame.purchase.price || "null" }}</p>
                <ng-container *ngIf="copyGame.purchase.devise">
                  <p>devise : {{ copyGame.purchase.devise.symbole }}</p>
                </ng-container>
                <ng-container *ngIf="!copyGame.purchase.devise">
                  <p>devise : null</p>
                </ng-container>
                <p>buy date : {{ copyGame.purchase.buy_date || "null" }}</p>
                <ng-container *ngIf="copyGame.purchase.buy_where">
                  <p>buy where : {{ copyGame.purchase.buy_where.name }}</p>
                </ng-container>
                <ng-container *ngIf="!copyGame.purchase.buy_where">
                  <p>buy where : null</p>
                </ng-container>
                <p>content purchase : {{ copyGame.purchase.content || "null" }}</p>
              </ng-container>
              <ng-container *ngIf="!copyGame.purchase">
                <p>price : null</p>
                <p>devise : null</p>
                <p>buy date : null</p>
                <p>buy where : null</p>
                <p>content purchase : null</p>
              </ng-container>

            </div>

          </ng-container>
        </div>

      </section>


    </div>
  </div>
</div>

