<div class="modal fade text-center" id="viewGame" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-start">
          <ng-container *ngIf="this.app.viewMyGame?.myGame?.user?.id == this.app.userConnected?.id">
            <ng-container *ngIf="this.app.viewMyGame?.myGame?.is_pinned">
              <button type="button" class="no-btn pinnedBtn yourPinned">
                <i class="ri-pushpin-fill btn-action icon-default"></i>
                <i class="ri-unpin-fill btn-action icon-hovered"></i>
              </button>
            </ng-container>
            <ng-container *ngIf="!this.app.viewMyGame?.myGame?.is_pinned">
              <button type="button" class="no-btn">
                <i class="ri-pushpin-line btn-action"></i>
              </button>
            </ng-container>
            <button type="button" class="no-btn" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#noteGame">
              <i class="ri-star-line btn-action" [ngStyle]="{'color': this.app.viewMyGame?.rate?.rating ? '#f4da00' : 'gray'}"></i>
            </button>
            <button type="button" class="no-btn" data-bs-dismiss="modal" aria-label="Close" routerLink="edit/{{ this.app.viewMyGame?.myGame?.id }}">
              <i class="ri-pencil-line btn-action"></i>
            </button>
            <ng-container *ngIf="this.app.viewMyGame">
            <ng-container *ngIf="this.app.viewMyGame.myGame">
              <button type="button" class="no-btn" data-bs-dismiss="modal" aria-label="Close" (click)="this.app.deleteMyGame(this.app.viewMyGame.myGame.id)">
                <i class="ri-delete-bin-line btn-action"></i>
              </button>
            </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="this.app.viewMyGame?.myGame?.user?.id !== this.app.userConnected?.id">
            <ng-container *ngIf="this.app.viewMyGame?.myGame?.is_pinned">
              <button type="button" class="no-btn pinnedBtn">
                <i class="ri-pushpin-fill btn-action"></i>
              </button>
            </ng-container>
          </ng-container>
        </div>
        <div class="modal-header-end">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>

      <section id="view-mygame" *ngIf="this.app.viewMyGame">

        <div id="head-img">
          <div class="banner-image pp-shadow">
            <div class="banner" style="background-image: url({{this.app.viewMyGame.myGame?.game?.image?.thumb_url}});"></div>
            <div class="blur"></div>
            <img class="back" src="{{ this.app.viewMyGame.myGame?.game?.image?.thumb_url }}" alt="blur">
          </div>
          <div class="separe-image"></div>
          <div class="screen-image" [ngStyle]="{'--color-variable': isColor}">
            <small>Image Utilisateur</small>
            <div class="screen-all">
              <ng-container *ngFor="let oneScreen of [].constructor(10)"> <!-- this.app.viewMyGame.screenshot-->
                <div class="screen-encard">
                  <img class="screen" [src]="this.app.viewMyGame.myGame?.game?.image?.thumb_url" alt="userImage">
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div id="head-modal">

          <div>
            <h2 class="titleGame">{{ this.app.viewMyGame.myGame?.game?.name }}</h2>
            <small>Ajouté le {{ this.app.viewMyGame?.myGame?.added_at | date:'dd / MM / yyyy' }}</small>
          </div>


          <button class="main-gamenium-btn" routerLink="/game/{{ this.app.viewMyGame.myGame.game.id }}" data-bs-dismiss="modal">Voir le jeux</button>

        </div>


        <div id="content-view" class="blocks-shadow">

          <h3>Détail</h3>

          <div class="margContent">

            <ul class="ulInfo" *ngIf="this.app.viewMyGame.myGame">

              <ng-container *ngIf="this.app.viewMyGame.myGame.game">
              <li>
                <p>Plateforme : </p>
                <h3>{{ this.app.plateformeNameFormatage(this.app.viewMyGame.myGame.plateform.name) }}</h3>
              </li>
              <li>
                <p>Date de sortie : </p>
                <ng-container *ngIf="this.app.viewMyGame.myGame.game.originalReleaseDate">
                  <h3>{{ this.app.viewMyGame.myGame.game.originalReleaseDate | date: 'd MMMM y': undefined : 'fr' }}</h3>
                </ng-container>
                <ng-container *ngIf="!this.app.viewMyGame.myGame.game.originalReleaseDate">
                  <h3>
                    <ng-container *ngIf="this.app.viewMyGame.myGame.game?.expectedReleaseYear">
                      <ng-container *ngIf="this.app.viewMyGame.myGame.game?.expectedReleaseMonth">
                        <ng-container *ngIf="this.app.viewMyGame.myGame.game?.expectedReleaseDay">
                          {{ this.app.viewMyGame.myGame.game?.expectedReleaseDay }}
                          /
                        </ng-container>
                        <ng-container *ngIf="this.app.viewMyGame.myGame.game.expectedReleaseMonth < 10">
                          0{{ this.app.viewMyGame.myGame.game?.expectedReleaseMonth }}
                        </ng-container>
                        <ng-container *ngIf="this.app.viewMyGame.myGame.game.expectedReleaseMonth >= 10">
                          {{ this.app.viewMyGame.myGame.game?.expectedReleaseMonth }}
                        </ng-container>
                        /
                      </ng-container>
                      {{ this.app.viewMyGame.myGame.game?.expectedReleaseYear }}
                    </ng-container>
                  </h3>
                </ng-container>
              </li>
              </ng-container>

              <li>
                <p>Nombre d'exemplaire : </p>
                <h3>{{ this.app.viewMyGame?.copyGame?.length || '1*' }}</h3>
              </li>

              <li>
                <p>Note Game : </p>
                <h3>{{ this.app.viewMyGame?.rate?.rating || 'Non noté' }}<small *ngIf="this.app.viewMyGame?.rate?.rating">/20</small></h3>
              </li>

              <ng-container *ngIf="this.app.viewMyGame?.myGame?.difficulty_rating">
                <li>
                  <p>Difficulty rating : </p>
                  <ng-container *ngIf="this.app.viewMyGame?.myGame?.difficulty_rating == 1">
                    <h3><i class="ri-star-fill"></i><i class="ri-star-line"></i><i class="ri-star-line"></i><i
                      class="ri-star-line"></i><i class="ri-star-line"></i></h3>
                  </ng-container>
                  <ng-container *ngIf="this.app.viewMyGame?.myGame?.difficulty_rating == 2">
                    <h3><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-line"></i><i
                      class="ri-star-line"></i><i class="ri-star-line"></i></h3>
                  </ng-container>
                  <ng-container *ngIf="this.app.viewMyGame?.myGame?.difficulty_rating == 3">
                    <h3><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i
                      class="ri-star-line"></i><i class="ri-star-line"></i></h3>
                  </ng-container>
                  <ng-container *ngIf="this.app.viewMyGame?.myGame?.difficulty_rating == 4">
                    <h3><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i
                      class="ri-star-fill"></i><i class="ri-star-line"></i></h3>
                  </ng-container>
                  <ng-container *ngIf="this.app.viewMyGame?.myGame?.difficulty_rating == 5">
                    <h3><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i
                      class="ri-star-fill"></i><i class="ri-star-fill"></i></h3>
                  </ng-container>
                </li>
              </ng-container>

              <ng-container *ngIf="this.app.viewMyGame?.myGame?.lifetime_rating">
                <li>
                  <p>Lifetime rating : </p>
                  <ng-container *ngIf="this.app.viewMyGame?.myGame?.lifetime_rating == 1">
                    <h3><i class="ri-star-fill"></i><i class="ri-star-line"></i><i class="ri-star-line"></i><i
                      class="ri-star-line"></i><i class="ri-star-line"></i></h3>
                  </ng-container>
                  <ng-container *ngIf="this.app.viewMyGame?.myGame?.lifetime_rating == 2">
                    <h3><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-line"></i><i
                      class="ri-star-line"></i><i class="ri-star-line"></i></h3>
                  </ng-container>
                  <ng-container *ngIf="this.app.viewMyGame?.myGame?.lifetime_rating == 3">
                    <h3><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i
                      class="ri-star-line"></i><i class="ri-star-line"></i></h3>
                  </ng-container>
                  <ng-container *ngIf="this.app.viewMyGame?.myGame?.lifetime_rating == 4">
                    <h3><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i
                      class="ri-star-fill"></i><i class="ri-star-line"></i></h3>
                  </ng-container>
                  <ng-container *ngIf="this.app.viewMyGame?.myGame?.lifetime_rating == 5">
                    <h3><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i class="ri-star-fill"></i><i
                      class="ri-star-fill"></i><i class="ri-star-fill"></i></h3>
                  </ng-container>
                </li>
              </ng-container>

              <!--<p>Wish list : {{ this.app.viewMyGame?.myGame?.wish_list || "Non" }}</p>-->

              <!-- SI YA UN SEUL EXEMPLAIRE -->
              <ng-container *ngIf="this.app.viewMyGame?.copyGame?.length === 1">
                <ng-container *ngFor="let copyGame of app.viewMyGame?.copyGame">

                  <li *ngIf="copyGame.edition">
                    <p>Editions : </p>
                    <h3>{{ copyGame.edition }}</h3>
                  </li>

                  <li *ngIf="copyGame.barcode">
                    <p>Barcode : </p>
                    <h3>{{ copyGame.barcode }}</h3>
                  </li>

                  <li *ngIf="copyGame.content">
                    <p>Description : </p>
                    <h3>{{ copyGame.content }}</h3>
                  </li>

                  <li *ngIf="copyGame.etat">
                    <p>Etat : </p>
                    <h3>{{ copyGame.etat.name }}</h3>
                  </li>

                  <li *ngIf="copyGame.format">
                    <p>format : </p>
                    <h3>{{ copyGame.format.name }}</h3>
                  </li>

                  <li *ngIf="copyGame.region">
                    <p>region : </p>
                    <h3>{{ copyGame.region.name }}</h3>
                  </li>

                    <h5>Purchase :</h5>
                    <ng-container *ngIf="copyGame.purchase">
                      <p>price : {{ copyGame.purchase.price || "null" }}</p>
                      <ng-container *ngIf="copyGame.purchase.devise">
                        <p>devise : {{ copyGame.purchase.devise.symbole }}</p>
                      </ng-container>
                      <ng-container *ngIf="!copyGame.purchase.devise">
                        <p>devise : null</p>
                      </ng-container>
                      <p>buy date : {{ copyGame.purchase.buy_date || "null" }}</p>
                      <ng-container *ngIf="copyGame.purchase.buy_where">
                        <p>buy where : {{ copyGame.purchase.buy_where.name }}</p>
                      </ng-container>
                      <ng-container *ngIf="!copyGame.purchase.buy_where">
                        <p>buy where : null</p>
                      </ng-container>
                      <p>content purchase : {{ copyGame.purchase.content || "null" }}</p>
                    </ng-container>
                    <ng-container *ngIf="!copyGame.purchase">
                      <p>price : null</p>
                      <p>devise : null</p>
                      <p>buy date : null</p>
                      <p>buy where : null</p>
                      <p>content purchase : null</p>
                    </ng-container>


                </ng-container>
              </ng-container>


            </ul>

            <div>
              <h1>Exemplaire : </h1>
              <ng-container *ngIf="this.app.viewMyGame?.copyGame?.length === 0">
                <div style="border: 1px solid gray;border-radius: 10px">

                  <p>Editions : null</p>
                  <p>Barcode : null</p>
                  <p>content : null</p>
                  <p>Etat : null</p>
                  <p>format : null</p>
                  <p>region : null</p>
                  <h5>Purchase :</h5>
                  <p>price : null</p>
                  <p>devise : null</p>
                  <p>buy date : null</p>
                  <p>buy where : null</p>
                  <p>content purchase : null</p>

                </div>
              </ng-container>
              <ng-container *ngFor="let copyGame of app.viewMyGame?.copyGame">

                <div style="border: 1px solid gray;border-radius: 10px">

                  <p>Editions : {{ copyGame.edition || "null" }}</p>
                  <p>Barcode : {{ copyGame.barcode || "null" }}</p>
                  <p>content : {{ copyGame.content || "null" }}</p>
                  <ng-container *ngIf="copyGame.etat">
                    <p>Etat : {{ copyGame.etat.name }}</p>
                  </ng-container>
                  <ng-container *ngIf="!copyGame.etat">
                    <p>Etat : null</p>
                  </ng-container>
                  <ng-container *ngIf="copyGame.format">
                    <p>format : {{ copyGame.format.name }}</p>
                  </ng-container>
                  <ng-container *ngIf="!copyGame.format">
                    <p>format : null</p>
                  </ng-container>
                  <ng-container *ngIf="copyGame.region">
                    <p>region : {{ copyGame.region.name }}</p>
                  </ng-container>
                  <ng-container *ngIf="!copyGame.region">
                    <p>region : null</p>
                  </ng-container>
                  <h5>Purchase :</h5>
                  <ng-container *ngIf="copyGame.purchase">
                    <p>price : {{ copyGame.purchase.price || "null" }}</p>
                    <ng-container *ngIf="copyGame.purchase.devise">
                      <p>devise : {{ copyGame.purchase.devise.symbole }}</p>
                    </ng-container>
                    <ng-container *ngIf="!copyGame.purchase.devise">
                      <p>devise : null</p>
                    </ng-container>
                    <p>buy date : {{ copyGame.purchase.buy_date || "null" }}</p>
                    <ng-container *ngIf="copyGame.purchase.buy_where">
                      <p>buy where : {{ copyGame.purchase.buy_where.name }}</p>
                    </ng-container>
                    <ng-container *ngIf="!copyGame.purchase.buy_where">
                      <p>buy where : null</p>
                    </ng-container>
                    <p>content purchase : {{ copyGame.purchase.content || "null" }}</p>
                  </ng-container>
                  <ng-container *ngIf="!copyGame.purchase">
                    <p>price : null</p>
                    <p>devise : null</p>
                    <p>buy date : null</p>
                    <p>buy where : null</p>
                    <p>content purchase : null</p>
                  </ng-container>

                </div>

              </ng-container>
            </div>

          </div>
        </div>

      </section>


    </div>
  </div>
</div>

