
.head-provider,
.end-provider,
.middle-provider{
  display: flex;
  align-items: center;
}

.head-provider{
  gap: 10px;
  width: 35%;
}
.middle-provider{
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.end-provider{
  width: 30%;
  justify-content: flex-end;
  button{
    font-size: 12px;
  }
}

.oneProvider {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

@media (max-width: 710px) {
  .oneProvider{
    flex-direction: column;
    border-bottom: 1px solid gray;

    .head-provider,
    .middle-provider,
    .end-provider{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

}

.provider-img {
  width: 50px;
  height: 50px;
  max-width: 50px;
  min-width: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 9px #888;
  cursor: pointer;
}

.providerAll{
  padding: 30px;
  align-content: center;
}

