<div class="modal fade text-center" id="providerModal" tabindex="-1" aria-labelledby="providerModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <!-- BAR -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gérer mes abonnements</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- CONTENU -->
      <div class="providerAll">
          <div class="oneProvider" *ngFor="let provider of providerFollowed">

            <div data-bs-dismiss="modal" class="head-provider" routerLink="/provider/{{ provider.id }}">
              <div class="provider-img" style="background-image: url('{{ provider.picture?.url }}')"></div>
              <h3>{{provider.displayName}}</h3>
            </div>

            <div class="middle-provider">
              <p>{{getNbOfActu(provider.id)}} actualités</p>
              <small>Dernier post le {{(lastPostDate(provider.id) | date:'dd / MM / yyyy') ?? 'Pas actu'}}</small>
            </div>

            <div class="end-provider">
              <button class="sub-gamenium-btn" style="color: {{ this.app.userConnected.themeColor || this.app.colorDefault }}; border-color: {{ this.app.userConnected.themeColor || this.app.colorDefault }}" (click)="unfollowProvider(provider.id)">Ne plus suivre</button>
            </div>

          </div>
      </div>

    </div>
  </div>

</div>



