<ng-container *ngIf="!noneProvider">

  <div id="provider" style="background-color: {{ providerSelected?.color }}54">
    <div id="providerInfo" >
      <div class="d-flex">

        <div class="provider-main">
          <div class="logoprovider" style="background-image: url('{{ providerSelected?.picture?.url }}');"></div>

          <div class="wrapper">
            <div id="infos">
                <div id="displayname">
                  <h1>{{ providerSelected?.displayName }}</h1>
                </div>
                <div class="border-provider-main"></div>
                <div class="follower-container">
                  <div id="followers">
                    <h2 style="color: {{ providerSelected?.color }}">{{providerNbFollower}}</h2>
                     <h3> {{providerNbFollower && providerNbFollower >= 2 ? 'Abonnés' : 'Abonné'}} </h3>
                  </div>

                 <div id="nb_actus">
                   <h2 style="color: {{ providerSelected?.color }}">{{providerNbActu}}</h2>
                   <h3> {{providerNbActu && providerNbActu >= 2 ? 'Actus' : 'Actu'}} </h3>
                 </div>
                </div>
            </div>

            <div id="button_follow">
              <button
                id="button-follow-text"
                class="main-gamenium-btn"
                type="button"
                style="background-color: {{ providerSelected?.color }}"
                (click)="followBtnClick(providerId)"
                (mouseleave)="followBtnMouseLeave()"
                (mouseenter)="followBtnMouseEnter()">
                {{isProviderFollowedByUser ? 'Suivie' : 'Suivre'}}
              </button>
            </div>
          </div>
        </div>
          <section id="provider_infos">

            <div class="info-container">
            <div
            [class.mb-4]="providerSelected?.joindeAt"
            id="info-details-container">
                <div id="infos_details">
                  <h3 class="firsttext" *ngIf="providerSelected?.founded_at">Création</h3>
                  <h3 class="firsttext" *ngIf="providerSelected?.country">Pays</h3>
                  <h3 class="firsttext" *ngIf="providerNbGame">Nombre de jeux</h3>
                  <h3 class="firsttext">Nombre d'actualités</h3>
                  <h3 class="firsttext">Nombre d'abonnés</h3>
                </div>

                <div id="infos_details_values">
                  <h2 class="secondtext" style="color: {{ providerSelected?.color }}" *ngIf="providerSelected?.founded_at">{{ providerSelected?.founded_at }}</h2>
                  <h2 class="secondtext" style="color: {{ providerSelected?.color }}" *ngIf="providerSelected?.country">
                    {{ this.app.getVariableCountryLang(providerSelected?.country) }}
                    <ng-container *ngIf="providerSelected?.country?.icon">
                      <span class="flag-shadow {{ providerSelected?.country?.icon }}"></span>
                    </ng-container>
                  </h2>
                  <h2 class="secondtext" style="color: {{ providerSelected?.color }}" *ngIf="providerNbGame">{{providerNbGame && providerNbGame >= 2 ? providerNbGame + ' jeux' : providerNbGame + ' jeu'}}</h2>
                  <h2 class="secondtext" style="color: {{ providerSelected?.color }}">{{ providerNbActu && providerNbActu >= 2 ? providerNbActu + ' actualités' : providerNbActu + ' actualité' || "0 actualité"}}</h2>
                  <h2 class="secondtext" style="color: {{ providerSelected?.color }}">{{providerNbFollower && providerNbFollower >= 2 ? providerNbFollower + ' abonnés' : providerNbFollower + ' abonné' || "0 abonné"}}</h2>
                </div>
            </div>
              <div id="joinedAt" *ngIf="providerSelected?.joindeAt">
                <img src="../../../assets/logo.png" alt="logo_gamenium">
                <div class="joined-text">
                  <h2 style="color: {{ providerSelected?.color }}"> à rejoint Gamenium le <span style="color: #575757;">{{ providerSelected?.joindeAt | date: 'd MMMM y': undefined : 'fr'}}</span></h2>
                </div>
              </div>
            </div>
          </section>

          <section id="last_actus"><!-- Dernières Actualités liées au Provider -->
            <div>
              <div class="actu-titre">
                <h1>Dernières actualités</h1>
              </div>

              <!-- /// Carte actu /// appelle le composant /// -->
               <div>
                 <app-view-actuality
                 (nbActuOfProvider)="updateNbProviderActu($event)">
                 </app-view-actuality>
               </div>
            </div>
          </section>

      </div>
    </div>
  </div>


<!-- <p>Color : <i style="color: {{ providerSelected?.color }}; font-size: 100px" class="ri-checkbox-blank-fill"></i></p> -->



<!-- <ng-container *ngIf="noneProvider">
  <app-none></app-none>
</ng-container>
<ng-container *ngIf="!noneProvider">


  <img width="60px" src="{{ providerSelected?.picture?.url }}">

  <h1>{{ providerSelected?.displayName }}</h1>
  <h2>{{ providerSelected?.tagName }}</h2>
  <p>{{ providerSelected?.content }}</p>
  <p>J : {{ providerSelected?.joindeAt }}</p>

  <p>Color : <i style="color: {{ providerSelected?.color }}; font-size: 100px" class="ri-checkbox-blank-fill"></i></p>








</ng-container> -->

