
/* Informations Principales du Provider */

#provider{
    height: 183px;
    width: 100%;
    box-shadow: 0px 0px 8px #00000082;
    margin-bottom: 183px;
    background-color: white;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
}

#providerInfo{
    position: absolute;
    width: 100%;
    padding: 0 42px;
}

#provider .d-flex{
    /*background-color: rgba(138, 43, 226, 0.66);*/
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 120px;
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}

#provider .logoprovider{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-top: -50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    box-shadow: 2px 2px 9px #888;
}

#provider .wrapper{
    background-color: white;
    box-shadow: 1px 2px 11px #a6a6a6;
    border-radius: 15px;
    height: fit-content;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#infos {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

#displayname {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: anywhere;
    margin: 20px;
    max-width: 280px;
    min-width: 280px;
}

#displayname h1 {
    margin: 0;
}

.follower-container {
    margin: 0 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
}

#followers {
    display: inline-block;
    text-align: center;
    align-content: center
    /* border-left: 2px solid; */
    /* padding: 20px;
    margin: 20px; */
}

#nb_actus {
    display: inline-block;
    text-align: center;
    align-content: center
    /* padding: 20px;
    margin: 20px; */
}

#button_follow {
    height: 0;
}

#button_follow button {
    font-family: arial, serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 22px;
    box-shadow: 2px 2px 9px #888888;
    padding: 5px 0px;
    border-radius: 15px;
    border: 0 solid #FFFFFF;
    width: 280px;
    position: relative;
    left: 30%;
    top: -25px;
}

/* Informations Détaillées du Provider */

#provider_infos {
    margin: 0 auto;
    padding: 20px;
}

#info-details-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    /* padding-top: 70px; */
    gap: 30px;
}

.info-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;
    width: 800px;
    box-shadow: 1px 2px 11px #a6a6a6;
    border-radius: 15px;
    padding: 25px;
    /* display: flex; */
    flex-wrap: wrap;
    gap: 30px;
    /* align-items: center; */
    /* text-align: center; */
}

/* #informations h3 {
    text-align: left;
} */

#joinedAt {
    width: 800px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#joinedAt p {
    margin: 0;
    align-content: center;
}

#joinedAt img {
    height: 30px;
    margin-right: 15px;
}

.joined-text {
    display: flex;
    gap: 5px;
}

#last_actus {
    /* width: 800px; */
}

.provider-main {
    display: flex;
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    gap: 100px;
}

.border-provider-main {
    width: 1px;
    background-color: black;
    margin: 3% 0;
}