
/* SEARCH BAR */

@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.search {
  position: relative;
  width: 90%;
  margin: 20px auto;
  --userColor: red;
}
.search:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  line-height: 67px;
  font-size: 40px;
  font-family: 'FontAwesome';
  content: '\f002';
  background: var(--userColor);
  text-align: center;
  color: #fff;
  border-radius: 63px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smooth: always;

  box-shadow: 1px 2px 11px #a6a6a6;
  margin: 10px;
}

.searchTerm {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid red;
  padding: 5px;
  height: 95px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  outline: none;
  box-shadow: 1px 2px 11px #a6a6a6;
  font-size: 20px;
}

.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  opacity: 0;
  cursor: pointer;
}

.main-gamenium-btn{
  width: 100%;
}


/* GAME */
#show-game{
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;

  margin-bottom: 120px;
  max-width: 1287px;
}

/* USER */
#card-user .circleImage{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 9px #888;
}

#card-user {
  width: 16rem;
  height: 16rem;
  border: unset!important;
  box-shadow: 1px 2px 11px #a6a6a6;
  border-radius: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* PROVIDER */

#card-provider .circleImage{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 9px #888;
}

#card-provider {
  width: 16rem;
  height: 16rem;
  border: unset!important;
  box-shadow: 1px 2px 11px #a6a6a6;
  border-radius: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
}