<form
  class="search"
  (ngSubmit)="onSearch()"
  #searchForm="ngForm"
  [ngStyle]="{ '--userColor': userColor }"
>
  <input
    #input
    (keyup)="onSearchTap(input.value)"
    (keyup.enter)="onSearch()"
    class="searchTerm"
    name="searchValue"
    [(ngModel)]="searchValue"
    placeholder="Tapez votre recherche ..."
    [style.borderColor]="userColor"
  />
  <input class="searchButton" type="submit" />
</form>

<div id="show-game" class="d-flex container">

  <div id="providerExact">
    <!-- <div routerLink="/provider/{{ provider.id }}">
      <div id="card-provider" style="background: linear-gradient(180deg, {{provider.color ?? 'red'}} 35%, white 35%)">
        <div class="circleImage" style="background-image: url('{{ provider.picture?.url }}');"></div>
        <h2 class="card-title">{{ provider.displayName }}</h2><br>
        <p>{{ provider.content }}</p><br>
      </div> -->
  </div>

  <app-card-game *ngFor="let game of games" [game]="game" style="width: 100%"></app-card-game>

  <div id="provider-user">
    <ng-container *ngFor="let provider of providers">
      <div routerLink="/provider/{{ provider.id }}" *ngIf="providerExact?.tagName != searchValue">
        <div id="card-provider" style="background: linear-gradient(180deg, {{provider.color ?? 'red'}} 35%, white 35%)">
          <div class="circleImage" style="background-image: url('{{ provider.picture?.url }}');"></div>
          <h2 class="card-title">{{ provider.displayName }}</h2><br>
          <p>{{ provider.content }}</p><br>
        </div>

      </div>

    </ng-container>

    <ng-container *ngFor="let user of users">

      <div routerLink="/profil/{{ user.id }}" *ngIf="user.id != this.app.userConnected.id">
        <div id="card-user" style="background: linear-gradient(180deg, {{user.color ?? 'red'}} 35%, white 35%)">
          <div class="circleImage" style="{{ this.app.generatePPUseritium(user?.pp?.url, user?.displayname_useritium || user.username, user?.color ) }}"></div>
          <h2 class="card-title mt-4">{{ user.displayname_useritium || user.username }}</h2>
          <small *ngIf="user.displayname_useritium && user.displayname_useritium !== user.username"><img width="20px" src="https://tyrolium.fr/Contenu/Image/Useritium Site.png">{{ user.username }}</small><br>
        </div>

      </div>

    </ng-container>
  </div>

  <button id="moreGameBTN" class="container main-gamenium-btn" (click)="moreGame()" style="display: none; background-color: {{ userColor }}">Voir plus</button>

</div>

