<div style="height: 153px;width: 100%"></div>
<form
  class="search fixed-top"
  (ngSubmit)="onSearch()"
  #searchForm="ngForm"
  [ngStyle]="{ '--userColor': userColor }"
>
  <input
    #input
    (keyup)="onSearchValueChange($event)"
    (keyup.enter)="onSearch()"
    class="searchTerm"
    name="searchValue"
    [(ngModel)]="searchValue"
    placeholder="Tapez votre recherche ..."
    [ngStyle]="{ '--color': userColor ?? this.app.colorDefault }"
  />
  <input class="searchButton" type="submit" />
</form>

<div id="show-game" class="container">

  <!-- LOADING -->
<!--  <div *ngIf="isLoading;" class="laoding-search">-->
<!--    <div class="spinner-border" role="status">-->
<!--      <span class="visually-hidden">Loading...</span>-->
<!--    </div>-->
<!--  </div>-->

  <section id="content-search">

    <!-- PROVIDER -->
    <div id="provider" [class.displayNone]="providers.length === 0">

      <ng-container *ngFor="let provider of providers">
        <div routerLink="/provider/{{ provider.id }}">
          <div id="card-provider" style="background: linear-gradient(180deg, {{provider.color ?? 'red'}} 35%, white 35%)">
            <div class="circleImage" style="background-image: url('{{ provider.picture?.url }}');"></div>
            <h2 class="card-title">{{ provider.displayName }}</h2><br>
            <p>{{ provider.content }}</p><br>
          </div>
        </div>
      </ng-container>

    </div>

    <!-- JEUX -->
    <app-card-game *ngFor="let game of games" [game]="game" style="width: 100%"></app-card-game>

    <!-- LOADING -->
    <ng-container *ngIf="isLoading">
      <app-card-game *ngFor="let game of [].constructor(50);" style="width: 100%"></app-card-game>
    </ng-container>

    <!-- USER -->
    <div id="user" [class.displayNone]="providers.length === 0">

      <ng-container *ngFor="let user of users">
        <app-card-profil *ngIf="user.id !== app.userConnected?.id"
          [user]="user"
          [currentUser]="app.userConnected"
        ></app-card-profil>
      </ng-container>

    </div>

    <button id="moreGameBTN" class="container main-gamenium-btn" (click)="moreGame()" style="display: none; background-color: {{ userColor }}">Voir plus</button>

  </section>

</div>

