<div class="modal fade text-center" id="noteGamePage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="noteGamePage2" #noteGamePage2="ngForm" (ngSubmit)="this.app.addNote(noteGamePage2)" class="modal-body" style="padding-top: 40px;">

        <h2>Ajoutez une note à votre jeu</h2>

        <br>
        <h5><span style="color: red">*</span>Recherchez un jeu :</h5>
        <input *ngIf="this.app.gameSelected" type="text" placeholder="Votre jeu" disabled value="{{ this.app.gameSelected?.name }}">
        <input *ngIf="!this.app.gameSelected" type="text" placeholder="Tapez pour rechercher un jeu" name="searchValue" ngModel (keyup)="this.onSearchValueChange($event)">
        <br>

        <div *ngIf="this.searchResults && this.searchResults.length > 0 && !this.app.gameSelected" class="row-search-game">
          <app-card-game-sub *ngFor="let result of this.searchResults" [game]="result" (click)="this.app.selectGame(result)"></app-card-game-sub>
        </div>

        <div *ngIf="isFirstSearch && this.searchResults && this.searchResults.length === 0">
          <p>Aucun résultat trouvé.</p>
        </div>

        <ng-container *ngIf="this.app.gameSelected">

          <br>
          <h6><span style="color: red">*</span>Note de votre jeu :</h6>
          <input type="number" placeholder="10" name="noteGame" ngModel>/20

        </ng-container>

        <div class="modal-footer" style="margin-top: 74px;">
          <button type="submit" class="main-gamenium-btn" style="background-color: {{ this.app.userConnected?.themeColor || this.app.colorDefault }}" data-bs-dismiss="modal">Enregistrer</button>
          <button type="button" class="main-gamenium-btn" style="background-color: gray" data-bs-dismiss="modal">Fermer</button>
        </div>

      </form>
    </div>
  </div>
</div>
