<div class="modal fade text-center" id="ajouteGamePage" tabindex="-1" aria-labelledby="addGameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addGameForm" #addForm="ngForm" (ngSubmit)="this.app.addGame(addForm)" class="modal-body" style="padding-top: 40px;">

        <h2>Ajoutez un jeu à votre liste</h2>

        <br>
        <h5><span style="color: red">*</span>Recherchez un jeu :</h5>
        <input *ngIf="this.app.gameSelected" type="text" placeholder="Votre jeu" disabled value="{{ this.app.gameSelected?.name }}">
        <input *ngIf="!this.app.gameSelected" type="text" placeholder="Tapez pour rechercher un jeu" name="searchValue" ngModel (keyup)="this.app.onSubmitSearch(addForm)">
        <br>

        <div *ngIf="this.app.searchResults && this.app.searchResults.length > 0 && !this.app.gameSelected" class="row">
          <div class="col-md-4" *ngFor="let result of this.app.searchResults">
            <div class="card mb-4 shadow-sm" (click)="this.app.selectGame(result)">
              <img [src]="result.image.icon_url" class="bd-placeholder-img card-img-top" alt="Image du jeu">
              <div class="card-body">
                <p class="card-text">{{ result.name }}</p>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="this.app.searchResults && this.app.searchResults.length === 0">
          <p>Aucun résultat trouvé.</p>
        </div>

        <ng-container *ngIf="this.app.gameSelected">

          <br>
          <h6><span style="color: red">*</span>Plateforme :</h6>
          <ng-container *ngIf="this.app.gameSelected.platforms">
            <ng-container *ngIf="this.app.gameSelected.platforms.length == 1">
              <ng-container *ngFor="let plateformOne of this.app.gameSelected?.platforms">
                <input type="hidden" [value]="plateformOne.id" name="plateform_id" ngModel>
                {{ plateformOne.name }}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="this.app.gameSelected.platforms.length > 1">
              <select id="plateform" name="plateform_id" ngModel>
                <option value="">Choissir une plateforme</option>
                <ng-container *ngFor="let plateformOne of this.app.gameSelected?.platforms">
                  <option [value]="plateformOne.id">{{ plateformOne.name }}</option>
                </ng-container>
              </select>
            </ng-container>
          </ng-container>
          <br>
          <br>
          <h6>Épinglez ce jeu :</h6>
          <input type="checkbox" name="pinnedGame" ngModel><br>
          <br>
          <h6>Ajoutez le jeux dans la liste de vos souhaite :</h6>
          <input type="checkbox" name="whishListGame" ngModel><br>
          <br>
          <h6>Quand avez-vous obtenu ce jeu :</h6>
          <input type="date" name="buyAt" ngModel>
          <br>
          <br>
          <h6>Ou à tu obtenu ton jeux :</h6>
          <ng-container *ngIf="buyWhereAll">
            <select id="buy_where" name="buyWhere" ngModel>
              <option value="">Choissir une Buy Where</option>
              <ng-container *ngFor="let buyWhereOne of buyWhereAll">
                <option [value]="buyWhereOne.id">{{ buyWhereOne.name }}</option>
              </ng-container>
            </select>
          </ng-container>


        </ng-container>

        <div class="modal-footer" style="margin-top: 74px;">
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Enregistrer</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>

      </form>
    </div>
  </div>
</div>
