    <!-- GESTION PLATEFORM-->
    <ng-container *ngIf="app.tempHmpAdd && foundPlatform && app.tempHmpAdd.myPlateform.plateform.id == foundPlatform.id && btnPlatform != 'all'">
      <app-card-platform [nbGame]="HistoireMyGameByUserByPlateform.length" [plateform]="foundPlatform" [hmp]="app.tempHmpAdd" [state]="btnPlatform" [colorProfil]="app.userConnected?.themeColor || app.colorDefault" class="card-platform"></app-card-platform>
    </ng-container>
    <ng-container *ngIf="!app.tempHmpAdd && btnPlatform != 'all' || app.tempHmpAdd && foundPlatform && app.tempHmpAdd.myPlateform.plateform.id != foundPlatform.id && btnPlatform != 'all'">
      <app-card-platform [nbGame]="HistoireMyGameByUserByPlateform.length || null" [plateform]="foundPlatform" [hmp]="foundHmp" [state]="btnPlatform" [colorProfil]="app.userConnected?.themeColor || app.colorDefault" class="card-platform"></app-card-platform>
    </ng-container>
    <ng-container *ngIf="btnPlatform == 'all'">
      <app-card-platform [nbGame]="HistoireMyGameByUserByPlateform.length || null" [state]="'all'" class="card-platform card-platform-all"></app-card-platform>
    </ng-container>

    <small> debug : </small><br>
    <small>{{btnPlatform}}</small><br>
    <small>{{HistoireMyGameByUserByPlateform.length}}</small>

    <!-- SECTION BARRE DE RECHERCHE -->
    <div class="search-container container" [ngStyle]="{ '--color': app.userConnected?.themeColor || app.colorDefault }">
      <div class="icon-container" [ngStyle]="{ 'background-color': app.userConnected?.themeColor || app.colorDefault }">
        <i class="ri-search-2-line ico1"></i>
      </div>
      <input
        type="text"
        class="search-input"
        placeholder="Recherche dans vos jeux"
        [(ngModel)]="searchQuery"
        (input)="filterGames()"
      />

      <div class="filter-dropdown">
        <button class="filter-button" (click)="toggleFilterDropdown()">
          <i *ngIf="!isFilterApplied()"class="ri-filter-line"></i>
          <i *ngIf="isFilterApplied()"class="ri-filter-fill"></i>
        </button>
        <div class="dropdown-menu" *ngIf="isFilterDropdownOpen">
          <button (click)="setSortOption('name-asc')">Nom (A-Z)</button>
          <button (click)="setSortOption('name-desc')">Nom (Z-A)</button>
          <button (click)="setSortOption('year-asc')">Année de sortie (Croissant)</button>
          <button (click)="setSortOption('year-desc')">Année de sortie (Décroissant)</button>
          <button (click)="setSortOption('added-asc')">Date d'ajout (Croissant)</button>
          <button (click)="setSortOption('added-desc')">Date d'ajout (Décroissant)</button>
          <button (click)="setSortOption('')">Réinitialiser</button>
        </div>
      </div>
    </div>

<!-- SECTION POUR JEUX FILTRER OU RECHERCHER -->
<div id="show-game" class="d-flex container" *ngIf="getAllGamesToDisplay().length > 0">
    <app-card-game *ngFor="let myGameHistorique of getAllGamesToDisplay()" [Hmg]="myGameHistorique" [colorProfil]="app.userConnected?.themeColor || app.colorDefault" class="app-card-game"></app-card-game>
</div>

<div *ngIf="!HistoireMyGameByUserByPlateform.length && !isLoading">
  <h3 style="text-align: center; width: 100%">La collection de jeux est vide</h3>
</div>

<!--  GAME PINED -->
<div id="show-game" class="d-flex container pinned" *ngIf="!isFilterApplied() && !searchQuery.trim() && getPinnedGames().length > 0">
  <app-card-game *ngFor="let myGameHistorique of getPinnedGames()" [Hmg]="myGameHistorique" [colorProfil]="app.userConnected?.themeColor || app.colorDefault" class="app-card-game"></app-card-game>
</div>

<!-- UNPINNED GAME -->
<div id="show-game" class="d-flex container" *ngIf="!isFilterApplied() && !searchQuery.trim()">
  <app-card-game *ngFor="let myGameHistorique of getUnpinnedGames()" [Hmg]="myGameHistorique" [colorProfil]="app.userConnected?.themeColor || app.colorDefault" class="app-card-game"></app-card-game>
</div>

<!-- LOADING -->
<div id="show-game" class="d-flex container" *ngIf="isLoading">
  <app-card-game *ngFor="let game of [].constructor(30);" class="app-card-game"></app-card-game>
</div>
