<ng-container  *ngIf="noneActu">
  <app-none></app-none>
</ng-container>

<ng-container *ngIf="!noneActu">
  <div class="containeur mt-4 no-pading">
    <div
    [ngClass]="{'row': screenWidth >= 1200}"
     class="flex-nowrap containeur">
      <section id="left-section"
      [ngClass]="{'col-8': screenWidth >= 1200}">
      <div
      [ngClass]="{'mx-auto': screenWidth <= 1200}"
      class="img mb4" style="background-image: url({{ actualitySelected?.picture?.url }})"></div>
      <div class="border-actu">
        <!--Bouton Like & Commentaires-->
        <div class="btn_container mb4">
          <button class="btn">
            <i id="actulike"
            [attr.data-bs-toggle]="!isLoggedIn ? 'modal' : null"
            [attr.data-bs-target]="!isLoggedIn ? '#exampleModal' : null"
            class="ri-heart-3-line"
            (click)="addLikeByActu()">
            </i>
          </button>
          <span class="btn_text">{{ nbLike }}</span>
          <button class="btn" (click)="redirectComment()">
            <i class="ri-chat-3-line"></i>
          </button>
          <span class="btn_text" (click)="redirectComment()">{{ nbCommentaire }}</span>
        </div>

        <div class="txt_container">
          <h1 class="game_title mb4">{{ actualitySelected?.title }}</h1>

          <p class="game_description mb4">{{ actualitySelected?.content }}</p>
        </div>
      </div>
        <div class="d-flex justify-content-center">
          <iframe
          [ngClass]="{'mx-auto': screenWidth <= 1200}"
          class="iframe" src="https://www.youtube.com/embed/y8ByV0Z5oBk?controls=0"></iframe>
        </div>
      </section>

      <section id="border-middle" [ngClass]="{'col-1': screenWidth >= 1200}">
        <div class="border-section"></div>
      </section>

      <section id="right-section"
      [ngClass]="{'col-3': screenWidth >= 1200, 'd-flex justify-content-center gap-5 mt-4': screenWidth < 1200}"
      class="d-flex justify-content-center">
        <!-- <div class="provider_wrapper"> -->
          <div class="provider_card" *ngIf="actualitySelected?.Provider?.parentCompany">
            <div class="provider_color" style="background-color: {{ actualitySelected?.Provider?.parentCompany?.color }}" routerLink="/provider/{{ actualitySelected?.Provider?.parentCompany?.id }}"></div>
            <div class="provider_profile" style="background-image: url({{ actualitySelected?.Provider?.parentCompany?.picture?.url }})" routerLink="/provider/{{ actualitySelected?.Provider?.parentCompany?.id }}"></div>
            <p class="name" style="color: {{ actualitySelected?.Provider?.parentCompany?.color }}" routerLink="/provider/{{ actualitySelected?.Provider?.parentCompany?.id }}">{{ actualitySelected?.Provider?.parentCompany?.displayName }} </p>
            <a id="followBtn{{ actualitySelected?.Provider?.parentCompany?.id }}" (click)="followProviderUs(actualitySelected?.Provider?.parentCompany?.id)">Suivre</a>
          </div>
          <div class="provider_card">
            <div class="provider_color" style="background-color: {{ actualitySelected?.Provider?.color }}"  routerLink="/provider/{{ actualitySelected?.Provider?.id }}"></div>
            <div class="provider_profile" style="background-image: url({{ actualitySelected?.Provider?.picture?.url }})"  routerLink="/provider/{{ actualitySelected?.Provider?.id }}"></div>
            <p class="name" style="color: {{ actualitySelected?.Provider?.color }}"  routerLink="/provider/{{ actualitySelected?.Provider?.id }}">{{ actualitySelected?.Provider?.displayName }} </p>
            <a id="followBtn{{ actualitySelected?.Provider?.id }}"  (click)="followProviderUs(actualitySelected?.Provider?.id)">Suivre</a>
          </div>
        <!-- </div> -->
      </section>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="box-shadow: 1px 2px 11px #a6a6a6;">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Vous devez être connecté avant de liker</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- <div class="modal-body">
          ...
        </div> -->
        <div class="modal-footer">
          <button 
            routerLink="/account"
            data-bs-dismiss="modal"
            type="button" 
            class="btn text-white"
            style="background-color: red;">
          Se connecter</button>
        </div>
      </div>
    </div>
  </div>
  <!---->

  <!-- <div class="wrapper_container"> -->
    <!-- <div id="wrapper"> -->
      <!--Section de gauche-->
      <!-- <div id="left_box"> -->
        <!-- <div class="img" style="background-image: url({{ actualitySelected?.picture?.url }})"></div> -->
        <!-- Bouton Like & Commentaires-->
        <!-- <div class="btn_container"> -->
          <!-- <button class="btn"> -->
            <!-- <i id="actulike" class="ri-heart-3-line" (click)="addLikeByActu()"></i> -->
          <!-- </button> -->
          <!-- <span class="btn_text">{{ nbLike }}</span> -->
          <!-- <button class="btn"> -->
            <!-- <i class="ri-chat-3-line"></i> -->
          <!-- </button> -->
          <!-- <span class="btn_text">{{ nbCommentaire }}</span> -->
        <!-- </div> -->

        <!-- <div class="txt_container"> -->
          <!-- <h1 class="game_title">{{ actualitySelected?.title }}</h1> -->

          <!-- <p class="game_description">{{ actualitySelected?.content }}</p> -->
        <!-- </div> -->

        <!-- <iframe class="iframe" src="https://www.youtube.com/embed/y8ByV0Z5oBk"></iframe> -->

      <!-- </div> -->
      <!--Section de droite-->
      <!-- <div id="right_box"> -->
        <!--Carte Provider-->
        <!-- <div class="provider_wrapper"> -->
          <!-- <div class="provider_card" *ngIf="actualitySelected?.Provider?.parentCompany"> -->
            <!-- <div class="provider_color" style="background-color: {{ actualitySelected?.Provider?.parentCompany?.color }}" routerLink="/provider/{{ actualitySelected?.Provider?.parentCompany?.id }}"></div> -->
            <!-- <div class="provider_profile" style="background-image: url({{ actualitySelected?.Provider?.parentCompany?.picture?.url }})" routerLink="/provider/{{ actualitySelected?.Provider?.parentCompany?.id }}"></div> -->
            <!-- <p class="name" style="color: {{ actualitySelected?.Provider?.parentCompany?.color }}" routerLink="/provider/{{ actualitySelected?.Provider?.parentCompany?.id }}">{{ actualitySelected?.Provider?.parentCompany?.displayName }} </p> -->
            <!-- <a id="followBtn{{ actualitySelected?.Provider?.parentCompany?.id }}" (click)="followProviderUs(actualitySelected?.Provider?.parentCompany?.id)">Suivre</a> -->
          <!-- </div> -->
          <!-- <div class="provider_card"> -->
            <!-- <div class="provider_color" style="background-color: {{ actualitySelected?.Provider?.color }}"  routerLink="/provider/{{ actualitySelected?.Provider?.id }}"></div> -->
            <!-- <div class="provider_profile" style="background-image: url({{ actualitySelected?.Provider?.picture?.url }})"  routerLink="/provider/{{ actualitySelected?.Provider?.id }}"></div> -->
            <!-- <p class="name" style="color: {{ actualitySelected?.Provider?.color }}"  routerLink="/provider/{{ actualitySelected?.Provider?.id }}">{{ actualitySelected?.Provider?.displayName }} </p> -->
            <!-- <a id="followBtn{{ actualitySelected?.Provider?.id }}"  (click)="followProviderUs(actualitySelected?.Provider?.id)">Suivre</a> -->
          <!-- </div> -->
        <!-- </div> -->
        <!--Bouton commentaires-->
        <!-- <button class="btn_provider">
          <i class="ri-chat-3-line"></i>
          <span class="btn_text_comment"> Commentaires <i class="ri-arrow-right-line"></i></span>
        </button> -->
        <!--Carte Commentaire-->
        <!-- <div class="comment_car_wrapper">
          <div class="comment_card">
            <div class="user">
              <div class="user_pic"></div>
              <div class="user_name">TheMaximeSanTheMaximeSan</div>
              <div class="user_flw">
                <button class="btn">
                  <i class="ri-heart-3-line"></i>
                </button>
              </div>
            </div>
            <div class="user_cmmt">Lorem Ipsum sic dolor emet nun datebayo</div>
          </div>
          <div class="comment_card">
            <div class="user">
              <div class="user_pic"></div>
              <div class="user_name">Threonaum</div>
              <div class="user_flw">
                <button class="btn">
                  <i class="ri-heart-3-line"></i>
                </button>
              </div>
            </div>
            <div class="user_cmmt">Lorem Ipsum sic dolor emet nun datebayo
              Lorem Ipsum sic dolor emet nun datebayoLorem Ipsum sic dolor emet nun datebayo
            </div>
          </div>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->

  <div class="containeur mt10 no-pading" id="commentSection">
    <app-comment-actuality
    [nbComment]="nbCommentaire"
    [providerColor]="providerColor"
    (commentNbChanged)="updateNbComment($event)" class="containeur"></app-comment-actuality>
  </div>


  <!-- <div class="card" style="width: 18rem;">
    <img src="{{ actualitySelected?.Provider?.picture?.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ actualitySelected?.Provider?.displayName }}</h5>
      <a routerLink="/provider/{{ actualitySelected?.Provider?.id }}"  class="btn btn-primary">Voir le provider</a>
    </div>
  </div>

  <h1>{{ actualitySelected?.content }}</h1>
  <h1>{{ actualitySelected?.created_at }}</h1> -->


</ng-container>
