<!-- <p>home-invite works!</p> -->
<!-- ///// START WORK /////-->
 <!-- Modal -->
 <modal-add-game></modal-add-game>
 <modal-note></modal-note>

<div class="gamenium-banner" style="background-color: {{ isColor }}">
  <div class="gamenium-logo"></div>
  <div class="gamenium-welcome">
    <h1>GAMENIUM</h1>
    <p>L'application pour votre vie de gamer</p>
  </div>
</div>

<div class="home-connected">
  <section id="profilWrapper" class="mb">
    <article class="articleTuto">
      <div class="row ">
        <div class="col-md-12 py-4 hello">
          <h2 class="text-center">Bonjour, <span class="pseudo" style="color: {{ isColor }};">{{ userConnected?.displaynameUseritium || userConnected?.username }}</span></h2>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 actionPossible" [ngClass]="{'no-task': progress === 101}">
          <div class="action">

            <h3 class="text-center py-4 mb-0">Que Souhaitez-vous faire ?</h3>

            <div class="cotainerbtn">

              <div class="row">
                <div class="col-lg-6 ">
                  <article (click)="unsetModal()" class="card py-4 mb-3 mx-auto" data-bs-toggle="modal" data-bs-target="#ajouteGamePage">
                    <i class="ri-add-circle-line"></i>
                    <h6>Ajoutez un jeu</h6>
                  </article>
                </div>
                <div class="col-lg-6">
                  <article (click)="unsetModal()" class="card py-4 mb-3 mx-auto" data-bs-toggle="modal" data-bs-target="#noteGamePage">
                    <i class="ri-star-half-line"></i>
                    <h6>Ajoutez une note</h6>
                  </article>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <article class="card py-4 mb-3 mx-auto" routerLink="/profil/{{ userConnected?.id }}">
                    <i class="ri-profile-line"></i>
                    <h6>Votre profil public</h6>
                  </article>
                </div>
                <div class="col-lg-6 ">
                  <article class="card py-4 mb-3 mx-auto" routerLink="/account/">
                    <i class="ri-settings-3-line"></i>
                    <h6>Éditer votre profil</h6>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 offset-lg-1 taskPossible" *ngIf="progress !== 101">
          <div class="task">
            <h3 class="text-center py-4 mb-0">Vos tâches</h3>
            <p class="">Finaliser vos tâches :</p>

            <div class="progress-bar-container">
              <div class="progress-bar" style="background-color: {{ isColor }}" [style.width.%]="progress"></div>
            </div>


            <h3>Pour finaliser votre compte :</h3>
            <br>
            <ng-container *ngFor="let task of tasks">
              <!-- Tache -->
              <h6 class="py-2">
                <!-- Cercle remplis ou vide selon si completé -->
                <i *ngIf="task.completed" class="ri-checkbox-circle-fill" style="color: {{ isColor }}"></i>
                <i *ngIf="!task.completed" class="ri-checkbox-blank-circle-line" style="color: {{ isColor }}"></i>
                {{ task.name }}<br>
                <small>{{ task.content }}</small>
              </h6>
            </ng-container>
            <!-- LOADING-->
            <ng-container *ngIf="tasks.length === 0">
              <h6 class="py-2" id="squelette" *ngFor="let i of [].constructor(4)">
                <div>
                  <i class="ri-circle-fill" style="color: gray"></i>
                  <span class="taskName"></span><br>
                </div>

                <small class="taskContent"></small>
              </h6>
            </ng-container>

            <style>

            </style>
          </div>

        </div>
      </div>
    </article>
  </section>

  <section id="gamenium-actu">
    <div class="gamenium-container-panel mb">
        <h2 class="h2-position">Les dernières actualités</h2>
        <div id="content-actu" class="d-flex">
          <!-- Boucle avec les card actus (en afficher 6) -->
          <ng-container *ngIf="postActuFollowOrAll.length === 0">
              <app-card-actu *ngFor="let i of [0, 1, 2, 3, 4, 5]"></app-card-actu>
          </ng-container>
          <app-card-actu *ngFor="let actu of postActuFollowOrAll | slice: 0 : 6" [actu]="actu"></app-card-actu>
        </div>
        <div class="rowamoi btn-position">
            <a style="background-color: {{ isColor }};" class="main-gamenium-btn"  routerLink="/actuality">Voir plus <i class="ri-arrow-right-circle-line"></i></a>
        </div>
    </div>
  </section>
  <section id="gamenium-latest-release">
    <div class="gamenium-container-panel mb">
        <h2 class="h2-position">Les dernières sorties</h2>
            <!-- Boucle avec les cards jeux (en afficher 3)-->
        <div id="content-latest-release" class="d-flex">
          <app-card-game-sub *ngFor="let game of games | slice: 0 : 3" [game]="game" routerLink="/game/{{ game.id }}"></app-card-game-sub>
          <ng-container *ngIf="games.length === 0">
            <app-card-game-sub *ngFor="let i of [].constructor(3)"></app-card-game-sub>
          </ng-container>
        </div>

        <div class="rowamoi btn-position">
          <a style="background-color: {{ isColor }};" class="main-gamenium-btn"  routerLink="/game">Voir plus <i class="ri-arrow-right-circle-line"></i></a>
      </div>
    </div>
  </section>

  <section id="gamenium-suggestion" class="mb">
      <div class="gamenium-container-panel">
        <h2 class="p-b h2-position">Suggestion</h2>
        <div id="gamenium-suggestion-content"class="rowamoi justify-content-between">
          <app-card-provider *ngFor="let provider of randomProviders"
          [provider]="provider"
          [isFollowed]="isProviderFollowed(provider.id)"
          (followed)="handleFollowed($event)"
          (unfollowed)="handleUnfollowed($event)"
          ></app-card-provider>

          <ng-container *ngIf="randomProviders.length === 0">
            <app-card-provider *ngFor="let provider of [].constructor(4)"></app-card-provider>
          </ng-container>
        </div>
      </div>
  </section>

</div>



