<!-- <p>home-invite works!</p> -->
<!-- ///// START WORK /////-->
 <!-- Modal -->
 <modal-add-game-unselect></modal-add-game-unselect>
 <modal-note-unselect></modal-note-unselect>

<div class="gamenium-banner" style="background-color: {{ isColor }}">
  <div class="gamenium-logo"></div>
  <div class="gamenium-welcome">
    <h1>GAMENIUM</h1>
    <p>L'application pour votre vie de gamer</p>
  </div>
</div>

<div class="home-connected">
  <section id="profilWrapper" class="mb">
    <article class="articleTuto">
      <div class="row ">
        <div class="col-md-12 py-4 hello">
          <h2 class="text-center">Bonjour, <span class="pseudo" style="color: {{ isColor }};">{{ userConnected?.displaynameUseritium || userConnected?.username }}</span></h2>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6 actionPossible" [ngClass]="{'no-task': progress === 101}">
          <div class="action">

            <h3 class="text-center py-4 mb-0">Que Souhaitez-vous faire ?</h3>

            <div class="cotainerbtn">

              <div class="row">
                <div class="col-lg-6 ">
                  <article (click)="unsetModal()" class="card py-4 mb-3 mx-auto" data-bs-toggle="modal" data-bs-target="#ajouteGamePage">
                    <i class="ri-add-circle-line"></i>
                    <h6>Ajoutez un jeu</h6>
                  </article>
                </div>
                <div class="col-lg-6">
                  <article (click)="unsetModal()" class="card py-4 mx-auto" data-bs-toggle="modal" data-bs-target="#noteGamePage">
                    <i class="ri-star-half-line"></i>
                    <h6>Ajoutez une note</h6>
                  </article>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <article class="card py-4 mb-3 mx-auto" routerLink="/profil/{{ userConnected?.id }}">
                    <i class="ri-profile-line"></i>
                    <h6>Votre profil public</h6>
                  </article>
                </div>
                <div class="col-lg-6 ">
                  <article class="card py-4 mx-auto" routerLink="/account/">
                    <i class="ri-settings-3-line"></i>
                    <h6>Éditer votre profil</h6>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5 offset-md-1 taskPossible" *ngIf="progress !== 101">
          <div class="task">
            <h3 class="text-center py-4 mb-0">Vos tâches</h3>
            <p class="">Finaliser vos tâches :</p>

            <div class="progress-bar-container">
              <div class="progress-bar" style="background-color: {{ isColor }}" [style.width.%]="progress"></div>
            </div>


            <h3>Pour finaliser votre compte :</h3>
            <br>
            <ng-container *ngFor="let task of tasks">
              <!-- Tache -->
              <h6 class="py-2">
                <!-- Cercle remplis ou vide selon si completé -->
                <i *ngIf="task.completed" class="ri-checkbox-circle-fill" style="color: {{ isColor }}"></i>
                <i *ngIf="!task.completed" class="ri-checkbox-blank-circle-line" style="color: {{ isColor }}"></i>
                {{ task.name }}
              </h6>
            </ng-container>
          </div>

        </div>
      </div>
    </article>
  </section>

  <section id="gamenium-actu">
    <div class="gamenium-container-panel mb">
        <h2 class="">Les actus à la Une</h2>
        <div id="content-actu" class="d-flex">
          <!-- Boucle avec les card actus (en afficher 6) -->
          <ng-container *ngFor="let actu of postActuFollowOrAll | slice: postActuFollowOrAll.length - 6"> <!--Le slice est la pour afficher les 4 dernières actu stocké dans le tableau donc les 4 + recente -->
              <div class="actu-card col-4" routerLink="/actuality/{{ actu.id }}">
                  <img src="{{ actu.picture.url }}" class="actu-card-img-top" alt="..." />
                  <div class="actu-card-body">
                      <h3 class="actu-card-title">{{ actu.title }}</h3>
                      <div class="actu-card-hr">
                      <hr/>
                      </div>
                      <div class="actu-card-end d-flex">
                          <a
                          routerLink="/provider/{{ actu.Provider?.id }}"
                          class="btn"
                          [ngStyle]="{ 'background-color': actu.Provider?.color + '97!important' }"
                          >
                              <div class="d-flex">
                                  <div
                                  class="provider-img"
                                  [ngStyle]="{ 'background-image': 'url(' + actu.Provider?.picture?.url + ')' }"
                                  ></div>
                                  {{ actu.Provider?.displayName }}
                              </div>
                          </a>
                          <div class="actu-card-i d-flex">
                              <div>
                              <i class="ri-chat-3-line" style="color: #2e3a59;"></i>
                              </div>
                              <div class="active">
                              <i class="ri-heart-line" style="color: #2e3a59;"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </ng-container>
        </div>
        <div class="rowamoi justify-content-end">
            <a [ngStyle]="{ '--isColor': isColor}" class="view-more-btn"  href="">Voir plus <i class="ri-arrow-right-circle-line"></i></a>
        </div>
    </div>
  </section>
  <section id="gamenium-latest-release">
    <div class="gamenium-container-panel mb">
        <div class="rowamoi justify-content-between align-items-center">
            <h2>Les dernières sorties</h2>
            <!-- <a href="" class="view-more-btn">Voir plus <i class="ri-arrow-right-circle-line"></i></a> -->
        </div>

            <!-- Boucle avec les cards jeux (en afficher 4)-->
        <div id="content-latest-release" class="d-flex">
            <ng-container *ngFor="let game of games | slice: games.length - 3 : games.length">
                <div class="card-game" routerLink="/game/{{ game.id }}">
                    <div class="card-thumb">
                        <ng-container *ngIf="game.image.icon_url == 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
                            <div class="image" style="background-image: url('https://tyrolium.fr/Contenu/Image/Soon.png')"></div>
                            <div class="blur"></div>
                            <img src="https://tyrolium.fr/Contenu/Image/Soon.png" alt="...">
                        </ng-container>
                        <ng-container *ngIf="game.image.icon_url != 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
                            <div class="image" style="background-image: url('{{ game.image.thumb_url }}')"></div>
                            <div class="blur"></div>
                            <img src="{{ game.image.thumb_url }}" alt="...">
                        </ng-container>
                    </div>
                    <div class="card-content">
                        <!-- contenue déroulant -->
                        <p>{{ game.name }}<p>
                        <small style="color: {{isColor}}" class="platform-names d-block">
                          <ng-container *ngFor="let platform of game.platforms; let last = last">
                            {{ this.app.plateformeNameFormatage(platform.name) }}<span *ngIf="!last">, </span>
                          </ng-container>
                        </small>

                        <small> Date de sortie : {{ game.expectedReleaseDay + game.expectedReleaseMonth + game.expectedReleaseYear }}</small>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="rowamoi justify-content-end">
          <a [ngStyle]="{ '--isColor': isColor}" class="view-more-btn"  href="">Voir plus <i class="ri-arrow-right-circle-line"></i></a>
      </div>
    </div>
  </section>

  <section id="gamenium-suggestion" class="mb">
    <div class="rowamoi justify-content-between">
      <div class="left-sug-panel"> <!-- PANNEAU 1 -->
        <h2 class="text-center align-items-center">Suggestion</h2>
        <div class="provider_card">
          <div class="provider_color" routerLink="/provider/19"></div>
          <div class="provider_profile" routerLink="/provider/19"></div>
          <div class="provider-card-content">
            <p class="name" routerLink="/provider/19">Nintendo</p>
            <a class="follow-btn">Suivre</a>
          </div>
        </div>
        <div class="provider_card">
          <div class="provider_color" routerLink="/provider/19"></div>
          <div class="provider_profile" routerLink="/provider/19"></div>
          <div class="provider-card-content">
            <p class="name" routerLink="/provider/19">Nintendo</p>
            <a class="follow-btn">Suivre</a>
          </div>
        </div>
        <div class="provider_card">
          <div class="provider_color" routerLink="/provider/19"></div>
          <div class="provider_profile" routerLink="/provider/19"></div>
          <div class="provider-card-content">
            <p class="name" routerLink="/provider/19">Nintendo</p>
            <a class="follow-btn">Suivre</a>
          </div>
        </div>
        <div class="provider_card">
          <div class="provider_color" routerLink="/provider/19"></div>
          <div class="provider_profile" routerLink="/provider/19"></div>
          <div class="provider-card-content">
            <p class="name" routerLink="/provider/19">Nintendo</p>
            <a class="follow-btn">Suivre</a>
          </div>
        </div>
      </div>
      <div class="right-sug-panel"> <!-- PANNEAU 2 -->

      </div>
    </div>
  </section>

</div>
