/*  Globaux  */
.home-connected {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;

}

h2 {
  color: black;
}

.rowamoi {
  display: flex;
  flex-direction: row;
}

.mb {
  margin-bottom: 75px;
}

.p {
  padding: 40px;
}

.gamenium-container-panel {
  box-shadow: 1px 2px 11px #a6a6a6;
  border-radius: 10px;
  padding: 40px;
  width: 1140px;

}

.view-more-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
  display: block;
  box-shadow: 0px 3px 7px 0px #a6a6a6;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: solid 1.5px;
  border-color: var(--isColor);
  background-color: var(--isColor);
  padding: 10px 20px;
  text-align: center;
}

.view-more-btn:hover {
  background-color: white;
  color: var(--isColor) !important;
  border: solid 1.5px;
  border-color: var(--isColor) !important;
}

/*  Bandeau principal  */
.gamenium-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  padding: 40px;
  border-radius: 0px 0px 50px 50px;
  margin-bottom: 50px;
  /* background-color: #C61010; */
  background-image: url('http://tyrolium.fr/Contenu/Image/Background8_black.png');
  height: 315px;
}

.gamenium-logo {
  /*background-color: gray;*/
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background-image: url('http://tyrolium.fr/Contenu/Image/Gamenium Site.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gamenium-welcome {
  color: white;
  font-weight: bold;
}

.gamenium-welcome p {
  font-size: 28px;
  width: 275px;
}


/* profilWrapper*/
#profilWrapper{
  box-shadow: 1px 2px 11px #a6a6a6;
  border-radius: 10px;
  padding: 40px;
  max-width: 1140px;

}

#profilWrapper .articleTuto{
  background-color: white;
  width: 100%;
  max-width: 1140px;
  margin: 0px auto;
  border-radius: 16px;
}

#profilWrapper .articleTuto .hello {
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 0px #A6A6A6;
}

#profilWrapper .articleTuto h2 span.pseudo{
  font-weight: 700;
}

#profilWrapper .articleTuto {
  padding: 0px 35px;
}

#profilWrapper .articleTuto .actionPossible {
  border-radius: 10px;
  box-shadow: 1px 2px 10px 0px #A6A6A6;
  padding: 10px 40px;
}

#profilWrapper .articleTuto .action{
  margin-bottom: 45px;
}


#profilWrapper .articleTuto .card{
  text-align: center;
  height: fit-content;
  transition: all 0.1s ease 0s;
  border: 1px solid #C5C5C5
}

#profilWrapper .articleTuto .card:hover{
  transform: scale(1.01);
  background-color: #b3b3b359;
}

#profilWrapper .articleTuto .card i{
  font-size: 50px;
}

#profilWrapper .articleTuto .taskPossible {
  border-radius: 10px;
  box-shadow: 1px 2px 10px 0px #A6A6A6;
  padding: 10px 40px;
}

#profilWrapper .articleTuto .task{
  margin-bottom: 16px;
}

.progress-bar-container {
  max-width: 410px;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

.progress-bar {
  height: 10px;
  transition: width 0.3s ease;
}

/* Nos actualités */

#content-actu {
  padding: 40px 0px;
  gap: 26px;
  flex-wrap: wrap;
}

.actu-card{
  width: 336px;
  border: unset!important;
  box-shadow: 1px 2px 11px #a6a6a6;
  border-radius: 14px;
}

.actu-card .actu-card-img-top{
  object-fit: cover;
  max-width: 336px;
  max-height: 234px;
  border-radius: 14px;
  transition: transform 0.4s ease-out;
  will-change: transform;
}
.actu-card .actu-card-img-top:hover{
  transform: scale(1.03);
}

.actu-card .actu-card-body .actu-card-hr{
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2.5px;
  padding-bottom: 4px;
}

.actu-card .actu-card-body hr{
  margin: 7px 0;
  opacity: 0.45;
}

.actu-card .actu-card-body {
  padding-top: 8px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
}

.actu-card .actu-card-body .btn{
  color: white;
  background-color: rgba(255, 0, 0, 0.54);
  box-shadow: 1px 2px 11px #a6a6a6;
}


.provider-img{
  height: 24px;
  width: 24px;
  margin-top: 1px;
  border-radius: 100%;
  background-color: red;
  /*background-image: url('https://i.pinimg.com/136x136/e2/cb/6a/e2cb6a3b2d418d4fca14f9ebd84a0c47.jpg');*/
  background-position: center;
  background-size: cover;
  margin-right: 7px;
}

.actu-card-end{
  justify-content: space-between;
}
.actu-card-end .actu-card-i{
  font-size: 25px;
  gap: 2px;
}
.card-end .actu-card-i .active i{
  color: rgba(255, 0, 0);
}

@media (max-width: 920px) {
  #content-actu-invite {
    flex-wrap: wrap;
  }
}

/*Dernière sorties*/

#content-latest-release {
  padding: 40px 0px;
  gap: 50px;
  flex-wrap: wrap;
}

#gamenium-latest-release h2 {
  margin: 0;
}

#content-latest-release .card-game {
  position: relative;
  border-radius: 15px;
  transition: height 0.2s ease-out;
  width: 320px;
  height: 280px;
  box-shadow: 1px 2px 11px #a6a6a6;

}

#content-latest-release .card-thumb{
  width: 320px;
  height: 180px;
  border-radius: 15px;
}

#content-latest-release .card-thumb .image{
  position: absolute;
  width: 320px;
  height: 180px;
  z-index: 10;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#content-latest-release .card-thumb .blur{
  position: absolute;
  width: 320px;
  height: 180px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 1;
  background-color: #00000038;
}
#content-latest-release .card-thumb img{
  width: 320px;
  height: 100%;
  border-radius: 15px;
}

#content-latest-release .card-content {
  padding: 20px 25px;
}

/*Suggestion*/

#gamenium-suggestion .left-sug-panel{
  width: 285px;
  height: 989px;
  box-shadow: 1px 2px 11px #a6a6a6;
  border-radius: 10px;
  padding: 40px;
}

#gamenium-suggestion .left-sug-panel h2 {
  margin-bottom: 40px;
}

.provider_card {
  height: 180px;
  width: 205px;
  margin-bottom: 40px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(89,88,88,0.3);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.provider_card .name {
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
  color: black;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;

}

.provider_color {
  height: 60px;
  width: 205px;
  background-color: rgba(255, 0, 0, 0.54);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.provider_profile {
  width: 96px;
  height: 96px;
  margin-top: -48px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0px 0px 12px 0px rgba(89,88,88,0.7);
  background-image: url("https://cdn.discordapp.com/attachments/1203971108471177288/1217033755840217168/KT_logo.png?ex=66028e02&is=65f01902&hm=3c7e8b5287eebd8a9caf12b6d6c59e83503208fd996282546e1292cbaec09814&");
  background-position: center;
  background-size: cover;
}

.follow-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
  display: block;
  box-shadow: 0px 3px 7px 0px #a6a6a6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.54);
  text-align: center;
}

.follow-btn:hover {
  background-color: white;
  color: rgba(255, 0, 0, 0.54);
  border: solid 1px;
  border-color: rgba(255, 0, 0, 0.54);
}

.provider-card-content {
  padding: 5px 0px;
}

@media (max-width: 900px) {
  #profilWrapper {
    position: relative;
  }

  #profilWrapper .articleTuto .inUserTuto .d-flex{
    justify-content: space-between;
    width: 100%;
  }

  #profilWrapper .articleTuto .inUserTuto .d-flex .card{
    width: 65%;
  }

  #profilWrapper .articleTuto .inUserTuto .d-flex h6{
    word-wrap: normal;
    justify-content: space-between;
  }
}

/* GAME SMALL SCREEN */
@media (max-width: 770px) {
  #show-game {
    width: 400px;

  }

  .card-right {
    overflow: visible;
  }

  .card-right .core-left h5 {
    font-size: clamp(16px, 4vw, 20px);
  }

  .card-right .core-right {
    width: 0;
    display: flex;
    justify-content: end;
  }

  .card-right .core-right .card-note {
    margin-left: 0;
    position: absolute;
    z-index: 999;
    margin-top: -170px;
    width: 47px;
    height: 47px;
  }

  .card-right .core-right .card-note p {
    margin-bottom: 0px;
    position: absolute;
    margin-top: 13px;
    margin-left: 5px;
  }


  .card-right .core-right .card-note p span {
    font-size: 14px;
  }

  .card-game {
    max-width: 300px;
    flex-direction: column;
  }

  .card-wrapper {
    height: 300px;
    box-shadow: 1px 2px 11px #a6a6a6;
    width: fit-content;
    border-radius: 15px;
  }

  .card-action {
    align-items: flex-end;
  }

}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {

  #profilWrapper .articleTuto .actionPossible {
    margin-bottom: 20px;
  }


}

@media (max-width: 1160px) {

  .home-connected {
    width: auto;
  }

  #profilWrapper {
    box-shadow: unset;
  }

  .gamenium-container-panel {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #gamenium-suggestion {
    margin-left: auto;
    margin-right: auto;
  }

  #content-actu {
    flex-direction: column;
    align-items: center;
  }

  #content-latest-release {
    flex-direction: column;
    align-items: center;
  }

  .gamenium-logo {
    width: 150px;
    height: 150px;
  }

  .gamenium-welcome p {
    font-size: 21px;
  }

  .gamenium-banner {
    gap: 75px;
  }

}


@media (max-width: 611px) {
  .gamenium-container-panel {
    width: 416px;
    margin-left: auto;
    margin-right: auto;
  }

  .gamenium-banner {
    flex-direction: column;
    gap: 25px;
    height: 315px;
  }

  .gamenium-logo {
    width: 125px;
    height: 125px;
  }

  #gamenium-suggestion .rowamoi{
    flex-direction: column;
    align-items: center;
  }

  .left-sug-panel {

  }
}
