<div class="gamenium-banner">
    <div class="gamenium-logo"></div>
    <div class="gamenium-welcome">
        <h1>GAMENIUM</h1>
        <p>L'application pour votre vie de gamer</p>
    </div>
</div>


<div class="hello-container">
    <div class="hello-left-side">
        <div class="hello-user"><h2>Hello <span>Maxime</span></h2></div>
        <div class="hello-ask">
            <p>Qu'allez vous faire sur Gamenium Aujourd'hui</p>
        </div>
        <div class="hello">
            <a href="#">
                <div class="add-game">
                    <div><i class="ri-add-circle-line"></i></div>
                    <div>Ajouter un jeux</div>
                </div>
            </a>
            <a href="#">
                <div class="add-rate">
                    <div><i class="ri-star-half-line"></i></div>
                    <div>Ajouter une note</div>
                </div>
            </a>
            <a href="#">
                <div class="public-profil">
                    <div><i class="ri-news-line"></i></div>
                    <div>Voir votre profile Public</div>
                </div>
            </a>
        </div>
    </div>
    <div class="hello-wallpaper">

    </div>
</div>


<div class="actu-container">
    <div class="title">
        <h2>Vos dernières actualités</h2>
    </div>
    <div class="provider-logo">
        <div class="provider"></div>
        <div class="provider"></div>
        <div class="provider"></div>
        <div class="provider"></div>
        <div class="provider"></div>
        <div class="provider"></div>
        <div class="provider"></div>
        <div class="provider"></div>
        <div class="provider"></div>
    </div>
    <div class="news">
        <!-- mettre en place un ngFor de <app-card-actuality></app-card-actuality> -->
        <!-- et regler la div news en tant que container -->
    </div>
</div>

<div class="profil">
    <div class="top-profil-container">
        <div class="profil-card">
            <div class="background-profil-card"></div>
            <div class="pp-card"></div>
        </div>
        <div class="profil-text">
            <h1>Profil de Gameur</h1>
            <p>Créer votre profile de gameur afin de pouvoir partager et noté tout les jeux qui font de vous votre gistoire de gameur</p>
            <p>Vous êtes uniquement et votre collection permet de le partager à vos amis</p>
        </div>
    </div> 
    <div class="edit-button">
            Editez votre profil
    </div>
</div>



<div class="condition-utilisation">
    <div class="condition-u-container">
        <div class="cgu" >
           <a href="">CGU</a>
        </div>
        <div class="condition-border">
            <div class="condition-border"></div>
        </div>
        <div class="termes">
             <a href="">Termes et utilisation</a>
        </div>
    </div>
</div>


<!-- <div class="terms-and-uses">
    <div><a href="#">CGU</a></div>
    <div></div>
    <div><a href="#">Terms et utilisation</a></div>
</div> -->
