<section id="actu-all" class="d-flex" *ngIf="!providerIdSelected && isLogIn">
  <div *ngIf="postActuFollow.length === 0 && postActuAll.length === 0">
    <h3>Aucune actualité pour les providers suivis.</h3>
  </div>
  <app-card-actu *ngFor="let actu of ActuByFollow()" [actu]="actu"></app-card-actu>
</section>

<!-- SI AUCUN PROVIDER EST SELECTION-->
<section id="actu-all" class="d-flex" *ngIf="!providerIdSelected && !isLogIn">

  <div *ngIf="this.postActuAll.length == 0">
    <h3>Aucune actualité pour cette entreprise.</h3>
  </div>

  <app-card-actu  *ngFor="let actu of ActuAll()" [actu]="actu"></app-card-actu>

</section>

<!-- SI UN PROVIDER EST SELECTIONER -->
<section id="actu-all" class="d-flex" *ngIf="providerIdSelected">

  <div *ngIf="this.postActuProvider.length == 0">
    <h3>Aucune actualité.</h3>
  </div>

  <app-card-actu *ngFor="let actu of ActuByProvider()" [actu]="actu"></app-card-actu>

</section>
