<ng-container *ngIf="noneGame">
  <app-none></app-none>
</ng-container>
<ng-container *ngIf="!noneGame">

  <ng-container *ngIf="gameSelected?.image?.icon_url == 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
    <img src="https://tyrolium.fr/Contenu/Image/Soon.png" alt="...">
  </ng-container>

  <ng-container *ngIf="gameSelected?.image?.icon_url != 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
    <img src="{{ gameSelected?.image?.thumb_url }}" alt="...">
  </ng-container>


  <h1>{{ gameSelected?.name }}</h1>



  <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#ajouteGame">Add Game To Colletion</button><br>
  <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#noteGame">Add Note Game</button>











  <!--- MODAL --->
  <div class="modal fade text-center" id="ajouteGame" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!--        <h5 class="modal-title" id="exampleModalLabel">Ajoutez un jeux</h5>-->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="addGameForm" #addForm="ngForm" (ngSubmit)="addGame(addForm)" class="modal-body" style="padding-top: 40px;">
          <!--        <img src="..." style="width: 15em" alt="tt">-->

          <h2>Ajoutez un jeux à votre liste</h2>

          <br>
          <h5><span style="color: red">*</span>Recherche ton jeux :</h5>
          <input type="text" placeholder="Ton Jeux" disabled value="{{ this.gameSelected?.name }} ">
          <br>
          <br>
          <h6>Epinglez vous ce jeux :</h6>
          <input type="checkbox"  name="pinnedGame" ngModel><br>
          <br>
          <h6>Quand à tu obtenu ton jeux :</h6>
          <input type="date"  name="buyAt" ngModel>
          <br>
          <br>
          <h6>Ou à tu obtenu ton jeux :</h6>
          <input type="text" placeholder="input de type select"  name="buyWhere" ngModel>

          <div class="modal-footer" style="margin-top: 74px;">
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Enregistez</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade text-center" id="noteGame" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!--        <h5 class="modal-title" id="exampleModalLabel">Ajoutez un jeux</h5>-->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="addNoteForm" #addForm2="ngForm" (ngSubmit)="addNote(addForm2)" class="modal-body" style="padding-top: 40px;">
          <!--        <img src="..." style="width: 15em" alt="tt">-->

          <h2>Ajoutez une note à votre jeux</h2>

          <br>
          <h5><span style="color: red">*</span>Recherche un de vos jeux :</h5>
          <input type="text" placeholder="Ton Jeux" disabled value="{{ this.gameSelected?.name }}">
          <br>
          <br>
          <h6><span style="color: red">*</span>Note de ton jeux :</h6>
          <input type="number" placeholder="10" name="noteGame" ngModel>/20

          <div class="modal-footer" style="margin-top: 74px;">
            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Enregistez</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</ng-container>





<div class="banniere"></div>

<div class="pictureAndName">
  <div class="picture"></div>
  <div class="name">
      <div class="game-name"><p>Super Mario 64</p></div>
      <div class="global-game-rate">
          <div class="global-rate">10</div>
          <div class="global-slash">/</div>
          <div class="global-20">20</div>
      </div>
  </div>
</div>



<div class="section-info">
  <div class="information">
      <p class="title">INFORMATIONS</p>


      <div class="information-container">
          <div class="content">
              <p>Contenu :</p>
              <div class="information-line-container">
                  <div class="information-lines-fields">
                      <div>Genre</div>
                      <div>Plate-Forme</div>
                      <div>Classification</div>
                      <div>Multijoueurs</div>
                      <div>Nombre de joueurs</div>
                  </div>
                  <div class="information-lines-data">
                      <div>Plate-Forme</div>
                      <div>WII</div>
                      <div>+3 ans</div>
                      <div>Oui</div>
                      <div>1 à 2</div>
                  </div>
              </div>
          </div>
          <div class="context">
              <p>Context :</p>
              <div class="information-line-container">
                  <div class="information-lines-fields">
                      <div>Développeur</div>
                      <div>Editeur</div>
                      <div>Franchises</div>
                      <div>Date de sortie FR</div>
                      <div>Date de sortie US</div>
                      <div>Date de sortie JP</div>
                      <div>Prix de lancement</div>
                  </div>
                  <div class="information-lines-data">
                      <div>Nintendo EAD</div>
                      <div>Nintendo</div>
                      <div>Mario, Super Mario</div>
                      <div>11 juin 2010</div>
                      <div>23 mai 2010</div>
                      <div>27 mai 2010</div>
                      <div>50 €</div>
                  </div>
              </div>
          </div>
      </div>
          

  </div>
</div>





<div class="actualities">
  <div class="game-actu">
      <div class="game-actu-title">
          <p>Suivre les actus du Jeux:</p>
      </div>
      <div class="game-card">
          <div class="top-card"></div>
          <div class="picture-card"></div>
          <div class="game-card-name">Super Mario 64</div>
          <div class="follow">Suivre</div>
      </div>
  </div>

  <div class="actu-separation"></div>

  <div class="provider-actu">
      <div class="provider-actu-title">
          <p>Suivre les actus des créateurs:</p>
      </div>
      <div class="provider-card-container">
          <div class="provider-card">
              <div class="top-card"></div>
              <div class="picture-card"></div>
              <div class="provider-card-name">Nintendo</div>
              <div class="follow">Suivre</div>
          </div>
          <div class="provider-card">
              <div class="top-card"></div>
              <div class="picture-card"></div>
              <div class="provider-card-name">Nintendo</div>
              <div class="follow">Suivre</div>
          </div>
      </div>
  </div>
</div>







<div class="ratings">
  <div class="press-ratings">
      <div class="press-ratings-details">
          <div class="title-ratings">
              Note de la presse:
          </div>
          <div class="press-ratings-details-container">
              <div class="one-press-rating">
                  <div class="provider-picture"></div>
                  <div class="press-ratings-details-name">Providers</div>
                  <div>:</div>
                  <div class="press-ratings-details-rates">
                      <span class="big-rate">20</span>
                      /20
                  </div>
              </div>
              <div class="one-press-rating">
                  <div class="provider-picture"></div>
                  <div class="press-ratings-details-name">providers</div>
                  <div>:</div>
                  <div class="press-ratings-details-rates">
                      <span class="big-rate">60</span>
                      /100
                  </div>
              </div>
              <div class="one-press-rating">
                  <div class="provider-picture"></div>
                  <div class="press-ratings-details-name">providers</div>
                  <div>:</div>
                  <div class="press-ratings-details-rates">notes</div>
              </div>
              <div class="one-press-rating">
                  <div class="provider-picture"></div>
                  <div class="press-ratings-details-name">providers</div>
                  <div>:</div>
                  <div class="press-ratings-details-rates">notes</div>
              </div>
              <div class="one-press-rating">
                  <div class="provider-picture"></div>
                  <div class="press-ratings-details-name">providers</div>
                  <div>:</div>
                  <div class="press-ratings-details-rates">notes</div>
              </div>
              <div class="one-press-rating">
                  <div class="provider-picture"></div>
                  <div class="press-ratings-details-name">providers</div>
                  <div>:</div>
                  <div class="press-ratings-details-rates">notes</div>
              </div>
              <div class="one-press-rating">
                  <div class="provider-picture"></div>
                  <div class="press-ratings-details-name">providers</div>
                  <div>:</div>
                  <div class="press-ratings-details-rates">notes</div>
              </div>
          </div>
      </div>
      <div class="press-ratings-total">
          <div class="title-ratings">
              Note Presse :
          </div>
          <div class="press-ratings-total-rate">
              <div class="total-rate-press">20</div>
              <div class="on-twenty-press">/20</div>
          </div>
      </div>
  </div>
  <div class="gamers-ratings">
      <div class="gamers-ratings-details">
          <div class="title-ratings">
              Notes des joueurs:
          </div>
          <div class="gamers-ratings-details-container">
              <div class="one-press-rating">
                  <div class="provider-picture"></div>
                  <div class="gamers-ratings-details-name">gamers</div>
                  <div>:</div>
                  <div class="gamers-ratings-details-rates">
                      <span class="big-rate">20</span>
                      /20
                  </div>
              </div>
              <div class="one-press-rating">
                  <div class="provider-picture"></div>
                  <div class="gamers-ratings-details-name">gamers</div>
                  <div>:</div>
                  <div class="gamers-ratings-details-rates">notes</div>
              </div>
              <div class="one-press-rating">
                  <div class="provider-picture"></div>
                  <div class="gamers-ratings-details-name">gamers</div>
                  <div>:</div>
                  <div class="gamers-ratings-details-rates">notes</div>
              </div>
          </div>
      </div>
      <div class="gamers-ratings-total">
          <div class="title-ratings">
              Note Joueurs :
          </div>
          <div class="gamers-ratings-total-rate">
              <div class="total-rate-gamers">20</div>
              <div class="on-twenty-gamers">/20</div>
          </div>
      </div>
  </div>
</div>










<div class="carroussel"></div>

<div class="add-collection">

    <div class="title-add">
        <p>Vous possedez le jeu ? Ajoutez le à votre collection :</p>
    </div>

    <div class="card-add-to-collection">
        <div class="game-picture">
            <div class="cover"></div>
            <div class="background">
                <div class="inner-shadow"></div>
            </div>
            
        </div>
        <div class="game-info">
            <div class="info-name">Name</div>
            <div class="info-provider">Provider</div>
            <div class="info-release-date">15/03/2024</div>
        </div>
        <button class="game-add-button">
            <i class="ri-checkbox-circle-line"></i>Ajoutez à votre collection
        </button>
    </div>

    <div class="show-collection">
        <button class="my-collection">Votre collection</button>
    </div>
</div>

<div class="section-actu">

</div>