<ng-container *ngIf="noneGame">
  <app-none></app-none>
</ng-container>
<ng-container *ngIf="!noneGame">

<!--- MODAL --->
<modal-note></modal-note>
<modal-add-game></modal-add-game>


<div id="banniere-container" class="banniere-container">

  <ng-container *ngIf="gameSelected?.image?.icon_url == this.app.noBoxartImage_default">
    <div class="banniere" style="background-color: #2c2c2c"></div>
  </ng-container>
  <ng-container *ngIf="gameSelected?.image?.icon_url != this.app.noBoxartImage_default">
    <div class="banniere" [ngStyle]="{ '--imgGameUrlLarge': 'url(' + gameSelected?.image?.screen_large_url + ')' }"></div>
  </ng-container>
</div>


<div id="pictureAndName" class="pictureAndName">
  <ng-container *ngIf="gameSelected?.image?.icon_url == this.app.noBoxartImage_default">
    <div class="picture" [ngStyle]="{ '--imgGameUrl': 'url(' + this.app.noBoxartImage + ')' }"></div>
  </ng-container>
  <ng-container *ngIf="gameSelected?.image?.icon_url != this.app.noBoxartImage_default">
    <div class="picture" [ngStyle]="{ '--imgGameUrl': 'url(' + gameSelected?.image?.small_url + ')' }"></div>
  </ng-container>
  <div class="name blocks-shadow">
    <div class="game-name">
      <h1 class="mb-0">{{ gameSelected?.name }}</h1>
    </div>
    <div [ngStyle]="{ '--userColor': app.userConnected?.themeColor || app.colorDefault }" class="global-game-rate">
      <div class="global-rate">{{ this.gameSelected?.moyenRateUser || "NA" }}</div>
      <div class="global-slash">/</div>
      <div class="global-20">20</div>
    </div>
  </div>
</div>


<!-- INFORMATIONS  -->
<div id="section-info" class="section-info">
  <div class="information">
    <h2 class="title">Informations</h2>

    <div class="information-container">
      <div class="content">
        <p>Contenu</p>
        <div [ngStyle]="{ '--userColor': app.userConnected?.themeColor || app.colorDefault }" class="information-line-container">
          <div class="information-lines" *ngIf="game_genres.length > 0">
            <div class="field" >
              <p>
                Genre
              </p>
            </div>
            <div class="data">
              <ng-container *ngFor="let genre of game_genres">
                <p>
                  {{ genre }}
                </p>
              </ng-container>
            </div>
          </div>
          <div class="information-lines">
            <div class="field">
              <p>
                Plate-Forme
              </p>
            </div>
            <div class="data" *ngIf="gameSelected?.platforms">
              <p>
                <ng-container *ngFor="let platform of gameSelected?.platforms; let last = last">
                  <ng-container *ngIf="gameSelected">
                  <ng-container *ngIf="gameSelected.platforms">
                      {{ this.app.plateformeNameFormatage(platform.name) }}<br>
                  </ng-container>
                  </ng-container>
                </ng-container>
              </p>
            </div>
            <div class="data" *ngIf="!gameSelected?.platforms">
                <p>
                  {{ this.app.plateformeNameFormatage(this.app.noPlateform.name) }}
                </p>
            </div>
          </div>
          <div class="information-lines" *ngIf="gameSelected?.originalGameRating">
            <div class="field">
              <p>
                Classification
              </p>
            </div>
            <div class="data">
              <p>
                <ng-container *ngFor="let orignalGameRatingOne of gameSelected?.originalGameRating; let last = last">
                  {{ orignalGameRatingOne.name }}<br><!--<span *ngIf="!last">, </span>-->
                </ng-container>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="context">
        <p>Context</p>
        <div [ngStyle]="{ '--userColor': app.userConnected?.themeColor || app.colorDefault }" class="information-line-container">
          <div class="information-lines" *ngIf="game_developpers.length > 0">
            <div class="field">
              <p>
                Développeur
              </p>
            </div>
            <div class="data">
              <p>
                <ng-container *ngFor="let dev of game_developpers">
                  {{ dev }}<br>
                </ng-container>
              </p>
            </div>
          </div>
          <div class="information-lines" *ngIf="game_publishers.length > 0">
            <div class="field">
              <p>
                Editeur
              </p>
            </div>
            <div class="data">
              <p>
                <ng-container *ngFor="let publi of game_publishers">
                  {{ publi }}<br>
                </ng-container>
              </p>
            </div>
          </div>
          <div class="information-lines" *ngIf="game_franchises.length > 0">
            <div class="field">
              <p>
                Franchises
              </p>
            </div>
            <div class="data">
              <p>
                <ng-container *ngFor="let franchise of game_franchises">
                  {{ franchise }}<br>
                </ng-container>
              </p>
            </div>
          </div>
          <div class="information-lines">
            <div class="field">
              <p>
                Date de sortie
              </p>
            </div>
            <div class="data">
              <ng-container *ngIf="gameSelected?.originalReleaseDate">
                <p>
                  {{ gameSelected?.originalReleaseDate | date:'dd / MM / yyyy' }}
                </p>
              </ng-container>
              <ng-container *ngIf="gameSelected">
                <ng-container *ngIf="!gameSelected?.originalReleaseDate && gameSelected?.expectedReleaseYear">
                  <p>
                    <ng-container *ngIf="gameSelected?.expectedReleaseYear">
                      <ng-container *ngIf="gameSelected?.expectedReleaseMonth">
                        <ng-container *ngIf="gameSelected?.expectedReleaseDay">
                          {{ gameSelected?.expectedReleaseDay }}
                          /
                        </ng-container>
                        <ng-container *ngIf="gameSelected.expectedReleaseMonth < 10">
                          0{{ gameSelected?.expectedReleaseMonth }}
                        </ng-container>
                        <ng-container *ngIf="gameSelected.expectedReleaseMonth >= 10">
                          {{ gameSelected?.expectedReleaseMonth }}
                        </ng-container>
                        /
                      </ng-container>
                      {{ gameSelected?.expectedReleaseYear }}
                    </ng-container>
                  </p>
                </ng-container>
                <ng-container *ngIf="!gameSelected?.originalReleaseDate && !gameSelected?.expectedReleaseYear">
                  <p>Aucune date de sortie connue</p>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- PREMIÉRE SÉPARATION -->
<div class="container-2">
  <div class="pictures-separation"></div>
</div>


<!-- SUIVI DES ACTUALITES -->
<div id="actualities" class="actualities">
  <div>
      <p class="title">Voir les actus du jeu:</p>
      <app-card-provider [game]="gameSelected"></app-card-provider>
  </div>

  <div class="actu-separation"></div>

  <div class="">
      <div>
        <p id="follow-provider" class="title">Suivre les actus des créateurs:</p>
      </div>
      <div class="provider-card-container" [class.no-provider-card-container]="providerSelected.length === 0"
      (mousedown)="startDrag($event)"
      (mousemove)="move($event)"
      (mouseup)="stopDrag()">

        <ng-container *ngIf="providerSelected.length > 0">
          <app-card-provider *ngFor="let provider of providerSelected" [provider]="provider"></app-card-provider>
        </ng-container>
        <ng-container *ngIf="providerSelected.length === 0">
          <h3>Aucune créateur disponible</h3>
        </ng-container>
      </div>
  </div>
</div>


<!-- SECTION NOTE -->
<div id="ratings">
  <div class="container-2">
    <div class="border-section">
      <!-- les notes de la Presse -->
      <div class="row mb-40">
        <!-- notes -->
        <div class="w-sections-notes">
            <p class="title-notes-margin third-color">Notes de la presse</p>

            <div class="one-rating mp-notes">
                <div class="provider-picture">
                    <img src="assets/press/metacritic.png" alt="Metacritic Logo" class="media-img" width="30" height="30">
                </div>
                <div class="rating-info">
                    <div class="ratings-details-name">Metacritic</div>
                    <div class="ratings-details-rate">
                        <span class="big-rate">{{ this.Metacritic?.metacritic_score || "NA" }}</span>/100
                    </div>
                </div>
            </div>

<!--            <div class="one-rating mp-notes">-->
<!--                <div class="provider-picture">-->
<!--                    <img src="assets/press/jvc.png" alt="Jeuxvidéo.com Logo" class="media-img" width="30" height="30">-->
<!--                </div>-->
<!--                <div class="rating-info">-->
<!--                    <div class="ratings-details-name">Jeuxvidéo.com</div>-->
<!--                    <div class="ratings-details-rate">-->
<!--                        <span class="big-rate">0</span>/20-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="one-rating mp-notes">
                <div class="provider-picture">
                  <img src="assets/logo.png"  class="media-img" alt="Gamenium Logo" width="30" height="30">
                </div>
                <div class="rating-info">
                    <div class="ratings-details-name">Gamenium Press<br></div>
                    <div class="ratings-details-rate">
                        <span class="big-rate">NA</span>/20
                    </div>
                </div>
            </div>


        </div>

        <!-- circle -->
        <div class="w-sections-circles">
            <p class="title-circle-margin third-color">Moyenne de la presse</p>
            <div class="d-flex justify-content">
                <div class="width-circle">
                    <div [ngStyle]="{ '--userColor': app.userConnected?.themeColor || app.colorDefault }" class="shadow-btn border color-circle ratio ratio-1x1 rounded-circle">
                        <p class="font-notes d-flex justify-content-center align-items-center"><span>{{ obtainMoyenPress() }}</span>/20</p>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!-- les notes des Joueurs -->
      <div class="row mb-40">
        <!-- notes -->
        <div class="w-sections-notes">
            <p class="title-notes-margin third-color">Notes des joueurs</p>

            <div class="one-rating mp-notes">
                <div class="provider-picture">
                  <img src="assets/press/metacritic.png"  class="media-img" alt="Metacritic Logo" width="30" height="30">
                </div>
                <div class="rating-info">
                  <div class="ratings-details-name">Metacritic Avis</div>
                  <div class="ratings-details-rate">
                    <span class="big-rate">{{ this.Metacritic?.users_score || "NA" }}</span>/10
                  </div>
                </div>
            </div>

            <div class="one-rating mp-notes-last">
                <div class="provider-picture">
                  <img src="assets/press/giantbomb.png"  class="media-img" alt="GiantBomb Logo" width="30" height="30">
                </div>
                <div class="rating-info">
                  <div class="ratings-details-name">GiantBomb</div>
                  <div class="ratings-details-rate">
                    <span class="big-rate">{{ this.GiantBomb?.average_score || "NA" }}</span>/5
                  </div>
                </div>
            </div>

            <div class="one-rating mp-notes-last">
                <div class="provider-picture">
                  <img src="assets/logo.png"  class="media-img" alt="Gamenium Logo" width="30" height="30">
                </div>
                <div class="rating-info">
                  <div class="ratings-details-name">Gamenium Avis</div>
                  <div class="ratings-details-rate">
                    <span class="big-rate">{{ this.gameSelected?.moyenRateUser || "NA" }}</span>/20
                  </div>
                </div>
            </div>
        </div>

        <!-- circle -->
        <div class="w-sections-circles">
            <p class="title-circle-margin third-color">Moyenne des joueurs</p>
            <div class="d-flex justify-content">
                <div class="width-circle2">
                    <div class="shadow-btn third-bg border ratio ratio-1x1 rounded-circle">
                        <p class="font-notes d-flex justify-content-center align-items-center"><span>{{ obtainMoyenUser() }}</span>/20</p>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!-- Add Note Button -->
      <div *ngIf="app.isLoggedIn && hasGameInCollection" class="add-note">
        <button style="background-color: {{ app.userConnected?.themeColor || app.colorDefault }}" class="main-gamenium-btn" data-bs-toggle="modal" data-bs-target="#noteGamePage" (click)="setModal()">Ajouter une note</button>
      </div>
    </div>
  </div>
</div>


<!-- SECTION CARROUSEL -->
<!--<div class="carroussel-container">-->
<!--    <div class="carroussel">-->
<!--      <section *ngIf="GiantBomb && GiantBomb.picture.length > 1">-->

<!--        <div id="cCarousel">-->
<!--          <div class="arrow" id="prev"><i class="ri-arrow-left-s-fill"></i></div>-->
<!--          <div class="arrow" id="next"><i class="ri-arrow-right-s-fill"></i></div>-->

<!--          <div id="carousel-vp">-->
<!--            <div id="cCarousel-inner" style="overflow-y: hidden !important;">-->

<!--              <ng-container *ngFor="let picture of GiantBomb.picture; let i = index">-->
<!--                <article class="cCarousel-item" (click)="app.clickGalery(i)">-->
<!--                  <img [src]="picture" alt="">-->
<!--                  <div class="infos">-->
<!--                    <div class="carrousel-sep"></div>-->
<!--                    <p>Title {{ i + 1}} / {{ GiantBomb.picture.length }}</p>-->
<!--                  </div>-->
<!--                </article>-->
<!--              </ng-container>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
<!--    </div>-->
<!--</div>-->
<!--  -->
  <!-- -->


  <div id="carroussel-all">
      <ng-container *ngIf="GiantBomb && GiantBomb.picture.length > 1">
        <section class="my-carroussel scrollbar">

          <ng-container *ngFor="let picture of GiantBomb.picture; let i = index">
            <article class="oneCarrousel" (click)="app.clickGalery(i)">
              <img class="imgCarr" [src]="picture" alt="img">
            </article>
          </ng-container>

<!--          <ng-container *ngFor="let picture of [].constructor(2); let i = index">-->
<!--            <article class="oneCarrousel" (click)="app.clickGalery(i)">-->
<!--              <img class="imgCarr" [src]="'https://tyrolium.fr/Contenu/Image/Tyrolium.png'" alt="img">-->
<!--            </article>-->
<!--          </ng-container>-->

        </section>
      </ng-container>
  </div>

  <style>
    #carroussel-all{
      margin-top: 100px;
      margin-bottom: 100px;
      display: flex;
      justify-content: center;

      .my-carroussel{
        display: flex;
        width: auto;
        align-items: flex-start;
        overflow-y: hidden !important;
        position: relative;
        padding: 20px 15px;
        gap: 15px;
        margin: auto;

        .oneCarrousel{
          height: 208px;
          /*width: 390px;*/
          /*max-width: 390px;*/

          .imgCarr{
            box-shadow: 1px 0px 11px -1px #a6a6a6;
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            overflow-y: hidden !important;
            position: relative;
            height: 208px;

          }
        }
      }
    }



  </style>


<!-- SECONDE SÉPARATION -->
<div class="container-2">
  <div class="pictures-separation"></div>
</div>


  <!-- SECTION AJOUT COLLECTION -->
<div class="container-2">

  <div class="title-add" *ngIf="this.app.userConnected">
    <h3><span style="color: {{ app.userConnected?.themeColor || app.colorDefault }};">{{ this.app.userConnected.displaynameUseritium || this.app.userConnected.username }}</span> Vous possedez le jeu ? Ajoutez le à votre collection :</h3>
  </div>
  <div class="title-add" *ngIf="!this.app.userConnected">
    <h3><span style="color: {{ app.colorDefault }};"></span> Vous possedez le jeu ? Ajoutez le à votre collection :</h3>
  </div>

  <div *ngIf="gameSelected" class="card-add-to-collection">
    <app-card-game [game]="gameSelected" [isDetailGame]="true" style="width: 100%"></app-card-game>
  </div>

  <div class="show-collection">
    <button style="color: {{ this.app.userConnected?.themeColor || this.app.colorDefault }};border-color: {{ this.app.userConnected?.themeColor || this.app.colorDefault }}" class="sub-gamenium-btn"  routerLink="/mygame">
      Votre collection
    </button>
  </div>

</div>

</ng-container>

<!--GALERY-->
<ng-container *ngIf="GiantBomb && GiantBomb.picture.length > 1">
  <ng-container *ngFor="let picture of GiantBomb.picture; let i = index">
    <ng-container *ngIf="app.selectedGalery == i">
      <app-gallery [index]="i" [images]="GiantBomb.picture"></app-gallery>
    </ng-container>
  </ng-container>
</ng-container>
