/* ////////////// DEBUT DE ZONE CLASSES GÉNÉRALES ///////////// */

.second-bg {
  background-color: var(--second-color);
}

.third-bg {
  background-color: var(--third-color);
}

.shadow-btn {
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
}

.container-2 { /* Container bootstrap mais sans le padding et le margin */
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.mb-40 { /* margin-bottom 40px */
  margin-bottom: 40px !important;
}

@media (max-width: 1199px) {
  .container-2 {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container-2 {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container-2 {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .container-2 {
    max-width: 100%;
  }
}

/* ////////////// FIN DE ZONE CLASSES GÉNÉRALES ///////////// */

/* ////////////// DEBUT DE ZONE BANNIERE ////////////////// */
.banniere-container {
  overflow: hidden;
  height: 200px;
}

#banniere-container {
  .banniere{
    background-image: var(--imgGameUrlLarge);
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    height: 340px;
    transform: scale(1.1);
  }
}

/* //////////////// FIN DE ZONE BANNIERE ////////////// */

/* //////////////  DEBUT DE ZONE INFORMATIONS ///////////// */

.pictureAndName{
  max-width: 1140px;
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  position:absolute;
  top:74px;
  left: 50%;
  transform: translateX(-50%);
}

#pictureAndName {

  .picture{
    background-image: var(--imgGameUrl);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 250px;
  }

  .name{
    background-color: white;
    min-height: 150px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    flex-grow: 1;
    margin-left: 50px;
    margin-right: 30px;
  }

  .game-name{
    padding-left: 40px;
    color: #222;
    height:fit-content;
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 0;

  }

  .global-game-rate{
    width:70px;
    height: 70px;
    margin-right: 40px;
    background-color: var(--userColor);
    border-radius: 50%;
    color: white;
    position: relative;
    flex-shrink: 0;
  }

  .global-rate{
    font-size:27px;
    position: absolute;
    top: 10px;
    left: 5px;
  }

  .global-slash{
    position: absolute;
    top:30px;
    left: 33px;
  }

  .global-20{
    position: absolute;
    top: 30px;
    left:40px
  }
}

@media (max-width: 768px) {
  .pictureAndName {
    gap: 10px;
    flex-direction: column;
    height: auto;
    margin-bottom: 0;
    position: static;
    transform: translateX(0%);
    transform: translateY(-33%);

  }

  .name {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

}

/* Section Info */
.section-info {
  max-width: 992px;
  width: 100%;
  margin: 175px auto 100px auto;
  padding: 0 75px;
}

#section-info {
  .information {
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 10px rgba(166,166,166);
    position: relative;
    padding: 40px 40px;
    background-color: #fff;
    gap: 40px;
  }

  .information .title {
    color: #575757;

  }

  .information-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
  }

  .content,
  .context {
    flex: 1;
    min-width: 300px;
    position: relative;
  }

  .content p,
  .context p {
    margin-bottom: 20px;
    text-align: center;
  }

  .information-line-container {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
  }

  .information-line-container .field p {
    height: 25px;
  }

  .information-lines {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 10px;
    align-items: start;
  }

  .field p {
    text-align: left;
    margin: 0;
    line-height: 1.5;
    word-wrap: break-word;
    white-space: normal;
    color: #575757;
  }

  .data p {
    display: flex;
    font-weight: 500;
    color: var(--userColor);
    flex-wrap: wrap;
    text-align: left;
    margin: 0;
    line-height: 1.5;
    word-wrap: break-word;
    white-space: normal;
  }


  /* Ligne pour diviser */
  .content {
    border-right: 1px solid #575757;
    min-width: 50%;
  }
}

@media (max-width: 926px) {
  .information-container {
    flex-direction: column;
    gap: 20px;
  }

  .content .information-lines {
    margin-bottom: 40px !important;
  }

  .content {
    border-right: none !important;
    border-bottom: 1px solid #ccc;
    padding: 0;
  }

  .context {
    padding: 0;
  }

  .information-lines-data {
    text-align: left;
  }

  .section-info {
    max-width: 992px;
    width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .section-info {
    margin: -20px auto 100px auto;
  }
}

/* //////////////// FIN DE ZONE INFORMATIONS //////////////// */

/*  ////////////////  DEBUT DE ZONE ACTUALITEES /////////////*/

.actualities{
  max-width: 1140px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: center;
  gap:40px;
  padding-bottom: 100px;
}

#actualities {
  .title {
    padding-bottom: 40px;
  }

  .provider_card {
    width: 205px;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .provider_card .name {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limite le texte à 1 ligne */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--third-color);
    padding-bottom: 6px;
    margin-left: 8px;
    font-size: 18px;
  }

  .provider_color {
    height: 60px;
    width: 205px;
    background-image: var(--imgGameUrl);
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .provider_profile {
    background-image:  var(--imgGameUrl);
    width: 96px;
    height: 96px;
    margin-top: -48px;
    margin-bottom: 6px;
    background-color: white;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
  }

  .follow-btn {
    display: block;
    color: white;
    border-radius: 5px;
    border: solid 1px;
    border-color: var(--second-color);
    background-color: var(--second-color);
    text-align: center;
    padding: 4px 15px;
    cursor: pointer;

  }

  .follow-btn:hover {
    background-color: white;
    color: var(--second-color);
    border: solid 1px;
    border-color: var(--second-color);

  }

  .actu-separation{
    border: solid 1px var(--third-color);
    height: 170px;
    margin-top: 69px;
  }

  #follow-provider {
    margin-bottom: -10px;
  }

  .provider-card-container {
    gap: 20px;
    display:flex;
    cursor: grab;
    overflow-x: auto;
    scrollbar-width: none;
    width: 600px;
    padding: 10px;
    margin-left: -10px;
    margin-bottom: -10px;
  }

  .provider-card-container:active{
    cursor: grabbing;
  }

  .no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

}

@media (max-width: 992px) {
  .actualities {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
  }

  .actu-separation {
      display: none;
  }
}

@media (max-width: 768px) {
  .actualities {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      align-items: center;

  }

  .provider-card-container {
      width: 400px;
  }

  .actu-separation {
      display: none;
  }
}

/* ////////////// FIN DE ZONE ACTUALITEES ////////// */

/* ////////////// DEBUT DE ZONE RATINGS ///////////// */

#ratings {
  .border-section {
    width: 70%;
    padding: 40px 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 1px 2px 10px rgba(166,166,166,1);
  }

  .row {
    margin:0px;
    --bs-gutter-x:0px;
    justify-content: space-between;
  }

  /* les notes */

  .w-sections-notes {
    flex: 0 0 auto;
    width: 50%;
  }

  .title-notes-margin {
    margin-bottom: 25px;
  }

  .one-rating {
    display: flex;
    align-items: center;
  }

  .mp-notes {
    padding-left: 30px;
    margin: 20px 0px;
  }

  .mp-notes-last {
    padding-left: 30px;
    margin-top: 20px;
  }

  .provider-picture img {
    width: 30px;
    height: 30px;
  }

  .media-img {
    margin-right: 20px;
  }

  .rating-info {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
  }

  .ratings-details-name {
    font-weight: bold;
    color: #575757;
  }

  .ratings-details-rate {
    color: black;
    font-weight: bold;
    margin-left: 60px;
  }

  .big-rate {
    font-size: 24px;
  }

  /* les cercles */

  .w-sections-circles {
    flex: 0 0 auto;
    width: 24%;
  }

  .width-circle {
    width: 85%;
  }

  .width-circle2 {
    width: 70%;
    flex: 0 0 auto;
  }

  .title-circle-margin {
    margin-bottom: 40px;
  }

  .justify-content {
    justify-content: end;
  }

  .font-notes {
    color: white;
    font-size: 21px;
  }

  .font-notes span {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .color-circle {
    background-color: var(--userColor);
  }

  /* btn note */

  .add-note {
    display: flex;
    justify-content: center;
  }

  .btn-note {
    color: white;
    border-radius: 15px;
    padding: 10px 30px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: solid 2px;
    border-color: var(--userColor);
    background-color: var(--userColor);
  }

  .btn-note:hover {
    background-color: white !important;
    color: var(--userColor) !important;
    border: solid 2px;
    border-color: var(--userColor) !important;
    transition: 0.3s;
  }

  @media (max-width: 1199px) {
    .ratings-details-rate {
      margin-left: 0px;
    }
    .w-sections-circles {
      width:30%;
    }
  }

  @media (max-width: 991px) {
    .ratings-details-rate {
      margin-left: 0px;
    }
    .w-sections-notes {
      width:80%;
    }
    .w-sections-circles {
      width:80%;
    }
    .row {
      justify-content: center;
    }
    .title-circle-margin {
      margin-top: 40px;
    }
    .width-circle {
      width: 60%;
    }
    .width-circle2 {
      width: 40%;
    }
    .justify-content {
      justify-content: center;
    }
  }

  @media (max-width: 767px) {
    .provider-picture img {
      width: 30px;
      height: 30px;
    }
    .big-rate {
      font-size: 20px;
    }
    .rating-info {
      gap: 10px;
    }
    .mp-notes {
      padding-left: 10px;
    }
    .mp-notes-last {
      padding-left: 10px;
    }
    .width-circle2 {
      width: 50%;
    }
  }

  @media (max-width: 575px) {
    .mp-notes {
      padding-left: 0px;
    }

    .mp-notes-last {
      padding-left: 0px;
    }
    .width-circle2 {
      width: 50%;
    }
  }
}

/* //////////////// FIN DE ZONE RATINGS ///////////////  */

/* //////////////// DEBUT DE ZONE CARROUSSEL //////////////////// */

.carroussel{
  margin-top: 100px;
  margin-bottom: 100px;
}

.pictures-title{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

#cCarousel {
  position: relative;
  /* max-width: 1920px; */
  /* margin: auto; */
  }

#cCarousel .arrow {
  color: white;
  position: absolute;
  top: 25%;
  display: flex;
  width: 65px;
  height: 65px;
  /* justify-content: center;
  align-items: center; */
  border-radius: 50%;
  z-index: 1;
  color: black;
  /* background: #00000072; */
  border: solid 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-weight: bold;
  transition: all 0.3s ease;
}

#cCarousel .arrow:hover {
  color: white;
  background-color: #0000008c;
}

#cCarousel #prev {
  left: 20px;
  color: white;
}

#cCarousel #next {
  right: 20px;
  color: white;
}

#carousel-vp {
  max-width: 990px;
  height: 200px;
  display: flex;
  /* align-items: center; */
  position: relative;
  overflow: hidden;
  margin: auto;
}

@media (max-width: 770px) {
  #carousel-vp {
    width: 510px;
  }
}

@media (max-width: 510px) {
  #carousel-vp {
    width: 250px;
  }
}

#cCarousel #cCarousel-inner {
  display: flex;
  position: absolute;
  transition: 0.3s ease-in-out;
  gap: 50px;
  width: 100%;
  /* left: 0px; */
}

.cCarousel-item {
  width: 250px;
  height: 300px;
  border: 2px solid white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.cCarousel-item img {
  width: 100%;
  object-fit: cover;
  height: 150px;
  color: white;
  border-radius: 15px;
}

.cCarousel-item .infos {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  background: white;
  color: black;
}

.carrousel-sep{
  border: solid 0.5px;
  width: 150px;
  margin-top: 10px;
}

/* //////////////// FIN DE ZONE CARROUSSEL /////////////// */

/* //////////////// DEBUT DE ZONE SÉPARATION /////////////// */

.pictures-separation{
  border: solid 1px var(--third-color);
  margin-bottom: 100px;
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 575px) {
  .pictures-separation {
    border: none;
  }
}

/* //////////////// FIN DE ZONE SÉPARATION /////////////// */

/* //////////////// DEBUT DE ZONE AJOUT COLLECTION /////////////// */

.title-add {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /* border-top: 1px solid black; */
}

.card-add-to-collection {
  display: flex;
  flex-direction: row;
  max-width: 992px;
  width: 100%;
  margin: 40px auto 0 auto;
  border-radius: 15px;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;
}

.game-picture {
  display: flex;
  position: relative;
  width: 260px;
  flex-shrink: 0;
}

.game-cover-center {
  position: relative;
  z-index: 1;
  width: 210px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.cover {
  width: 100%;
  height: 100%;
  background-image: var(--imgGameUrl);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 260px;
  height: 150px;
  background-image: var(--imgGameUrl);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.inner-shadow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 260px;
  height: 150px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 20px 0px #000;
  backdrop-filter: blur(3px);
}

.game-info {
  flex: 1;
  padding: 15px;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}

.info-name {
  color: #575757;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-spacing: -5px;
}

.platform-names {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-add-button {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-right: 20px;
}

.game-add-button i {
  font-size: 20px;
}

@media (max-width: 768px) {
  .card-add-to-collection {
    width: 300px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .game-picture {
    width: 100%;
  }

  .background,
  .inner-shadow {
    width: 100%;
  }

  .game-add-button {
    width: 70%;
    margin: 0 auto 10px auto;
    justify-content: center;
    text-align: center;
  }

  .title-add {
    text-align: center;
  }
}

@media (max-width: 660px) {
  .card-add-to-collection {
    width: 300px;
  }
}

/* //////////////// FIN DE ZONE AJOUT COLLECTION /////////////// */

/* //////////////// DEBUT DE ZONE SHOW COLLECTION /////////////// */

.show-collection {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

/* //////////////// FIN DE ZONE SHOW COLLECTION /////////////// */

/* //////////////// DEBUT DE ZONE BACK TO TOP /////////////// */

.back-to-top {
  position: fixed;
  bottom: 90px;
  right: 90px;
  z-index: 5;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.back-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.back-to-top i {
  font-size: 45px;
  color: black;
  cursor: pointer;
}

/* //////////////// FIN DE ZONE BACK TO TOP /////////////// */