/* ////////////// DEBUT DE ZONE BANNIERE ////////////////// */
.banniere-container {
  overflow: hidden;
  height: 145px;
}

.banniere{
    /* background-image: url('{{gameSelected?.image?.screen_large_url}}'); */
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    /* width: 100%; */
    height: 120px;
    transform: scale(1.1);
}
/* //////////////// FIN DE ZONE BANNIERE ////////////// */

/* //////////////  DEBUT DE ZONE INFORMATIONS ///////////// */

.pictureAndName{
    max-width: 992px;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    position:absolute;
    top:70px;
    left: 50%;
    transform: translateX(-50%);
}

.picture{
    /*background-image: url('');*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
}

.name{
    background-color: white;
    min-height: 100px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px 2px 10px #a6a6a6;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 50px;
}

.game-name{
    padding-left: 30px;
    color: #222;
    height:fit-content;
    display: flex;
    align-items: center;
    font-size: 2rem;
    flex-grow: 1;
    min-width: 0;

}

.global-game-rate{
    width:70px;
    height: 70px;
    margin-right: 40px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: relative;
    flex-shrink: 0;
}

.global-rate{
    font-size:27px;
    position: absolute;
    top: 10px;
    left: 5px;
}

.global-slash{
    position: absolute;
    top:30px;
    left: 33px;
}

.global-20{
    position: absolute;
    top: 30px;
    left:40px
}

@media (max-width: 768px) {
    .pictureAndName {
        gap: 10px;
        flex-direction: column;
        height: auto;
        margin-bottom: 0;  
        position: static;
        transform: translateX(0%);
        transform: translateY(-33%);
        
    }

    .name {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Section Info */
.section-info {
    max-width: 992px;
    width: 100%;
    margin: 180px auto 50px auto;
    padding: 0 15px; 
}


.information {
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 1px 2px 10px #a6a6a6;
    position: relative;
    padding: 30px 20px; 
    background-color: #fff; 
}


.information .title {
    color: #333; 
    margin-bottom: 0;

}


.information-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 30px; 
    flex-wrap: wrap; 
}


.content,
.context {
    flex: 1;
    min-width: 300px; 
    position: relative;
}


.content p,
.context p {
    margin-bottom: 20px;
    color: #555; 
}


.information-line-container {
    display: flex;
    font-size: 18px;
    font-weight: normal; 
    flex-direction: column;
}

.information-line-container h3{
  height: 25px;
}

.information-lines {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
  align-items: start;
  grid-auto-rows: minmax(40px, auto);
}

.field h3 {
  text-align: left;
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: normal;
}

.data h2 {
  text-align: left;
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: normal;
}



.information-line-container {
  margin: 10px 0;
}


/* Ligne pour diviser */
.content {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.context {
    padding-left: 20px;
}

@media (max-width: 768px) {
    .information-container {
        flex-direction: column;
        gap: 20px;
    }

    .content {
        border-right: none;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }

    .context {
        padding-left: 0;
    }

    .information-lines-data {
        text-align: left;
    }

    .section-info {
        max-width: 992px;
        width: 100%;
        margin: -60px auto 50px auto;
        padding: 0 15px; 
    }
}


/* //////////////// FIN DE ZONE INFORMATIONS //////////////// */


/*  ////////////////  DEBUT DE ZONE ACTUALITEES /////////////*/

.actualities{
    max-width: 992px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-top:1px solid black;
    display:flex;
    justify-content: center;
    gap:40px;
    padding-top: 30px;
}

.actu-separation{
    border: solid 1px black;
    height: 170px;
    margin-top: 69px;

}

.game-card,
.provider-card{
    width: 250px;
    height: 207px;
    /* border:solid; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.top-card{
    width:100%;
    height: 35%;
    background-color: red;
    border-radius: 15px 15px 0px 0px;
}

.picture-card{
    /*background-image: url('');*/
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    /* background-color: blue; */
    width: 110px;
    height: 110px;
    position: absolute;
    top: 10px;
}

.game-card-name,
.provider-card-name{
    text-align: center;
    font-weight: bold;
    margin-top: 55px;
}


.follow{
    margin-top: 15px;
    text-decoration: underline;
    font-weight: bold;
}

.follow a {
    color: black;
}

.follow a:hover {
    color: #e74c3c;
    transition: 0.3s;
}

.provider-card-container{
    gap: 20px;
    display:flex;
}

.actualities p{
    font-size: 18px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .actualities {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;

    }

    .actu-separation {
        display: none;
    }

    .provider-card-container {
        flex-direction: column;
        gap: 30px;
    }
  }

/* .game-actu,
.provider-actu{
    width: 420px;
} */

/* ////////////// FIN DE ZONE ACTUALITEES ////////// */

/* ////////////// DEBUT DE ZONE RATINGS ///////////// */


.ratings {
    max-width: 992px;
    width: 100%;
    margin: 80px auto;
    border-radius: 15px;
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.42);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  

  .press-ratings,
  .gamers-ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
  @media (max-width: 768px) {
    .press-ratings,
    .gamers-ratings {
      flex-wrap: wrap;
    }
  }
  

  .press-ratings-details,
  .gamers-ratings-details {
    min-width: 300px;
    padding-left: 60px; 
  }
  
  @media (max-width: 768px) {
    .press-ratings-details,
    .gamers-ratings-details {
      order: 2;
      padding-left: 20px;
      margin-top: 20px;
    }
  }
  

  .title-ratings {
    font-size: 24px; 
    text-decoration: underline;
    margin-bottom: 30px;
    margin-left: -40px; 
  }
  
  @media (max-width: 768px) {
    .title-ratings {
      margin-left: 0;
      text-align: center;
    }
  }
  

  .press-ratings-details-container,
  .gamers-ratings-details-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  

  .one-press-rating,
  .one-gamer-rating {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .one-gamer-rating {
    margin-left: -20px;
  }

  @media (max-width: 768px) {
    .one-gamer-rating {
        margin-left: 0;
      }
  }
  
  .provider-picture img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  

  .press-rating-info,
  .gamer-rating-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .press-ratings-details-name,
  .gamers-ratings-details-name {
    font-weight: bold;
    color: #555;
  }
  
  .press-ratings-details-rate,
  .gamers-ratings-details-rate {
    font-size: 18px;
    color: #e74c3c;
    font-weight: bold;
  }
  
  .big-rate {
    font-size: 24px;
  }
  

  .press-ratings-total,
  .gamers-ratings-total {
    position: relative;
    margin-left: 350px;

  }
  
  @media (max-width: 768px) {
    .press-ratings-total,
    .gamers-ratings-total {
      order: 1;
      margin-left: 0;
      align-self: center;
    }
  }
  

  .press-ratings-total-rate,
  .gamers-ratings-total-rate {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: red;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 21px 21px -14px rgba(0, 0, 0, 0.62);
  }
  
  .gamers-ratings-total-rate {
    width: 130px;
    height: 130px;
    background-color: rgb(141, 138, 138);
  }
  
 

  .total-rate-press {
    font-size: 80px;
    position: absolute;
    left: 23px;
    top: 14px;
  }

  .total-rate-gamers {
    font-size: 60px;
    position: absolute;
    left: 16px;
    top: 16px;
  }
  
  .on-twenty-press {
    font-size: 35px;
    position: absolute;
    bottom: 37px;
    right: 15px;
  }
  .on-twenty-gamers {
    font-size: 25px;
    position: absolute;
    bottom: 30px;
    right: 15px;
  }
  
  .addnote {
    width: 200px;
    margin: 0 auto;
    background-color: rgb(62, 185, 254);
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.3);
    border: none;

  }

  .addnote:hover {
    background-color: dodgerblue;
    transition: 0.3s;
}

  @media (max-width: 768px) {
    .ratings {
      padding: 10px;
      width: 90%;
    
    }
  
    .provider-picture img {
      width: 30px;
      height: 30px;
    }
  
    .big-rate {
      font-size: 20px;
    }
  
  
  }
  



/* //////////////// FIN DE ZONE RATINGS ///////////////  */



/* //////////////// DEBUT DE ZONE CARROUSSEL //////////////////// */

.carroussel{
    margin-top: 40px;
}
.pictures-title{
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    font-size: 20px;
}

#cCarousel {
    position: relative;
    /* max-width: 1920px; */
    /* margin: auto; */
  }
  
  #cCarousel .arrow {
    position: absolute;
    top: 25%;
    display: flex;
    width: 65px;
    height: 65px;
    /* justify-content: center;
    align-items: center; */
    border-radius: 50%;
    z-index: 1;
    font-size: 26px;
    color: black;
    /* background: #00000072; */
    border: solid 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  #cCarousel .arrow:hover {
    color: white;
    background-color: #0000008c;
  }
  
  #cCarousel #prev {
    left: 20px;
  }
  
  #cCarousel #next {
    right: 20px;
  }
  
  #carousel-vp {
    width: 990px;
    height: 200px;
    display: flex;
    /* align-items: center; */
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  
  @media (max-width: 770px) {
    #carousel-vp {
      width: 510px;
    }
  }
  
  @media (max-width: 510px) {
    #carousel-vp {
      width: 250px;
    }
  }
  
  #cCarousel #cCarousel-inner {
    display: flex;
    position: absolute;
    transition: 0.3s ease-in-out;
    gap: 50px;
    /* left: 0px; */
  }
  
  .cCarousel-item {
    width: 250px;
    height: 300px;
    border: 2px solid white;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .cCarousel-item img {
    width: 100%;
    object-fit: cover;
    height: 150px;
    color: white;
    border-radius: 15px;
  }
  
  .cCarousel-item .infos {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    background: white;
    color: black;
  }

  .carrousel-sep{
    border: solid 0.5px;
    width: 150px;
    margin-top: 10px;
  }


/* //////////////// FIN DE ZONE CARROUSSEL /////////////// */


.pictures-separation{
    border: solid 1px;
    margin-top: 40px;
    width: 100%;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
}


.title-add {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    /* border-top: 1px solid black; */
}

.title-add p {
    font-size: 20px;
}

.add-collection {
    width: 100%;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
}

.card-add-to-collection {
    display: flex;
    flex-direction: row;
    max-width: 992px;
    width: 100%;
    margin: 40px auto 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    gap: 30px;
    align-items: center;

}

.game-picture {
    display: flex;
    position: relative;
    width: 260px;
    flex-shrink: 0;
}

.game-cover-center {
    position: relative;
    z-index: 1;
    width: 210px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cover {
    width: 100%;
    height: 100%;
    /* background-image: url(SI_N64_SuperMario64_image1600w.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 260px;
    height: 150px;
    /* background-image: url(SI_N64_SuperMario64_image1600w.jpg); */
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.inner-shadow {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 260px;
    height: 150px;
    border-radius: 15px;
    box-shadow: inset 0px 0px 20px 0px #000; 
    backdrop-filter: blur(3px);
}

.game-info {
    flex: 1;
    padding: 15px;
}

.info-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.game-add-button {
    background-color: rgb(62, 185, 254);
    color: white;
    border: none;
    border-radius: 15px;
    margin: auto;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.3);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    margin-right: 20px;
}

.game-add-button i {
    font-size: 20px;
}

.game-add-button:hover {
    background-color: dodgerblue;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .card-add-to-collection {
        width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .game-picture {
        width: 100%;
    }

    .background, 
    .inner-shadow {
        width: 100%;
    }

    .game-add-button {
        width: 50%;
        margin: 0 auto 10px auto;
        justify-content: center;
        text-align: center;
    }

    .title-add {
        text-align: center;
    }
}





.show-collection {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.my-collection {
    border: none;
    background-color: rgb(254, 62, 62);
    color: white;
    font-size: 24px;
    padding: 10px 50px;
    margin-bottom: 120px;
    border-radius: 15px;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.my-collection:hover {
    background-color: red;
    transition: 0.3s;
}






