<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
</style>

<div class="gamenium-banner">
    <div class="gamenium-logo"></div>
    <div class="gamenium-welcome">
        <h1>GAMENIUM</h1>
        <p>L'application pour votre vie de gamer</p>
    </div>
</div>

<div class="home-invite">

    <div id ="gamenium-intro-invite" class="rowamoi mb">

        <div class="gamenium-description-panel">
            <div class="gamenium-description-content">
                <h2>Gamenium c'est quoi ?</h2>
                <p>Gamenium est un site et une application <br>permettant de synchroniser toute sa vie<br> de gameur.</p>
                <div class="description-list">
                    <p><i class="ri-arrow-right-line "></i>Voir les actualités</p>
                    <p><i class="ri-arrow-right-line"></i>Consulter ses jeux</p>
                    <p><i class="ri-arrow-right-line"></i>Gerer la collection de ses jeux vidéos</p>
                    <p><i class="ri-arrow-right-line"></i>Partager son histoire avec ses amis</p>
                </div>
            </div>
            <div class="gamenium-description-img">

            </div>
        </div>

        <div class="gamenium-connect-panel">
            <h2>Pour profiter pleinement de toutes les fonctionnalités offertes par Gamenium</h2>
            <div class="connect-button">
                <a class="login-btn" routerLink="/account" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Connectez-vous</a>
                <a class="sign-in-btn">Inscrivez-vous</a>
            </div>
        </div>

    </div>

    <div id="gamenium-actu-invite">
        <div class="gamenium-container-panel mb">
            <h2>Les actus à la Une</h2>
            <div class="rowamoi">
                <!-- Boucle avec les card actus (en afficher 6) -->
                <app-card-actuality [numberOfPosts]="2"></app-card-actuality>
            </div>
           <div class="rowamoi justify-content-end">
                <a href="" class="view-more-btn">Voir plus<i class="ri-arrow-right-circle-line"></i></a>
           </div>
        </div>
    </div>

    <div id="gamenium-latest-release">
        <div class="gamenium-container-panel mb">
            <h2>Les dernières sorties</h2>
            <div class="rowamoi">
                <!-- Boucle avec les cards jeux (en afficher 4)-->
            </div>
            <div class="rowamoi justify-content-end">
                <a href="" class="view-more-btn">Voir plus<i class="ri-arrow-right-circle-line"></i></a>
            </div>
        </div>

    </div>

    <div id="gamenium-top-actus">
        <div class="gamenium-container-panel mb">
            <h2>Les tops du mois</h2>
            <div>
                <!--  Boucle avec les cards actus du mois ( en afficher 9 ?) -->
            </div>
            <div class="rowamoi justify-content-end">
                <a href="" class="view-more-btn">Voir plus<i class="ri-arrow-right-circle-line"></i></a>
            </div>
        </div>
    </div>
    
</div>

<!-- 
    <div class="condition-utilisation">
        <div class="condition-u-container">
            <div class="cgu" >
               <a href="">CGU</a>
            </div>
            <div class="condition-border">
                <div class="condition-border"></div>
            </div>
            <div class="termes">
                 <a href="">Termes et utilisation</a>
            </div>
        </div>
    </div> 
-->