<!-- <p>home-invite works!</p> -->
<!-- ///// START WORK /////-->

<div class="gamenium-banner">
    <div class="gamenium-logo"></div>
    <div class="gamenium-welcome">
        <p>GAMENIUM</p>
        <p>L'application pour votre vie de gamer</p>
    </div>
</div>

<div class="home-invite">

    <div class="connect-user">
        <div class="connect-title">Profitez de toutes les fonctionnalités</div>
        <div class="button">
            <button class="connect-btn">Connectez vous</button>
        </div>
    </div>

    <div class="gamenium-description-container">
        <div class="gamenium-description">
            <div class="description-text">
                <div class="description-title">Gamenium c'est quoi?</div>
                <div >Gamenium est un site et une application permettant de synchroniser toute sa vie de gamer</div>
                    <div class="description-list">
                        <ul>
                            <li><i class="ri-arrow-right-line"></i>Voir les actualités</li>
                            <li><i class="ri-arrow-right-line"></i>Consulter ses jeux</li>
                            <li><i class="ri-arrow-right-line"></i>Gerer la collection de ses jeux vidéos</li>
                            <li><i class="ri-arrow-right-line"></i>Partager avec ses amis son histoire</li>
                        </ul>
                    </div>
            </div>
        </div>
        <div class="description-image"></div>
    </div>

    <div class="actu-container">
        <div class="actu-title">Nos actualités</div>
        <div class="actu-icons">Icon provider</div>
        <div class="actu-card">Carte actu</div>
        <div class="actu-connect">
            <div class="connect-call">Connectez vous afin de suivre uniquement les actualités et les jeux qui vous intéressent</div>
            <div class="actu-connect-button">
                <button class="connect-btn">Connectez vous</button>
            </div>
        </div>
    </div>

    <div class="profile-gamer">
        <div class="profile-card-container">
            <div class="profile-card">
                <div class="profile-color"></div>
                <div class="profile-picture"></div>
                <p class="name">Mario</p>
                <p class="follow">Suivre</p>
            </div>
        </div>
        <div class="profile-description">
            <div class="profile-title">Profil de gamer</div>
            <div class="profile-text">Créez votre profil de gamer afin de pouvoir partager et noter tout les jeux qui ont fait votre histoire de gamer</div>
            <div class="profile-text">Vous êtes unique et votre collection permet de le partager avec vos amis</div>
        </div>
    </div>

    <div class="tyrolium-description-container">
        <div class="tyrolium-image"></div>
        <div class="tyrolium-description">
            <div class="tyrolium-title">Tyrolium !</div>
            <div class="tyrolium-text">Tyrolium est l'entreprise qui a crée et possède Gamenium.
                Il s'agit d'une entreprise française qu a pour but de prouver que la France et
                l'Europe peuvent battre les géants Américains et Chinois dans la technologie.
            </div>
            <div class="tyrolium-link">
                <a href="https://tyrolium.fr/">Site de Tyrolium</a>
            </div>
        </div>
    </div>

    <div class="condition-utilisation">
        <div class="condition-u-container">
            <div class="cgu" >
               <a href="">CGU</a>
            </div>
            <div class="condition-border">
                <div class="condition-border"></div>
            </div>
            <div class="termes">
                 <a href="">Termes et utilisation</a>
            </div>
        </div>
    </div>
    
</div>