<div class="top"></div>



<div class="circle">
    <img src="zdun-transformed.jpeg" alt="Votre image">
</div>



<div class="container-fluid first-div">
    <div class="centre">

        <div class="border composant search-form-container">
            <h2>Bonjour <span class="name">{{ userConnected?.username }}</span></h2>
            <hr>
            <form action="#" class="search-form">
                <button type="submit" class="search-icon-container">
                    <img src="search-line.png" class="search-icon" alt="">
                </button>
                <input type="text" class="searchbar" placeholder="Rechercher dans vos paramètres">
            </form>
        </div>


        <div class="border composant para-container">
            <h2>Paramètres du compte</h2>
            <hr>
            <div class="para radius">
                <a href="">
                    <div><i class="ri-lock-password-fill"></i>Changer Mot de passe</div>
                    <div><i class="ri-arrow-right-s-line"></i></div>
                </a>
            </div>
            <div class="para radius">
                <a href="">
                    <div><i class="ri-lock-password-fill"></i>Changer Mot de passe</div>
                    <div><i class="ri-arrow-right-s-line"></i></div>
                </a>
            </div>
            <div class="para radius">
                <a href="">
                    <div><i class="ri-lock-password-fill"></i>Changer Mot de passe</div>
                    <div><i class="ri-arrow-right-s-line"></i></div>
                </a>
            </div>
        </div>


        <div class="border composant">
            <h2>Paramètres du compte</h2>
            <hr>
            <div class="para radius">
                <a href="">
                    <div><i class="ri-lock-password-fill"></i>Changer Mot de passe</div>
                    <div><i class="ri-arrow-right-s-line"></i></div>
                </a>
            </div>
            <div class="para radius">
                <a href="">
                    <div><i class="ri-lock-password-fill"></i>Changer Mot de passe</div>
                    <div><i class="ri-arrow-right-s-line"></i></div>
                </a>
            </div>
            <div class="para radius">
                <a href="">
                    <div><i class="ri-lock-password-fill"></i>Changer Mot de passe</div>
                    <div><i class="ri-arrow-right-s-line"></i></div>
                </a>
            </div>
        </div>

    </div>
</div>

<!-- <app-nav></app-nav>-->
 placer le composant navbar ici

<p>Votre Profile:</p>

<h1> {{ userConnected?.username }} </h1>
<h1> {{ userConnected?.email }} </h1>

<h2>{{ userConnected?.displayname }}</h2>
<ng-container *ngIf="userConnected?.displaynameUseritium">
  <h2><img width="40px" src="https://tyrolium.fr/Contenu/Image/Useritium Site.png">{{
    userConnected?.displaynameUseritium }}</h2>
</ng-container>

<h2>{{ userConnected?.joinAt | date:'medium' }}</h2>

<ng-container *ngIf="badgeUserConnected">
  <p>
    Badge ->
  </p>

  <ng-container *ngFor="let badge of badgeUserConnected">

    <div class="card">

      <img width="40px" src="{{ badge.picture?.url }}">
      <h3> {{ badge.name }}</h3>

    </div>


  </ng-container>

</ng-container>

<form enctype="multipart/form-data">
  <div>
    <input type="file" (change)="onFileChanged($event)">
    <button type="button" (click)="onUpload()">Télécharger</button>
  </div>
</form>




<div>


  <label for="themeColor">Choisir la couleur du thème:</label>
  <input type="color" id="themeColor" [(ngModel)]="tempColor" />

  <button (click)="saveColor()">Enregistrer la couleur</button>
</div>

<div *ngIf="userConnected">
  <h1>Thème du Profil de {{ userConnected.username }}</h1>

  <div [ngStyle]="{ 'background-color': userConnected.themeColor }">
    TEST
  </div>
</div>


<button (click)="loggout()" class="btn btn-danger"> Loggout </button>

<div style="height: 120px"></div>
