/* body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin:0;
    margin-bottom: 10px;
  } */


  .top{
    background-color: red;
    height: 160px;
    box-shadow: 0px -37px 73px rgba(0, 0, 0, 0.51) inset;
  }

  .name{
    color: red;
  }

  .circle {
    position:absolute;
    left: 0;
    right: 0;
    top: 25px;
    display: flex;
    justify-content: center;
  }

  .circle-img {
    /* background-image: url(); */
    /* /////////REMPLACER BORDER PAR URL BG-IMAGE//////////   */
    /*border: solid red;*/
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 21px;
    background-color: white;box-shadow: 3px 2px 30px -5px rgba(0,0,0,0.51);

    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .border{
    border: solid 1px;
  }

  .composant{
    background-color: white;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 3px 2px 30px -5px rgba(0,0,0,0.51);

    width: 845px;
    padding: 33px 50px;
  }

  .container-fluid {
  max-width: 100%;
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
    margin-top: 88px;
  }

.centre{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
}

hr{
  width: 80%;
  margin-right: 200px;
  margin-bottom: 25px;
  border:solid 1px;
}

.search-form-container{
  position: relative;
}

.ri-search-line{
  color: white;
  font-size: 24px;
}

.search-form{
  margin-top: -50px;
}

.input-container{
  border: solid 1px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  border:none;
  outline: none;
  box-shadow: 0px 4px px 1px rgba(0,0,0,0.5) inset;
}

.search-icon-container i {
  margin-left: 2px;
}
.search-icon-container{
  border-radius: 50%;
  width:50px;
  height:50px;
  border:0px;
  background-color: red;
  position:relative;
  left: 667px;
  top:55px;
}

.search-icon{
    border-radius: 50%;
}

.searchbar{
  margin-right: 260px;
  width: 98%;
  height: 60px;
  font-size: 24px;
  border: none;
  border-radius: 15px;
  caret-color: transparent;
  box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.5) inset;
  background-color: #F3F3F3;
}

.searchbar::placeholder{
  position: absolute;
  bottom:12px;
  font-size: 24px;
  /*padding-left: 50px;*/
  padding-bottom: 5px;
}


.para{
  width: 98%;
  /*height: 70px;*/
  border: none;
  margin-bottom: 20px;
  /*box-shadow: -2px -1px 400px -100px rgba(0,0,0,0.55) inset;*/
  background-color: #F3F3F3;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  /*border-radius: 10px*/
}

a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-decoration: none;

}

.ri-lock-password-fill,
.ri-arrow-right-s-line,
i{
  font-size: 40px;
  margin-left: 10px;
}


a > div {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 20px;
}

.radius{
  border-radius: 15px;
  padding:5px;
}

.card-body p{
  margin: 0;
}


.card-body h5:first-child {
margin-top: unset;
}
.card-body h5{
  text-align: center;border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 23px;
  margin-top: 24px;
}

.card-body {
  background: transparent;
  border: unset;
}

.reseau i{
  font-size: unset!important;
  margin-right: 5px;
}
