<modal-tag></modal-tag>
<modal-buywhere></modal-buywhere>

<div class="top" style="background-color: {{ color }}!important;"></div>


<!--<input type="file" (change)="onFileChanged($event)" id="profilePictureInput">-->

<div class="circle">
  <div class="circle-img" style="{{ this.app.generatePPUseritium(profilSelected?.picture, this.userConnected?.displaynameUseritium || this.userConnected?.username, color) }}"></div>
</div>

<div class="container-fluid first-div" style="margin-bottom: 120px;">
  <div class="centre">
    <!-- Zone de recherche -->
    <div class="composant search-form-container">
      <h2>Bonjour
        <span class="name" style="color: {{ color }}!important">{{ userConnected?.displaynameUseritium || userConnected?.username }}</span>
        <ng-container *ngIf="badgeUserConnected">
          <ng-container *ngFor="let badge of badgeUserConnected">
            <img style="margin-left: 6px" width="30px" src="{{ badge.picture?.url }}">
          </ng-container>
        </ng-container>
      </h2>
      <hr>
      <form action="#" class="search-form">
        <div class="input-container">
          <input  [ngStyle]="{ '--color': color ?? this.app.colorDefault }" (input)="filterSettings($event)" type="text" class="searchbar" placeholder="Rechercher dans vos paramètres">
          <button type="submit" class="search-icon-container" aria-label="Search" style="background-color: {{ color }}!important">
            <i class="ri-search-line"></i>
          </button>
        </div>
      </form>
    </div>

    <div id="result" class="composant" style="display: none;">
      <h2>Résultats</h2>
      <hr>
    </div>

    <!-- PARAMETRE DU COMPTE -->
    <div class="composant para-container">
      <h2>Paramètres du compte</h2>
      <hr id="settings-hr">

      <!-- Setion Profil -->
      <div class="para radius mb-4 search-setting para-setting">
        <a data-bs-toggle="collapse" href="#collapseProfil" role="button" aria-expanded="false" aria-controls="collapseProfil">
          <div><i class="ri-account-circle-line"></i>
            <h3>Profil</h3>
            <p>Photo, bannière, couleur</p>
          </div>
          <div><i class="ri-arrow-right-s-line"></i></div>
        </a>
        <div class="collapse" id="collapseProfil">
          <div class="card card-body modern-card">
            <!-- Content de la card profil -->
            <div class="profile-card">
              <div>
                <div class="profile-header" [ngStyle]="{ 'background-color': color }"></div>
                  <div class="profile-avatar" style="{{ this.app.generatePPUseritium(profilSelected?.picture, this.userConnected?.displaynameUseritium || this.userConnected?.username, color) }}">
                    <i *ngIf="profilSelected?.picture" id="delete-picture" class="ri-delete-bin-line delete-picture-icon" (click)="deletePicture()"></i>
                  </div>
                  <h3>{{ userConnected?.displaynameUseritium || userConnected?.username }}</h3>
                  <ng-container *ngIf="userConnected?.displaynameUseritium && userConnected?.username !== userConnected?.displaynameUseritium">
                    <p><img width="20px" src="https://tyrolium.fr/Contenu/Image/Useritium Site.png">{{
                      userConnected?.username }}</p>
                  </ng-container>
                  <p> {{ userConnected?.email }} </p>
              </div>
              <!-- Color Picker -->
              <div class="settings-section">
                <h5 class="setting-title">Couleur du thème</h5>
                <div class="color-picker">
                  <div class="colorpick">

                    <label  for="themeColor">Choisir la couleur du thème:</label>
                    <input type="color" id="themeColor" value="{{color ?? 'red'}}" [(ngModel)]="color" />

                  </div>
<!--                  <button [ngStyle]="{ '&#45;&#45;color': color ?? 'red' }" class="btn-save" (click)="saveColor()">Enregistrer la couleur</button>-->
                  <button style="background-color: {{ color }}" class="main-gamenium-btn" (click)="saveColor()">Enregistrer la couleur</button>
                </div>
              </div>
              <!-- Update la photo de profil -->
              <div class="settings-section">
                <h5 class="setting-title">Photo de profil</h5>
                <div>
                  <div class="file-upload">
                    <input type="file" [ngStyle]="{ '--color': color ?? 'red' }" (change)="onFileChanged($event)" id="profilePictureInput">
<!--                    <label for="profilePictureInput" class="file-label">-->
<!--                      <i class="ri-upload-cloud-line"></i> Sélectionner une image-->
<!--                    </label>-->
<!--                    <button [ngStyle]="{ '&#45;&#45;color': color ?? 'red' }" type="button" id="upload-button" class="btn-upload" (click)="onUpload()">Télécharger</button>-->
                    <button style="background-color: {{ color }}" type="button" id="upload-button" class="main-gamenium-btn" (click)="onUpload()">Télécharger</button>
                  </div>
                </div>
              </div>
              <!-- Affichage des badges -->
              <div class="badges-section" *ngIf="badgeUserConnected">
                <h5 class="setting-title">Vos badges</h5>
                <div class="badges">
                  <ng-container *ngFor="let badge of badgeUserConnected">
                    <div class="badge">
                      <img src="{{ badge.picture?.url }}" alt="{{ badge.name }}">
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section Connexion -->
      <div class="para radius mb-4 search-setting para-setting">
        <a data-bs-toggle="collapse" href="#collapseReseau" role="button" aria-expanded="false" aria-controls="collapseReseau">
          <div>
            <i class="ri-at-line"></i>
            <h3>Connexion</h3>
            <p>Réseaux sociaux et services</p>
          </div>
          <div><i class="ri-arrow-right-s-line"></i></div>
        </a>
        <div class="collapse" id="collapseReseau">
          <div class="card card-body modern-card">
            <!-- Card Connexion -->
            <div class="connection-card">
              <h5 class="setting-title">Vos réseaux</h5>
              <form class="reseau" #addUrlForm="ngForm" (ngSubmit)="addUrlSocial(addUrlForm)" method="post">
                <ng-container *ngFor="let socialNetworkOne of socialNetworkAll">
                  <div class="social-item">
                    <i class="{{ socialNetworkOne.icon_class }} socials-icon"></i>
                    <label class="socials-label" for="{{ socialNetworkOne.name }}">{{ socialNetworkOne.name | titlecase }}</label>
                    <input [value]="socialNetworkOne.url_user.replace('https://', '')" type="text" class="social-input-locked urluserSocialNetwork" disabled>
                    <ng-container *ngIf="reseauSelected">
                      <input [ngStyle]="{ '--color': color ?? 'red' }" type="text" id="{{ socialNetworkOne.name}}" class="social-input" name="{{ socialNetworkOne.name }}" [(ngModel)]="reseauSelected[socialNetworkOne.id].url">
                    </ng-container>
                    <ng-container *ngIf="!reseauSelected">
                      <input [ngStyle]="{ '--color': color ?? 'red' }" type="text" id="{{ socialNetworkOne.name }}" class="social-input" name="{{ socialNetworkOne.name }}" ngModel placeholder="Nom d'utilisateur">
                    </ng-container>
                  </div>
                </ng-container>
                <input style="background-color: {{ color }}" type="submit" class="main-gamenium-btn" value="Valider">
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Changement des valeur par default-->
      <div class="para radius mb-4 search-setting para-setting">
        <a data-bs-toggle="collapse" href="#collapseDefault" role="button" aria-expanded="false" aria-controls="collapseDefault">
          <div>
            <i class="ri-pencil-line"></i>
            <h3>Options de jeux</h3>
            <p>Devise, Achat, Tags</p>
          </div>
          <div><i class="ri-arrow-right-s-line"></i></div>
        </a>
        <div class="collapse" id="collapseDefault">
          <div class="card card-body modern-card">
            <!-- Content Default Option -->
            <div class="default-card">
              <h5 class="setting-title">Changer les options des jeux</h5>
            </div>
            <div class="d-flex redirect-section">

              <form class="default" #addDefaultForm="ngForm" (ngSubmit)="updateDefault(addDefaultForm)">
                <div class="default-item">
                  <label class="socials-label" for="devise"><i class="ri-money-euro-circle-line"></i>Devise par défaut</label>
                  <ng-container *ngIf="app.deviseNoReload">
                    <select id="devise" name="devise_default" ngModel>
                      <ng-container *ngIf="app.userDefaultNoReload">
                        <option value="">{{ app.userDefaultNoReload.devise.symbole }}</option>
                      </ng-container>
                      <ng-container *ngIf="!app.userDefaultNoReload">
                        <option value="">Choisir une devise</option>
                      </ng-container>
                      <ng-container *ngFor="let devise of app.deviseNoReload">
                        <ng-container *ngIf="app.userDefaultNoReload">
                          <option [value]="devise.id" *ngIf="app.userDefaultNoReload.devise.id !== devise.id">{{ devise.symbole }}</option>
                        </ng-container>
                        <ng-container *ngIf="!app.userDefaultNoReload">
                          <option [value]="devise.id">{{ devise.symbole }}</option>
                        </ng-container>
                      </ng-container>
                    </select>
                  </ng-container>
                </div>
                <div class="default-item">
                  <label class="socials-label" for="achat"><i class="ri-money-euro-circle-line"></i>Gerez ces lieux d'achat</label>
                  <button id="achat" type="button" class="main-gamenium-btn" style="background-color: {{ color }}" data-bs-toggle="modal" data-bs-target="#manageBuyWhere">Gerez ces lieux</button>
                </div>
                <div class="default-item">
                  <label class="socials-label" for="tags"><i class="ri-money-euro-circle-line"></i>Gerez ces tags</label>
                  <button id="tags" type="button" class="main-gamenium-btn" style="background-color: {{ color }}" data-bs-toggle="modal" data-bs-target="#manageTags">Gerez ces tags</button>
                </div>
                <input style="background-color: {{ color }}" type="submit" class="main-gamenium-btn" value="Valider">
              </form>


            </div>
          </div>
        </div>
      </div>

      <!-- Changement mot de passe section -->
      <div class="para radius mb-4 search-setting para-setting">
        <a data-bs-toggle="collapse" href="#collapseMdp" role="button" aria-expanded="false" aria-controls="collapseMdp">
          <div><i class="ri-lock-password-line"></i>
            <h3>Changer de mot de passe</h3>
            <p>Useritium</p>
          </div>
          <div><i class="ri-arrow-right-s-line"></i></div>
        </a>
        <div class="collapse" id="collapseMdp">
          <div class="card card-body modern-card">
            <!-- COntent Changement de MDP -->
            <div class="password-card">
              <h5 class="setting-title">Changer le mot de passe</h5>
            </div>
            <div class="d-flex redirect-section">
              <p class="redirect-message">Besoin de mettre à jour vos informations ? Rendez-vous sur Useritium pour accéder et modifier votre profil.</p>
              <a href="https://useritium.fr/" target="_blank" class="main-gamenium-btn redirect-btn" style="background-color: {{ color }}">Aller sur Useritium</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Se Deconnecter -->
      <div class="para radius unlog">
        <a (click)="loggout()">
          <div><i class="ri-shut-down-line"></i>
            <h3>
              Déconnexion de votre compte
            </h3>
          </div>
          <div><i class="ri-arrow-right-s-line"></i></div>
        </a>
      </div>
    </div>

    <!-- Section Information -->
    <div class="composant informations-section">
      <h2>Informations</h2>
      <hr>
      <div class="para radius mb-4 search-setting information-setting">
        <a routerLink="/terms">
          <div><i class="ri-information-2-line"></i>
            <h3>
              Termes et conditions de comptes
            </h3>
          </div>
          <div><i class="ri-arrow-right-s-line"></i></div>
        </a>
      </div>

    <div class="para radius mb-4 search-setting information-setting">
      <a data-bs-toggle="collapse" href="#collapseBadges" role="button" aria-expanded="false" aria-controls="collapseBadges">
        <div><i class="ri-emotion-happy-line"></i>
          <h3>
            Tous nos badges disponibles
          </h3>
        </div>
        <div><i class="ri-arrow-right-s-line"></i></div>
      </a>
      <div class="collapse" id="collapseBadges">
        <div class="card card-body modern-card" [ngStyle]="{'--userColor': this.app.userConnected?.themeColor || this.app.colorDefault }">
          <!-- Contenu de la section Tous nos badges -->
          <div class="badges-card">
            <h5 class="setting-title">Vitrine de nos badges</h5>
          </div>
          <div class="badge-container">
          <ng-container *ngFor="let badge of allBadges">
            <div class="badge-list-container d-flex">
              <div>
                <i class="badge-owned-icon" [ngClass]="!isBadgeInUserConnected(badge) ? 'ri-checkbox-blank-circle-line' : 'ri-checkbox-circle-fill' " style="color: {{ color }}"></i>
              </div>
              <div class="badge-header">
                <div class="badge-list-item" style="background-image: url({{badge.picture?.url}});"></div>
                <p [ngClass]="{'badge-owned': isBadgeInUserConnected(badge)}" class="align-content-center mx-2 badge-list-name">{{badge.name}}</p>
              </div>
              <p [ngClass]="{'badge-owned': isBadgeInUserConnected(badge)}" class="badge-description align-content-center mx-2">{{badge.unlockDescription ? badge.unlockDescription : 'Non renseigné'}}</p>
            </div>
            <div class="badge-border mb-4"></div>
          </ng-container>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
