body {
  margin: 0;
  margin-bottom: 10px;
}

h2 {
  color: #333;
}

.top {
  height: 183px;
  width: 100%;
  box-shadow: 1px 2px 10px #a6a6a6;
  margin-bottom: 55px;
  /*background-color: white;*/
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
}

.name {
  color: red;
}

.circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  display: flex;
  justify-content: center;
}

.circle-img {
  border-radius: 50%;
  width: 250px;
  height: 250px;

  background-color: white;
  box-shadow: 3px 2px 30px -5px rgba(0, 0, 0, 0.51);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profilPhoto {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 3px 12px #a6a6a6;
  margin-top: 25px;
}

.lettrePP {
  text-align: center;
  font-size: 200px;
  margin-top: -25px;
}

.composant {
  background-color: white;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  box-shadow: 1px 2px 10px #a6a6a6;
  width: 100%;
  padding: 33px 50px;
}

.container-fluid {
  width: 100%;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
  margin-top: 88px;
}

.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}


hr {
  width: 80%;
  margin-right: 200px;
  margin-bottom: 25px;
  border: solid 1px;
}

.search-form-container {
  position: relative;
}


.search-form {
  margin-top: 20px;
}


.input-container {
  position: relative;
  width: 100%;
}


.searchbar {
  width: 100%;
  padding: 15px;
  padding-right: 60px;
  height: 60px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  box-shadow: inset 0px 0px 11px -6px rgba(0, 0, 0, 0.5);
  background-color: #F3F3F3;
  box-sizing: border-box;
}

.searchbar:focus {
  outline: 2px solid var(--color);
}

.searchbar::placeholder {
  font-size: 18px;
  color: #aaa;
  caret-color: auto;
}

.search-icon-container {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}


.search-icon-container i {
  color: #ffffff;
  font-size: 28px;
  padding-right: 8px;
}

.search-setting p {
  color: var(--third-color);
}

.search-icon-container:hover i  {
  color: #ffffff;
  transition: 0.3s;
}

.unlog {
  background-color: #ffafaf !important;
  cursor: pointer;
}

.urluserSocialNetwork{
  text-align: end;
}


@media (max-width: 600px) {
  .searchbar {
    font-size: 18px;
    height: 50px;
    padding: 10px;
    padding-right: 50px;
  }

  .searchbar::placeholder {
    font-size: 18px;
  }

  .search-icon-container {
    right: 10px;
    width: 40px;
    height: 40px;
  }

  .search-icon-container i {
    font-size: 20px;
  }
}






.para {
  width: 98%;
  background-color: #F3F3F3;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-decoration: none;
}

.ri-lock-password-fill,
.ri-arrow-right-s-line,
i {
  font-size: 30px;
  margin-left: 10px;
}

a > div {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 20px;
}

.radius {
  border-radius: 15px;
  padding: 5px;
}

.card-body p {
  margin: 0;
}

.card-body h5:first-child {
  margin-top: unset;
}

.card-body {
  background: transparent;
  border: unset;
}

.reseau i {
  font-size: unset !important;
  margin-right: 5px;
}

/* Nouvelle Card */
.modern-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-card {
  text-align: center;
  color: #333;
}

.profile-header {
  padding: 20px;
  height: 100px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  position: relative;
  box-shadow: 1px 2px 10px #a6a6a6;
}

.profile-avatar {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: -60px auto 5px;
  background-size: cover;
  background-position: center;
  border: 5px solid #fff;
  box-shadow: 1px 3px 12px #a6a6a6;
}

.profile-avatar:hover .delete-picture-icon {
  visibility: visible;
}

.settings-section {
  margin-top: 30px;
  text-align: left;
}

.setting-title {
  text-align: start;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.color-picker,
.file-upload,
.password-input,
.social-item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 15px;
}

.file-upload,
.color-picker {
  flex-direction: row;
  justify-content: space-between;
}

.color-picker label {
  color: var(--color);
  width: fit-content;
}

.file-upload label,
.password-input label,
.social-item label {
  flex: 1;
}

.password-input input {
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.color-picker input[type="color"] {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#themeColor {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

#themeColor::-webkit-color-swatch {
  border-radius: 50%;
  border: 3px solid black;
}

#themeColor::-moz-color-swatch {
  border-radius: 50%;
  border: 3px solid black;
}

/*#upload-button:hover:not([disabled]) {*/
/*  border: 1px solid;*/
/*  background-color: white;*/
/*  border-color: var(--color);*/
/*  color: var(--color);*/
/*}*/

#upload-button:disabled {
  filter: grayscale(80%);
  cursor: not-allowed;
}

.colorpick {
  display: flex;
  align-items: center;
}

.btn-save,
.btn-upload,
.btn-submit {
  background-color: var(--color);
  color: #fff;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.btn-save {
  margin: 0;
}

.btn-submit {
  float: inline-end;
}

.main-gamenium-btn {
  width: 30%;
  margin: 0;
  float: inline-end;
}


.btn-save:hover,
.btn-submit:hover {
  border: 1px solid;
  background-color: white;
  border-color: var(--color);
  color: var(--color);
}

.delete-picture-icon {
  font-size: 18px;
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  left: 36px;
  visibility: hidden;
  cursor: pointer;
}

.file-label {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

.file-label i {
  margin-right: 5px;
}

/* .file-upload input[type="file"] {
 display: none;
} */
.social-input-locked,
.social-input {
  border: none;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  background: #F3F3F3;
  border-radius: 4px 4px 0 0;
  border-color: var(--color);
  border-bottom: 2px solid;
  font-family: var(--main-police), sans-serif;
  color: #575757;
  height: 100%;
  transition: border-bottom 0.3s ease;
}

.social-input {
  font-weight: 500;
  color: black;
}

.social-input-locked {
  opacity: 0.6;
  width: 200px;
}

.social-input:focus {
  transition: border-bottom 0.3s ease;  outline: none;
  border-color: var(--color);
}

.socials-icon {
  align-content: center;
}

.socials-label {
  align-content: center;
}

.badges-section {
  margin-top: 30px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badge {
  margin: 5px;
  text-align: center;
}

.badge img {
  width: 50px;
  height: 50px;
  transition: transform 0.2s;
}

.badge img:hover {
  transform: scale(1.1);
}

.badge-list-container {
  padding-bottom: 10px;
}

.badge-list-item {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.badge-list-name {
  min-width: 60px;
}

.gray-badge {
  filter: grayscale(100%);
}

.password-card form {
  display: flex;
  flex-direction: column;
}

.password-input label {
  margin-bottom: 5px;
}

.password-input input {
  width: 100%;
}

@media (max-width: 768px) {
  .color-picker,
  .file-upload,
  .password-input,
  .social-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .color-picker {
    display: block;

  }

  .btn-save,
  .btn-upload,
  .btn-submit {
    width: 100%;
    margin-top: 10px;
  }

}




.collapse {
  transition: max-height 0.4s ease-in-out;
}

.para:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

.btn-save,
.btn-upload,
.btn-submit {
  transition: background-color 0.3s ease;
}

.badge img {
  transition: transform 0.3s ease;
}

::file-selector-button {
  border: none;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  background: #F3F3F3;
  border-radius: 4px 4px 0 0;
  border-color: var(--color);
  border-bottom: 2px solid;
  font-family: var(--main-police), sans-serif;
  color: #575757;
  cursor: pointer;
  height: 100%;
}



/* .no-result-message {
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
  color: var(--third-color);
  background-color: #F3F3F3;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background-color: rebeccapurple !important;
} */
