<div class="top" style="background-color: {{ color }}!important;"></div>



<div class="circle">
  <div *ngIf="profilSelected?.picture" class="circle-img" style="background-image: url('{{ profilSelected?.picture }}')"></div>
  
  <div *ngIf="!profilSelected?.picture" class="profilPhoto" style="background-color: white!important">
    <p class="lettrePP" style="color: {{color}}">{{ extractFirstLetter(profilSelected?.displayname) }}</p>
  </div>
</div>

<div class="container-fluid first-div" style="margin-bottom: 120px;">
  <div class="centre">
    <!-- Zone de recherche -->
    <div class="border composant search-form-container">
      <h2>Bonjour
        <span class="name" style="color: {{ color }}!important">{{ userConnected?.username }}</span>
        <ng-container *ngIf="badgeUserConnected">
          <ng-container *ngFor="let badge of badgeUserConnected">
            <img style="margin-left: 6px" width="30px" src="{{ badge.picture?.url }}">
          </ng-container>
        </ng-container>
      </h2>
      <hr>
      <form action="#" class="search-form">
        <button type="submit" class="search-icon-container" style="background-color: {{ color }}!important">
          <i class="ri-search-line"></i>
        </button>
        <input type="text" class="searchbar" placeholder="Rechercher dans vos paramètres">
      </form>
    </div>

    <!-- PARAMETRE DU COMPTE -->
    <div class="border composant para-container">
      <h2>Paramètres du compte</h2>
      <hr>
      <!-- Setion Profil -->
      <div class="para radius mb-4">
        <a data-bs-toggle="collapse" href="#collapseProfil" role="button" aria-expanded="false" aria-controls="collapseProfil">
          <div><i class="ri-account-circle-line"></i>Profiles (Photo, Banner, Couleur)</div>
          <div><i class="ri-arrow-right-s-line"></i></div>
        </a>
        <div class="collapse" id="collapseProfil">
          <div class="card card-body modern-card">
            <!-- Content de la card profil -->
            <div class="profile-card">
              <div class="profile-header" [ngStyle]="{ 'background-color': color }">
                <div class="profile-avatar" [style.backgroundImage]="'url(' + (profilSelected?.picture || 'https://tyrolium.fr/generate-pp/?l=' + extractFirstLetter(userConnected?.displayname)) + ')'"></div>
                <h3>{{ userConnected?.displayname || userConnected?.username }}</h3>
                <p> {{ userConnected?.username }} </p>
                <p> {{ userConnected?.email }} </p>

                <ng-container *ngIf="userConnected?.displaynameUseritium">
                  <p><img width="20px" src="https://tyrolium.fr/Contenu/Image/Useritium Site.png">{{
                    userConnected?.displaynameUseritium }}</p>
                </ng-container>
              </div>
              <!-- Color Picker -->
              <div class="settings-section">
                <h5>Couleur du Thème</h5>
                <div class="color-picker">
                  <label for="themeColor">Choisir la couleur du thème:</label>
                  <input type="color" id="themeColor" [(ngModel)]="tempColor" />
                  <button class="btn-save" (click)="saveColor()">Enregistrer la couleur</button>
                </div>
              </div>
              <!-- Update la photo de profil -->
              <div class="settings-section">
                <h5>Photo de profil</h5>
                <form enctype="multipart/form-data">
                  <div class="file-upload">
                    <input type="file" (change)="onFileChanged($event)" id="profilePictureInput">
                    <label for="profilePictureInput" class="file-label">
                      <i class="ri-upload-cloud-line"></i> Sélectionner une image
                    </label>
                    <button type="button" class="btn-upload" (click)="onUpload()">Télécharger</button>
                  </div>
                </form>
              </div>
              <!-- Affichage des badges -->
              <div class="badges-section" *ngIf="badgeUserConnected">
                <h5>Vos Badges</h5>
                <div class="badges">
                  <ng-container *ngFor="let badge of badgeUserConnected">
                    <div class="badge">
                      <img src="{{ badge.picture?.url }}" alt="{{ badge.name }}">
                      <span>{{ badge.name }}</span>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section Connexion -->
      <div class="para radius mb-4">
        <a data-bs-toggle="collapse" href="#collapseReseau" role="button" aria-expanded="false" aria-controls="collapseReseau">
          <div><i class="ri-at-line"></i>Connexion (Réseaux Sociaux et Services)</div>
          <div><i class="ri-arrow-right-s-line"></i></div>
        </a>
        <div class="collapse" id="collapseReseau">
          <div class="card card-body modern-card">
            <!-- Card Connexion -->
            <div class="connection-card">
              <h5>Vos réseaux</h5>
              <form class="reseau" #addUrlForm="ngForm" (ngSubmit)="addUrlSocial(addUrlForm)" method="post">
                <ng-container *ngFor="let socialNetworkOne of socialNetworkAll">
                  <div class="social-input">
                    <i class="{{ socialNetworkOne.icon_class }}"></i>
                    <label for="{{ socialNetworkOne.name }}">Votre lien {{ socialNetworkOne.name }} :</label>
                    <input type="text" id="{{ socialNetworkOne.name }}" name="{{ socialNetworkOne.name }}" ngModel>
                  </div>
                </ng-container>
                <input type="submit" class="btn-submit" value="Valider">
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Changement mot de passe section -->
      <div class="para radius mb-4">
        <a data-bs-toggle="collapse" href="#collapseMdp" role="button" aria-expanded="false" aria-controls="collapseMdp">
          <div><i class="ri-lock-password-line"></i>Changer Mot de passe (Useritium)</div>
          <div><i class="ri-arrow-right-s-line"></i></div>
        </a>
        <div class="collapse" id="collapseMdp">
          <div class="card card-body modern-card">
            <!-- COntent Changement de MDP -->
            <div class="password-card">
              <h5>Changer le mot de passe</h5>
            </div>
            <p>Faire redirection ou gestion de création de MDP ici</p>
          </div>
        </div>
      </div>

      <!-- Se Deconnecter -->
      <div class="para radius" style="background-color: #ffafaf">
        <a (click)="loggout()">
          <div><i class="ri-shut-down-line"></i>Déconnexion de votre compte</div>
          <div><i class="ri-arrow-right-s-line"></i></div>
        </a>
      </div>
    </div>

    <!-- Section Information -->
    <div class="border composant">
      <h2>Informations</h2>
      <hr>
      <div class="para radius mb-4">
        <a href="">
          <div><i class="ri-information-2-line"></i>Termes et conditions de comptes</div>
          <div><i class="ri-arrow-right-s-line"></i></div>
        </a>
      </div>

    <div class="para radius mb-4">
      <a data-bs-toggle="collapse" href="#collapseBadges" role="button" aria-expanded="false" aria-controls="collapseBadges">
        <div><i class="ri-emotion-happy-line"></i>Tous nos badges disponibles</div>
        <div><i class="ri-arrow-right-s-line"></i></div>
      </a>
      <div class="collapse" id="collapseBadges">
        <div class="card card-body modern-card">
          <!-- Contenu de la section Tous nos badges -->
          <div class="badges-card">
            <h5>Vitrine de nos badges</h5>
          </div>
          <div class="d-flex">
          <ng-container *ngFor="let badge of allBadges">
              <div class="badge-list-item" style="background-image: url({{badge.picture?.url}});"
              [ngClass]="{'gray-badge': !isBadgeInUserConnected(badge)}"></div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
