<div style="height: 113px;width: 100%"></div>
<form class="search fixed-top" [ngStyle]="{ '--userColor': userColor ?? this.app.colorDefault }">
  <input
    #input
    (keyup)="updateValue(input.value)"
    class="searchTerm"
    name="searchValue"
    [(ngModel)]="searchValue"
    placeholder="Tapez votre recherche ..."
    [style.borderColor]="userColor"
  />
  <input class="searchButton" type="submit" />
</form>


<div id="bar-type">
  <ul class="d-flex">
    <!--  GAME  -->
    <ng-container *ngIf="searchType == 'game'">
      <li class="active" style="background: {{userColor}}; color: white;" (click)="changeType('game')">Jeux</li>
    </ng-container>
    <ng-container *ngIf="searchType !== 'game'">
      <li (click)="changeType('game')">Jeux</li>
    </ng-container>

    <!--  USER  -->
    <ng-container *ngIf="searchType == 'user'">
      <li class="active" style="background: {{userColor}}; color: white;"  (click)="changeType('user')">Profile</li>
    </ng-container>
    <ng-container *ngIf="searchType !== 'user'">
      <li (click)="changeType('user')">Profile</li>
    </ng-container>

    <!--  postactu  -->
    <ng-container *ngIf="searchType == 'postactu'">
      <li class="active" style="background: {{userColor}}; color: white;"  (click)="changeType('postactu')">Actualité</li>
    </ng-container>
    <ng-container *ngIf="searchType !== 'postactu'">
      <li (click)="changeType('postactu')">Actualité</li>
    </ng-container>

    <!--  provider  -->
    <ng-container *ngIf="searchType == 'provider'">
      <li class="active" style="background: {{userColor}}; color: white;"  (click)="changeType('provider')">Provider</li> <!-- A CHANGER !! -->
    </ng-container>
    <ng-container *ngIf="searchType !== 'provider'">
      <li (click)="changeType('provider')">Provider</li> <!-- A CHANGER !! -->
    </ng-container>

  </ul>
</div>


<ng-container *ngIf="searchType == 'game'">

  <div id="show-game" class="d-flex container">
    <app-card-game *ngFor="let game of games" [game]="game" style="width: 100%"></app-card-game>
    <button id="moreGameBTN" class="container main-gamenium-btn" (click)="moreGame()" style="display: none; background-color: {{ userColor }}">Voir plus</button>
  </div>

</ng-container>

<ng-container *ngIf="searchType === 'user'">
  <div id="show-user" class="container d-flex justify-content-center flex-wrap">
    <app-card-profil
      *ngFor="let user of users"
      [user]="user"
      [currentUser]="app.userConnected"
    ></app-card-profil>
  </div>
</ng-container>







<ng-container *ngIf="searchType == 'postactu'">
  <section id="show-actu" class="container d-flex justify-content-center">
    <app-card-actu *ngFor="let actu of postactus" [actu]="actu"></app-card-actu>
    <ng-container *ngIf="isLoading">
      <app-card-actu *ngFor="let actu of [].constructor(16)"></app-card-actu>
    </ng-container>

  </section>
</ng-container>

<ng-container *ngIf="searchType === 'provider'">
  <div id="show-provider" class="container d-flex justify-content-center">
    <ng-container *ngFor="let provider of providers">
      <app-card-provider
        [provider]="provider"
        [isDetailView]="false"
        (followed)="handleFollowed($event)"
        (unfollowed)="handleUnfollowed($event)"></app-card-provider>
    </ng-container>
  </div>
</ng-container>


