<form class="search">
  <input #input (keyup)="updateValue(input.value)" class="searchTerm" name="searchValue" value="{{ searchValue }}"
    [(ngModel)]="searchValue" placeholder="Enter your search term ..." />
  <input class="searchButton" type="submit" />
</form>


<div id="bar-type">
  <ul class="d-flex">
    <!--  GAME  -->
    <ng-container *ngIf="searchType == 'game'">
      <li class="active" (click)="changeType('game')">Jeux</li>
    </ng-container>
    <ng-container *ngIf="searchType !== 'game'">
      <li (click)="changeType('game')">Jeux</li>
    </ng-container>

    <!--  USER  -->
    <ng-container *ngIf="searchType == 'user'">
      <li class="active" (click)="changeType('user')">Profile</li>
    </ng-container>
    <ng-container *ngIf="searchType !== 'user'">
      <li (click)="changeType('user')">Profile</li>
    </ng-container>

    <!--  postactu  -->
    <ng-container *ngIf="searchType == 'postactu'">
      <li class="active" (click)="changeType('postactu')">Actualité</li>
    </ng-container>
    <ng-container *ngIf="searchType !== 'postactu'">
      <li (click)="changeType('postactu')">Actualité</li>
    </ng-container>

    <!--  provider  -->
    <ng-container *ngIf="searchType == 'provider'">
      <li class="active" (click)="changeType('provider')">Provider</li> <!-- A CHANGER !! -->
    </ng-container>
    <ng-container *ngIf="searchType !== 'provider'">
      <li (click)="changeType('provider')">Provider</li> <!-- A CHANGER !! -->
    </ng-container>

  </ul>
</div>


<ng-container *ngIf="searchType == 'game'">

  <div id="show-game" class="d-flex container">
    <ng-container *ngFor="let game of games">

      <div class="card-game container d-flex" routerLink="/game/{{ game.id }}">
        <div class="card-left">
          <ng-container
            *ngIf="game.image.icon_url == 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
            <div class="image" style="background-image: url('https://tyrolium.fr/Contenu/Image/Soon.png')"></div>
            <div class="blur"></div>
            <img src="https://tyrolium.fr/Contenu/Image/Soon.png" alt="...">
          </ng-container>
          <ng-container
            *ngIf="game.image.icon_url != 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
            <div class="image" style="background-image: url('{{ game.image?.thumb_url }}')"></div>
            <div class="blur"></div>
            <img src="{{ game.image?.thumb_url }}" alt="...">
          </ng-container>
        </div>
        <div class="card-right d-flex">
          <div class="core-left">
            <h5>{{ game.name }}</h5>
            <p style="color: red"> Editeur Sample </p>
            <p> Date de sortie : {{ game.expectedReleaseDay + game.expectedReleaseMonth + game.expectedReleaseYear }}
            </p>
          </div>
          <div class="core-right">
            <div class="card-note">
              <p><span>10</span>/20</p>
            </div>
          </div>
        </div>
      </div>

    </ng-container>
  </div>

</ng-container>

<ng-container *ngIf="searchType == 'user'">

  <div  id="show-user" class="container d-flex">

    <ng-container *ngFor="let user of users">

      <div routerLink="/user/{{ user.id }}">
        <!-- <ng-container *ngIf="user.pp.url">
              <div class="image" style="background-image: url('https://tyrolium.fr/Contenu/Image/Soon.png')"></div>
              <div class="blur"></div>
              <img src="https://tyrolium.fr/Contenu/Image/Soon.png" alt="...">
        </ng-container>
            <ng-container
              *ngIf="game.image.icon_url != 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
              <div class="image" style="background-image: url('{{ game.image?.thumb_url }}')"></div>
              <div class="blur"></div>
              <img src="{{ game.image?.thumb_url }}" alt="...">
            </ng-container> -->
        <div id="card-user">
          <div class="circleImage" style="background-image: url('{{ user.pp?.url }}');"></div> 
          <h2 class="card-title mt-4">{{ user.username }}</h2><br>
        </div>

      </div>

    </ng-container>

  </div>


</ng-container>


<section id="actu-all">
  <ng-container *ngIf="searchType == 'postactu'">

    <div class="d-flex justify-content-center gap-5 container">
      <ng-container *ngFor="let postactu of postactus">

        <div class="card" routerLink="/actuality/{{ postactu.id }}">
          <img src="{{ postactu.picture.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ postactu.title }}</h5>
            <div class="card-hr">
              <hr>
            </div>
            <div class="card-end d-flex">
              <a routerLink="/provider/{{ postactu.Provider?.id }}" class="btn" style="background-color: {{ postactu.Provider?.color }}97!important">
                <div class="d-flex">
                  <div class="provider-img"
                    style="background-image: url('{{ postactu.Provider?.picture?.url }}')"></div>
                  {{ postactu.Provider?.displayName }}
                  </div>
              </a>
              <div class="card-i d-flex">
                <div>
                  <i class="ri-chat-3-line"></i>
                </div>

              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>      

  </ng-container>
</section>

<ng-container *ngIf="searchType == 'provider'">

  <ng-container *ngFor="let provider of providers">
    

    <h2>{{ provider.displayName }}</h2><br>
    <img src="{{ provider.picture?.url }}" alt="Image Test Recherche" height="100px" width="100px">
    <p>{{ provider.content }}</p><br>


  </ng-container>

</ng-container>