<button (click)="debug()">debug</button>
<form id="addGameForm" #addForm="ngForm" (ngSubmit)="this.app.addGame(addForm)" class="modal-body" style="padding-top: 40px;">

<div class="panel">
  <div class="head-panel">
    <h2><i class="ri-search-2-line"></i>Recherchez un jeu</h2>
  </div>
  <input type="text" placeholder="Tapez pour rechercher un jeu" name="searchValue" (keyup)="this.onSearchValueChange($event)">
</div>

<div *ngIf="this.searchResults && this.searchResults.length > 0 && !this.app.gameSelected" class="row-search-game">
  <app-card-game-sub *ngFor="let result of this.searchResults" [game]="result"></app-card-game-sub>
</div>


<div *ngIf="this.searchResults && this.searchResults.length === 0 && !this.app.gameSelected">
  <p class="none-game">Aucun résultat trouvé.</p>
</div>

</form>
