<div class="card-game" *ngIf="game">
  <div class="card-thumb">
    <ng-container *ngIf="game.image.icon_url == this.app.noBoxartImage_default">
      <div class="image" style="background-image: url({{ this.app.noBoxartImage }})"></div>
      <div class="blur"></div>
      <img src="{{ this.app.noBoxartImage }}" alt="...">
    </ng-container>
    <ng-container *ngIf="game.image.icon_url != this.app.noBoxartImage_default">
      <div class="image" style="background-image: url('{{ game.image.thumb_url }}')"></div>
      <div class="blur"></div>
      <img src="{{ game.image.thumb_url }}" alt="...">
    </ng-container>
  </div>
  <div class="card-content">
    <p class="nameofgame">{{ game.name }}<p>
    <p class="sidenameofgame">
      <small style="color: {{ this.app.userConnected?.themeColor || this.app.colorDefault }}" class="platform-names">
        <ng-container *ngFor="let platform of game.platforms; let last = last">
          {{ this.app.plateformeNameFormatage(platform.name) }}<span *ngIf="!last">, </span>
        </ng-container>
        <ng-container *ngIf="!game.platforms">
          {{ this.app.plateformeNameFormatage(this.app.noPlateform.name) }}
        </ng-container>
      </small>

      <ng-container *ngIf="game.originalReleaseDate">
        <small>
          Date de sortie : {{ game.originalReleaseDate | date:'dd / MM / yyyy' }}
        </small>
      </ng-container>
      <ng-container *ngIf="!game.originalReleaseDate && game.expectedReleaseYear">
        <small> Date de sortie :
          <ng-container *ngIf="game.expectedReleaseMonth">
            <ng-container *ngIf="game.expectedReleaseDay">
              {{ game.expectedReleaseDay }}
              /
            </ng-container>
            <ng-container *ngIf="game.expectedReleaseMonth < 10">
              0{{ game.expectedReleaseMonth }}
            </ng-container>
            <ng-container *ngIf="game.expectedReleaseMonth >= 10">
              {{ game.expectedReleaseMonth }}
            </ng-container>
            /
          </ng-container>
          {{ game.expectedReleaseYear }}
        </small>
      </ng-container>
      <ng-container *ngIf="!game.originalReleaseDate && !game.expectedReleaseYear">
        <small>Aucune date de sortie connue</small>
      </ng-container>
    </p>
  </div>
</div>
