<nav class="fixed-bottom">
  <div class="d-flex">
    <ul class="d-flex" style="width: 40%">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="ri-home-fill ico2"></i>
          <i class="ri-home-line ico1"></i>
          Accueil
        </a>
      </li>
      <li>
        <a routerLink="/actuality" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="ri-newspaper-fill ico2"></i>
          <i class="ri-newspaper-line ico1"></i>
          Actualité
        </a>
      </li>
    </ul>
    <ul class="d-flex" style="width: 20%">
      <li class="search">
        <a routerLink="/game" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="ri-search-2-line ico1"></i>
          <i class="ri-close-line ico2"></i>
        </a>
      </li>
    </ul>
    <ul class="d-flex" style="width: 40%">
      <li>
        <a routerLink="/mygame" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="ri-gamepad-fill ico2"></i>
          <i class="ri-gamepad-line ico1"></i>
          Mes Jeux
        </a>
      </li>
      <li>
        <a routerLink="/account" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="ri-account-box-fill ico2"></i>
          <i class="ri-account-box-line ico1"></i>
          Mon Profil
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>
  nav{
    background-color: white;
    height: 60px;
    width: 90%;
    margin: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0px -2px 5px lightgrey;
  }
  nav ul{
    width: 100%;
    margin: unset;
    padding: unset;
  }
  nav ul li{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    text-align: center;
    height: 58px;
  }

  nav ul li a{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin: auto;
  }
  nav ul li a i{
    font-size: 24px;
    margin-right: 6px;
  }
  nav ul li.search{
    display: block;
    align-items: unset;
    background-color: red;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px, rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
    margin: -40px auto auto;
    padding: 11px 11px 11px 15px;
  }
  nav ul li.search a{
    display: block;
    color: white;
  }
  nav ul li.search a i{
    font-size: 35px;
  }

  a .ico2{
    display: none;
  }
  a .ico1{
    display: block;
  }
  a.active .ico2{
    display: block;
  }
  a.active .ico1{
    display: none;
  }
</style>
