<nav class="fixed-bottom">
    <ul class="d-flex">
      <li>
        <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="">Home</a>
      </li>
      <li>
        <a routerLink="">Home</a>
      </li>
    </ul>

</nav>
<style>
  nav{
    background-color: white;
    height: 60px;
    width: 90%;
    margin: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0px -2px 5px lightgrey;
  }
  nav ul{
    
  }
</style>
