<nav class="fixed-bottom">
  <div class="d-flex">
    <ul class="d-flex" style="width: 40%">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="ri-home-2-fill ico2"></i>
          <i class="ri-home-2-line ico1"></i>
          <p>Accueil</p>
        </a>
      </li>
      <li>
        <a routerLink="/actuality" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="ri-newspaper-fill ico2"></i>
          <i class="ri-newspaper-line ico1"></i>
          <p>Actualité</p>
        </a>
      </li>
    </ul>
    <ul class="d-flex" style="width: 20%">
      <li class="search" [ngStyle]="{ 'background-color': buttonColor }">
        <a routerLink="/game" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="ri-search-2-line ico1"></i>
          <i class="ri-close-line ico2"></i>
        </a>
      </li>
    </ul>
    <ul class="d-flex" style="width: 40%">
      <li>
        <a routerLink="/mygame" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="ri-gamepad-fill ico2"></i>
          <i class="ri-gamepad-line ico1"></i>
          <p>Mes Jeux</p>
        </a>
      </li>
      <li>
        <ng-container *ngIf="isLoggedIn == true">
          <a routerLink="/profil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="ri-account-box-fill ico2"></i>
            <i class="ri-account-box-line ico1"></i>
              <p>Mon Profil</p>
          </a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn == false">
          <a routerLink="/account" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="ri-account-box-fill ico2"></i>
            <i class="ri-account-box-line ico1"></i>
              <p>Se connecter</p>
          </a>
        </ng-container>
      </li>
    </ul>
  </div>
</nav>
