<section id="profilWrapper" class="container">

  <article class="navigateBar">

    <ul style="background-color: {{ isColor }}">

<!-- HOME PAGE -->
      <ng-container *ngIf="!task">
        <li routerLink="/mygame/" class="active">
          <p>HOME</p>
        </li>
      </ng-container>
      <ng-container *ngIf="task">
        <li routerLink="/mygame/">
          <p>HOME</p>
        </li>
      </ng-container>

<!-- RECENT PAGE -->
      <ng-container *ngIf="task == 'recent'">
        <li routerLink="/mygame/recent" class="active">
          <p>RECENT</p>
        </li>
      </ng-container>
      <ng-container *ngIf="task != 'recent'">
        <li routerLink="/mygame/recent">
          <p>RECENT</p>
        </li>
      </ng-container>

<!-- OTHER PAGE     -->
      <li>
        <p>SAMPLE</p>
      </li>
      <li>
        <p>SAMPLE</p>
      </li>

    </ul>


  </article>

<!-- PAGE HOME-->
<ng-container *ngIf="!task">

  <!--  GAME PINED -->
  <h3 class="titleInWrapper" *ngIf="existingPinned()">Jeux épinglé : </h3>
  <div id="show-game" class="d-flex container">
    <ng-container *ngFor="let myGameHistorique of myGameHistoriqueAll" >

      <div *ngIf="myGameHistorique.is_pinned" class="card-game container d-flex" > <!--routerLink="/game/{{ myGameHistorique.game.id }}"-->

        <div *ngIf="myGameHistorique.is_pinned" class="isPinned" style="background-color: {{ isColor }}">

          <p><i class="ri-pushpin-fill"></i></p>

        </div>

        <div class="card-left">
          <ng-container *ngIf="myGameHistorique.game.image.icon_url == 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
            <div class="image" style="background-image: url('https://tyrolium.fr/Contenu/Image/Soon.png')"></div>
            <div class="blur"></div>
            <img src="https://tyrolium.fr/Contenu/Image/Soon.png" alt="...">
          </ng-container>
          <ng-container *ngIf="myGameHistorique.game.image.icon_url != 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
            <div class="image" style="background-image: url('{{ myGameHistorique.game.image?.thumb_url }}')"></div>
            <div class="blur"></div>
            <img src="{{ myGameHistorique.game.image?.thumb_url }}" alt="...">
          </ng-container>
        </div>
        <div class="card-right d-flex">
          <div class="core-left">
            <h5>{{ myGameHistorique.game.name }}</h5>
            <p style="color: red"> Editeur Sample </p>
            <ng-container *ngIf="myGameHistorique.buy_at">
                <p> [QUAND] Acheter le : {{ myGameHistorique.buy_at }}</p>
            </ng-container>
            <ng-container *ngIf="myGameHistorique.buywhere ">
                <p> [LIEUX] Ou : {{ myGameHistorique.buywhere.name }}</p>
            </ng-container>
            <p> Ajouter le : {{ myGameHistorique.added_at }}</p>
          </div>
          <div class="core-right">
            <div class="card-note" style="background-color: {{ isColor }}">
              <p><span id="noteGame{{ myGameHistorique.game.id }}">
            <ng-container *ngIf="!userRatingAll">na</ng-container>

            <ng-container *ngIf="userRatingAll">

              <ng-container *ngIf="hasUserRatings(myGameHistorique.game.id)">

                <ng-container *ngFor="let userRating of userRatingAll">
                  <ng-container *ngIf="userRating.game.id == myGameHistorique.game.id">{{ userRating.rating }}</ng-container>
                </ng-container>

              </ng-container>

              <ng-container *ngIf="!hasUserRatings(myGameHistorique.game.id)">na</ng-container>

            </ng-container>


              </span>/20</p>
            </div>
            <div class="card-action">
              <i *ngIf="myGameHistorique.is_pinned" (click)="pinnedGame(myGameHistorique.game);" class="ri-unpin-line"></i>
              <i *ngIf="!myGameHistorique.is_pinned" (click)="unpinnedGame(myGameHistorique.game);" class="ri-pushpin-line"></i>
              <i (click)="selectGame(myGameHistorique.game);" data-bs-toggle="modal" data-bs-target="#noteGamePage" class="ri-star-line"></i>
              <i (click)="selectGame(myGameHistorique.game);" data-bs-toggle="modal" data-bs-target="#editGamePage" class="ri-pencil-line"></i>
            </div>
          </div>
        </div>
      </div>

    </ng-container>
  </div>

  <article class="articleTuto">

    <h2>Bonjour, <span class="pseudo" style="color: {{ isColor }};">{{ userConnected?.displayname }}</span></h2>

    <hr>

    <article class="inUserTuto">


      <div class="action">

        <h3>Action Rapide : </h3>

        <div class="d-flex">


          <article (click)="unselectGame()" class="card" data-bs-toggle="modal" data-bs-target="#ajouteGamePage">

            <i class="ri-add-circle-line"></i>

            <h6>Ajoutez un jeux</h6>

          </article>

          <article (click)="unselectGame()" class="card" data-bs-toggle="modal" data-bs-target="#noteGamePage">

            <i class="ri-star-half-line"></i>

            <h6>Ajoutez une note</h6>

          </article>

          <article class="card" routerLink="/profil/{{ userConnected?.id }}">

            <i class="ri-profile-line"></i>

            <h6>Voir votre profile Public</h6>

          </article>

        </div>

      </div>

      <hr>

      <div class="task">

        <h3>A fin de finir votre compte : </h3>
        <br>
        <h6><i class="ri-checkbox-blank-circle-line"></i> One Task</h6>
        <h6><i class="ri-checkbox-circle-fill"></i> Two Task</h6>

      </div>


    </article>


  </article>


  <div id="show-game" class="d-flex container">
    <ng-container *ngFor="let myGameHistorique of myGameHistoriqueAll" >

      <div *ngIf="!myGameHistorique.is_pinned" class="card-game container d-flex" > <!--routerLink="/game/{{ myGameHistorique.game.id }}"-->

        <div class="card-left">
          <ng-container *ngIf="myGameHistorique.game.image.icon_url == 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
            <div class="image" style="background-image: url('https://tyrolium.fr/Contenu/Image/Soon.png')"></div>
            <div class="blur"></div>
            <img src="https://tyrolium.fr/Contenu/Image/Soon.png" alt="...">
          </ng-container>
          <ng-container *ngIf="myGameHistorique.game.image.icon_url != 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
            <div class="image" style="background-image: url('{{ myGameHistorique.game.image?.thumb_url }}')"></div>
            <div class="blur"></div>
            <img src="{{ myGameHistorique.game.image?.thumb_url }}" alt="...">
          </ng-container>
        </div>
        <div class="card-right d-flex">
          <div class="core-left">
            <h5>{{ myGameHistorique.game.name }}</h5>
            <p style="color: red"> Editeur Sample </p>
            <ng-container *ngIf="myGameHistorique.buy_at">
              <p> [QUAND] Acheter le : {{ myGameHistorique.buy_at }}</p>
            </ng-container>
            <ng-container *ngIf="myGameHistorique.buywhere ">
              <p> [LIEUX] Ou : {{ myGameHistorique.buywhere.name }}</p>
            </ng-container>
            <p> Ajouter le : {{ myGameHistorique.added_at }}</p>
          </div>
          <div class="core-right">
            <div class="card-note" style="background-color: {{ isColor }}">
              <p><span id="noteGame{{ myGameHistorique.game.id }}">
          <ng-container *ngIf="!userRatingAll">na</ng-container>

          <ng-container *ngIf="userRatingAll">

            <ng-container *ngIf="hasUserRatings(myGameHistorique.game.id)">

              <ng-container *ngFor="let userRating of userRatingAll">
                <ng-container *ngIf="userRating.game.id == myGameHistorique.game.id">{{ userRating.rating }}</ng-container>
              </ng-container>

            </ng-container>

            <ng-container *ngIf="!hasUserRatings(myGameHistorique.game.id)">na</ng-container>

          </ng-container>


            </span>/20</p>
            </div>
            <div class="card-action">
              <i *ngIf="myGameHistorique.is_pinned" (click)="pinnedGame(myGameHistorique.game);" class="ri-unpin-line"></i>
              <i *ngIf="!myGameHistorique.is_pinned" (click)="unpinnedGame(myGameHistorique.game);" class="ri-pushpin-line"></i>
              <i (click)="selectGame(myGameHistorique.game);" data-bs-toggle="modal" data-bs-target="#noteGamePage" class="ri-star-line"></i>
              <i (click)="selectGame(myGameHistorique.game);" data-bs-toggle="modal" data-bs-target="#editGamePage" class="ri-pencil-line"></i>
            </div>
          </div>
        </div>
      </div>

    </ng-container>
  </div>
</ng-container>

  <!-- PAGE HOME-->
<ng-container *ngIf="task == 'recent'">

</ng-container>

</section>

<!--- MODAL --->
<div class="modal fade text-center" id="ajouteGamePage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="unselectGame()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addGameForm" #addForm="ngForm" (ngSubmit)="addGame(addForm)" class="modal-body" style="padding-top: 40px;">

        <h2>Ajoutez un jeux à votre liste</h2>

        <br>
        <h5><span style="color: red">*</span>Recherche ton jeux :</h5>
        <input *ngIf="gameSelected" type="text" placeholder="Ton Jeux" disabled value="{{ this.gameSelected?.name }}">
        <input *ngIf="!gameSelected" type="text" placeholder="Ton Jeux">
        <br>
        <br>
        <h6>Epinglez vous ce jeux :</h6>
        <input type="checkbox"  name="pinnedGame" ngModel><br>
        <br>
        <h6>Quand à tu obtenu ton jeux :</h6>
        <input type="date"  name="buyAt" ngModel>
        <br>
        <br>
        <h6>Ou à tu obtenu ton jeux :</h6>
        <input type="text" placeholder="input de type select"  name="buyWhere" ngModel>

        <div class="modal-footer" style="margin-top: 74px;">
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Enregistez</button>
          <button (click)="unselectGame()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade text-center" id="editGamePage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="unselectGame()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="editGameForm" #addForm3="ngForm" (ngSubmit)="addGame(addForm3)" class="modal-body" style="padding-top: 40px;">

        <h2>Editer un jeux à votre liste</h2>

        <br>
        <h5><span style="color: red">*</span>Recherche ton jeux :</h5>
        <input *ngIf="gameSelected" type="text" placeholder="Ton Jeux" disabled value="{{ this.gameSelected?.name }}">
        <input *ngIf="!gameSelected" type="text" placeholder="Ton Jeux">
        <br>
        <br>
        <h6>Epinglez vous ce jeux :</h6>
        <input type="checkbox"  name="pinnedGame" ngModel><br>
        <br>
        <h6>Quand à tu obtenu ton jeux :</h6>
        <input type="date"  name="buyAt" ngModel>
        <br>
        <br>
        <h6>Ou à tu obtenu ton jeux :</h6>
        <input type="text" placeholder="input de type select"  name="buyWhere" ngModel>

        <div class="modal-footer" style="margin-top: 74px;">
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Modifier</button>
          <button (click)="unselectGame()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade text-center" id="noteGamePage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="unselectGame()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addNoteForm" #addForm2="ngForm" (ngSubmit)="addNote(addForm2)" class="modal-body" style="padding-top: 40px;">

        <h2>Ajoutez une note à votre jeux</h2>

        <br>
        <h5><span style="color: red">*</span>Recherche un de vos jeux :</h5>
        <input *ngIf="gameSelected" type="text" placeholder="Ton Jeux" disabled value="{{ this.gameSelected?.name }}">
        <input *ngIf="!gameSelected" type="text" placeholder="Ton Jeux">
        <br>
        <br>
        <h6><span style="color: red">*</span>Note de ton jeux :</h6>
        <input id="inputNote" type="number" placeholder="10" name="noteGame" ngModel>/20

        <div class="modal-footer" style="margin-top: 74px;">
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Enregistez</button>
          <button (click)="unselectGame()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
