#profilWrapper{
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 2px 11px #a6a6a6;
  margin: auto auto 120px;
  padding: 30px;
}

#profilWrapper .articleTuto{
  background-color: white;
  box-shadow: 1px 2px 11px #a6a6a6;
  /*height: 400px;*/
  width: 100%;
  max-width: 1222px;
  margin: 72px auto;
  border-radius: 16px;
  padding: 27px 44px;
}

#profilWrapper .articleTuto h2 span.pseudo{
  font-weight: 700;
}

#profilWrapper .articleTuto .inUserTuto{
  padding: 12px 35px;
}

#profilWrapper .articleTuto .inUserTuto .action{
  margin-bottom: 45px;
}

#profilWrapper .articleTuto .inUserTuto .d-flex{
  justify-content: center;
  gap: 10px;
}

#profilWrapper .articleTuto .inUserTuto .card{
  text-align: center;
  width: 23%;
  height: fit-content;
  transition: all 0.1s ease 0s;
  border: none;
}

#profilWrapper .articleTuto .inUserTuto .card:hover{
  transform: scale(1.01);
  background-color: #b3b3b359;
}

#profilWrapper .articleTuto .inUserTuto .card i{
  font-size: 50px;
}

#profilWrapper .articleTuto .inUserTuto .task{
  margin-bottom: 16px;
}

#profilWrapper .navigateBar ul {
  color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 100%;
  text-align: center;
  height: 96px;
  border-radius: 12px;
  margin-bottom: 40px;
  box-shadow: 1px 2px 11px #a6a6a6;
  font-size: 27px;
  justify-content: space-around;
  padding: 15px;
}

#profilWrapper .navigateBar ul li{

}

#profilWrapper h3.titleInWrapper{
  margin-left: 40px;
  margin-bottom: 20px;
}

#profilWrapper .navigateBar ul li{
  display: flex;
  justify-content: center;
}

#profilWrapper .navigateBar ul li p{
  margin: unset!important;
  width: fit-content;
  padding: 5px;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

#profilWrapper .navigateBar ul li.active p{
  background-color: #ffffffc4;
  border-radius: 10px;
  color: black;
}

#profilWrapper .navigateBar ul li:hover p{
  transform: scale(1.2);
}

/* GAME */

#show-game{
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;

  max-width: 1287px;
}


.isPinned{
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 800;
  border-radius: 100%;
  margin-left: -10px;
  margin-top: -10px;
}
.isPinned p{
  text-align: center;
  margin: 1px;
  margin-left: 2px;
  color:white;
}


.card-game{
  height: 160px;
  /*border: 1px solid gray;*/
  margin: unset!important;
  padding: unset!important;
  border-radius: 15px;
  box-shadow: 1px 2px 11px #a6a6a6;

  max-width: 1160px;
}

.card-left{
  width: 326px;
  height: 100%;
  border-radius: 15px;
}

.card-left .image{
  position: absolute;
  width: 300px;
  height: 160px;
  z-index: 10;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-left .blur{
  position: absolute;
  width: 300px;
  height: 160px;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  z-index: 1;
  background-color: #00000038;
}
.card-left img{
  width: 300px;
  height: 100%;
  border-radius: 15px;
}

.card-right{
  width: 100%;
  height: 100%;
  padding: 20px;
}

.card-right .core-left{
  width: 100%;

}

.card-right .core-right{
  width: 100px;
}

.card-right .core-right .card-note{
  /*background-color: red;*/
  text-align: center;
  color: white;
  border-radius: 100%;
  width: 67px;
  height: 67px;
  margin-top: -4px;
  margin-left: 37px;
}

.card-right .core-right .card-note p{
  margin-bottom: 0px;
  position: absolute;
  margin-top: 8px;
  margin-left: 5px;
}
.card-right .core-right .card-note p span{
  font-size: 30px;
}

.card-action{
  margin-top: 22px;
  text-align: end;
  margin-right: 8px;
  font-size: 26px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

@media (max-width: 900px) {
  #profilWrapper {
    position: relative;
    top: 280px;
  }

  #profilWrapper .articleTuto .inUserTuto .d-flex{
    justify-content: space-between;
    width: 100%;
  }

  #profilWrapper .articleTuto .inUserTuto .d-flex .card{
    width: 65%;
  }

  #profilWrapper .articleTuto .inUserTuto .d-flex h6{
    word-wrap: normal;
    justify-content: space-between;
  }
}