<!-- MODAL -->
<modal-note></modal-note>
<modal-add-game></modal-add-game>
<modal-view-mygame [isColor]="isColor"></modal-view-mygame>

<!-- CONTENT-->
<section id="profilWrapper" class="container">

  <app-tab-mygame></app-tab-mygame>

  <!-- PAGE HOME-->
  <ng-container *ngIf="!task">

    <!--  GAME PINED -->
    <div id="show-game" class="d-flex container">
      <app-card-game *ngFor="let myGameHistorique of getPinnedGames()" [Hmg]="myGameHistorique" [colorProfil]="profilSelected?.themeColor" class="app-card-game"></app-card-game>

      <!-- LOADING -->
      <ng-container *ngIf="isLoading">
        <app-card-game *ngFor="let game of [].constructor(1);" style="width: 100%"></app-card-game>
      </ng-container>
    </div>

    <article class="articleTuto">
      <div class="row ">
        <div class="col-md-12 py-4 hello">
          <h2 class="text-center">Bonjour, <span class="pseudo" style="color: {{ isColor }};">{{ userConnected?.displaynameUseritium || userConnected?.username }}</span></h2>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6 actionPossible" [ngClass]="{'no-task': progress === 101}">
          <div class="action">

            <h3 class="text-center py-4 mb-0">Que Souhaitez-vous faire ?</h3>

            <div class="cotainerbtn">

              <div class="row">
                <div class="col-lg-6 ">
                  <article (click)="unsetModal()" class="card py-4 mb-3 mx-auto" data-bs-toggle="modal" data-bs-target="#ajouteGamePage">
                    <i class="ri-add-circle-line"></i>
                    <h6>Ajoutez un jeu</h6>
                  </article>
                </div>
                <div class="col-lg-6">
                  <article (click)="unsetModal()" class="card py-4 mx-auto" data-bs-toggle="modal" data-bs-target="#noteGamePage">
                    <i class="ri-star-half-line"></i>
                    <h6>Ajoutez une note</h6>
                  </article>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6">
                  <article class="card py-4 mb-3 mx-auto" routerLink="/profil/{{ userConnected?.id }}">
                    <i class="ri-profile-line"></i>
                    <h6>Votre profil public</h6>
                  </article>
                </div>
                <div class="col-lg-6 ">
                  <article class="card py-4 mx-auto" routerLink="/account/">
                    <i class="ri-settings-3-line"></i>
                    <h6>Éditer votre profil</h6>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5 offset-md-1 taskPossible" *ngIf="progress !== 101">
          <div class="task">
            <h3 class="text-center py-4 mb-0">Vos tâches</h3>
            <p class="">Finaliser vos tâches :</p>

            <div class="progress-bar-container">
              <div class="progress-bar" style="background-color: {{ isColor }}" [style.width.%]="progress"></div>
            </div>


            <h3>Pour finaliser votre compte :</h3>
            <br>
            <ng-container *ngFor="let task of tasks">
              <!-- Tache -->
              <h6 class="py-2">
                <!-- Cercle remplis ou vide selon si completé -->
                <i *ngIf="task.completed" class="ri-checkbox-circle-fill" style="color: {{ isColor }}"></i>
                <i *ngIf="!task.completed" class="ri-checkbox-blank-circle-line" style="color: {{ isColor }}"></i>
                {{ task.name }}<br>
                <small>{{ task.content }}</small>
              </h6>
            </ng-container>

            <!-- LOADING-->
            <ng-container *ngIf="tasks.length === 0">
              <h6 class="py-2" id="squelette" *ngFor="let i of [].constructor(4)">
                <div>
                  <i class="ri-circle-fill" style="color: gray"></i>
                  <span class="taskName"></span><br>
                </div>

                <small class="taskContent"></small>
              </h6>
            </ng-container>
          </div>

        </div>
      </div>
    </article>

    <!-- SECTION BARRE DE RECHERCHE -->

    <div class="search-container" [ngStyle]="{ '--color': isColor ?? this.app.colorDefault }">
      <div class="icon-container" [ngStyle]="{ 'background-color': isColor }">
        <i class="ri-search-2-line ico1"></i>
      </div>
      <input
        type="text"
        class="search-input"
        placeholder="Recherche dans vos jeux"
        [(ngModel)]="searchQuery"
        (input)="filterGames()"
      />

      <div class="filter-dropdown">
        <button class="filter-button" (click)="toggleFilterDropdown()">
          <i *ngIf="!isFilterApplied()"class="ri-filter-line"></i>
          <i *ngIf="isFilterApplied()"class="ri-filter-fill"></i>
        </button>
        <div class="dropdown-menu" *ngIf="isFilterDropdownOpen">
          <button (click)="setSortOption('name-asc')">Nom (A-Z)</button>
          <button (click)="setSortOption('name-desc')">Nom (Z-A)</button>
          <button (click)="setSortOption('year-asc')">Année de sortie (Croissant)</button>
          <button (click)="setSortOption('year-desc')">Année de sortie (Décroissant)</button>
          <button (click)="setSortOption('added-asc')">Date d'ajout (Croissant)</button>
          <button (click)="setSortOption('added-desc')">Date d'ajout (Décroissant)</button>
          <button (click)="setSortOption('')">Réinitialiser</button>
        </div>
      </div>
    </div>

    <div *ngIf="!app.myGameAll?.length && !isLoading">
      <h3 style="text-align: center">La collection de jeux est vide</h3>
    </div>

    <!-- UNPINNED GAME -->
    <div id="show-game" class="d-flex container">
      <app-card-game *ngFor="let myGameHistorique of getUnpinnedGames()" [Hmg]="myGameHistorique" [colorProfil]="profilSelected?.themeColor" class="app-card-game"></app-card-game>

      <!-- LOADING -->
      <ng-container *ngIf="isLoading">
        <app-card-game *ngFor="let game of [].constructor(10);" style="width: 100%"></app-card-game>
      </ng-container>
    </div>

  </ng-container>

  <ng-container *ngIf="task">
    <!-- Contenu de la page "plateforme" -->
    <app-plateform-view></app-plateform-view>
  </ng-container>

</section>
