<section id="profilWrapper" class="container">

  <article class="navigateBar">

    <ul style="background-color: {{ isColor }}">

      <!-- HOME PAGE -->
      <ng-container *ngIf="!task">
        <li routerLink="/mygame/" class="active">
          <p>HOME</p>
        </li>
      </ng-container>
      <ng-container *ngIf="task">
        <li routerLink="/mygame/">
          <p>HOME</p>
        </li>
      </ng-container>

      <!-- RECENT PAGE -->
      <ng-container *ngIf="task == 'recent'">
        <li routerLink="/mygame/recent" class="active">
          <p>RECENT</p>
        </li>
      </ng-container>
      <ng-container *ngIf="task != 'recent'">
        <li routerLink="/mygame/recent">
          <p>RECENT</p>
        </li>
      </ng-container>

      <!-- OTHER PAGE     -->
      <li>
        <p>SAMPLE</p>
      </li>
      <li>
        <p>SAMPLE</p>
      </li>

    </ul>

  </article>

  <!-- PAGE HOME-->
  <ng-container *ngIf="!task">

    <!--  GAME PINED -->

    <div id="show-game" class="d-flex container">
      <ng-container *ngFor="let myGameHistorique of getPinnedGames()">

        <div class="card-game container d-flex">

          <div class="isPinned" style="background-color: {{ isColor }}">
            <p><i class="ri-pushpin-fill"></i></p>
          </div>

          <div class="card-left" (click)="goToGame(myGameHistorique.game.id)">
            <ng-container *ngIf="myGameHistorique.game.image.icon_url == 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
              <div class="image" style="background-image: url('https://tyrolium.fr/Contenu/Image/Soon.png')"></div>
              <div class="blur"></div>
              <img src="https://tyrolium.fr/Contenu/Image/Soon.png" alt="...">
            </ng-container>
            <ng-container *ngIf="myGameHistorique.game.image.icon_url != 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
              <div class="image" style="background-image: url('{{ myGameHistorique.game.image?.thumb_url }}')"></div>
              <div class="blur"></div>
              <img src="{{ myGameHistorique.game.image?.thumb_url }}" alt="...">
            </ng-container>
          </div>

          <div class="card-right d-flex">
            <div class="core-left" (click)="goToGame(myGameHistorique.game.id)">
              <h5>{{ myGameHistorique.game.name }}</h5>
              <p style="color: red"> Éditeur Sample </p>
              <ng-container *ngIf="myGameHistorique.buy_at">
                <p> [QUAND] Acheté le : {{ myGameHistorique.buy_at }}</p>
              </ng-container>
              <ng-container *ngIf="myGameHistorique.buywhere">
                <p> [LIEU] Où : {{ myGameHistorique.buywhere.name }}</p>
              </ng-container>
              <p> Ajouté le : {{ myGameHistorique.added_at | date:'dd / MM / yyyy' }}</p>
            </div>
            <div class="core-right">
              <div class="card-note" style="background-color: {{ isColor }}">
                <p><span id="noteGame{{ myGameHistorique.game.id }}">
                  <ng-container *ngIf="!userRatingAll">na</ng-container>
                  <ng-container *ngIf="userRatingAll">
                    <ng-container *ngIf="hasUserRatings(myGameHistorique.game.id)">
                      <ng-container *ngFor="let userRating of userRatingAll">
                        <ng-container *ngIf="userRating.game.id == myGameHistorique.game.id">{{ userRating.rating }}</ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!hasUserRatings(myGameHistorique.game.id)">na</ng-container>
                  </ng-container>
                </span>/20</p>
              </div>
              <div class="card-action">
                <i (click)="togglePin(myGameHistorique); $event.stopPropagation()" class="ri-pushpin-line"></i>
                <i (click)="selectGame(myGameHistorique.game); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#noteGameSelected" class="ri-star-line"></i>
                <i (click)="selectGame(myGameHistorique.game); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#editGamePage" class="ri-pencil-line"></i>
              </div>
            </div>
          </div>

        </div>

      </ng-container>
    </div>

    <article class="articleTuto">

      <h2>Bonjour, <span class="pseudo" style="color: {{ isColor }};">{{ userConnected?.displayname }}</span></h2>

      <hr>

      <article class="inUserTuto">

        <div class="action">

          <h3>Action Rapide :</h3>

          <div class="d-flex">

            <article (click)="unselectGame()" class="card" data-bs-toggle="modal" data-bs-target="#ajouteGamePage">
              <i class="ri-add-circle-line"></i>
              <h6>Ajoutez un jeu</h6>
            </article>

            <article (click)="unselectGame()" class="card" data-bs-toggle="modal" data-bs-target="#noteGamePage">
              <i class="ri-star-half-line"></i>
              <h6>Ajoutez une note</h6>
            </article>

            <article class="card" routerLink="/profil/{{ userConnected?.id }}">
              <i class="ri-profile-line"></i>
              <h6>Votre profil public</h6>
            </article>

          </div>

        </div>

        <hr>

        <div class="task">

          <h3>Pour finaliser votre compte :</h3>
          <br>
          <h6><i class="ri-checkbox-blank-circle-line"></i> Une tâche</h6>
          <h6><i class="ri-checkbox-circle-fill"></i> Deuxième tâche</h6>

        </div>

      </article>

    </article>

    <!-- UNPINNED GAME -->
    <div id="show-game" class="d-flex container">
      <ng-container *ngFor="let myGameHistorique of getUnpinnedGames()">

        <div class="card-game container d-flex">

          <div class="card-left" (click)="goToGame(myGameHistorique.game.id)">
            <ng-container *ngIf="myGameHistorique.game.image.icon_url == 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
              <div class="image" style="background-image: url('https://tyrolium.fr/Contenu/Image/Soon.png')"></div>
              <div class="blur"></div>
              <img src="https://tyrolium.fr/Contenu/Image/Soon.png" alt="...">
            </ng-container>
            <ng-container *ngIf="myGameHistorique.game.image.icon_url != 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
              <div class="image" style="background-image: url('{{ myGameHistorique.game.image?.thumb_url }}')"></div>
              <div class="blur"></div>
              <img src="{{ myGameHistorique.game.image?.thumb_url }}" alt="...">
            </ng-container>
          </div>

          <div class="card-right d-flex">
            <div class="core-left" (click)="goToGame(myGameHistorique.game.id)">
              <h5>{{ myGameHistorique.game.name }}</h5>
              <p style="color: red"> Éditeur Sample </p>
              <ng-container *ngIf="myGameHistorique.buy_at">
                <p> [QUAND] Acheté le : {{ myGameHistorique.buy_at }}</p>
              </ng-container>
              <ng-container *ngIf="myGameHistorique.buywhere">
                <p> [LIEU] Où : {{ myGameHistorique.buywhere.name }}</p>
              </ng-container>
              <p> Ajouté le : {{ myGameHistorique.added_at }}</p>
            </div>
            <div class="core-right">
              <div class="card-note" style="background-color: {{ isColor }}">
                <p><span id="noteGame{{ myGameHistorique.game.id }}">
                  <ng-container *ngIf="!userRatingAll">na</ng-container>
                  <ng-container *ngIf="userRatingAll">
                    <ng-container *ngIf="hasUserRatings(myGameHistorique.game.id)">
                      <ng-container *ngFor="let userRating of userRatingAll">
                        <ng-container *ngIf="userRating.game.id == myGameHistorique.game.id">{{ userRating.rating }}</ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!hasUserRatings(myGameHistorique.game.id)">na</ng-container>
                  </ng-container>
                </span>/20</p>
              </div>
              <div class="card-action">
                <i (click)="togglePin(myGameHistorique); $event.stopPropagation()" class="ri-unpin-line"></i>
                <i (click)="selectGame(myGameHistorique.game); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#noteGameSelected" class="ri-star-line"></i>
                <i (click)="selectGame(myGameHistorique.game); $event.stopPropagation()" data-bs-toggle="modal" data-bs-target="#editGamePage" class="ri-pencil-line"></i>
              </div>
            </div>
          </div>

        </div>

      </ng-container>
    </div>

  </ng-container>

  <!-- PAGE RECENT -->
  <ng-container *ngIf="task == 'recent'">
    <!-- Contenu de la page "recent" -->
  </ng-container>

</section>

<!-- MODALES -->

<!-- MODALE POUR ÉDITER UN JEU SÉLECTIONNÉ -->
<div class="modal fade text-center" id="editGamePage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="unselectGame()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="editGameForm" #addForm3="ngForm" (ngSubmit)="addGame(addForm3)" class="modal-body" style="padding-top: 40px;">

        <h2>Éditer un jeu dans votre liste</h2>

        <br>
        <h5><span style="color: red">*</span>Recherchez votre jeu :</h5>
        <input *ngIf="gameSelected" type="text" placeholder="Votre jeu" disabled value="{{ this.gameSelected?.name }}">
        <input *ngIf="!gameSelected" type="text" placeholder="Votre jeu">
        <br>
        <br>
        <h6>Épinglez-vous ce jeu :</h6>
        <input type="checkbox" name="pinnedGame" ngModel><br>
        <br>
        <h6>Quand avez-vous obtenu ce jeu :</h6>
        <input type="date" name="buyAt" ngModel>
        <br>
        <br>
        <h6>Où avez-vous obtenu ce jeu :</h6>
        <input type="text" placeholder="Sélectionnez un lieu" name="buyWhere" ngModel>

        <div class="modal-footer" style="margin-top: 74px;">
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Modifier</button>
          <button (click)="unselectGame()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- MODALE POUR AJOUTER UNE NOTE À UN JEU SÉLECTIONNÉ -->
<div class="modal fade text-center" id="noteGameSelected" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="unselectGame()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addNoteForm" #addForm2="ngForm" (ngSubmit)="addNote(addForm2)" class="modal-body" style="padding-top: 40px;">

        <h2>Ajoutez une note à votre jeu</h2>

        <br>
        <h5><span style="color: red">*</span>Votre jeu sélectionné :</h5>
        <input type="text" placeholder="Votre jeu" disabled value="{{ this.gameSelected?.name }}">
        <br>
        <br>
        <h6><span style="color: red">*</span>Note de votre jeu :</h6>
        <input type="number" placeholder="10" name="noteGame" ngModel>/20

        <div class="modal-footer" style="margin-top: 74px;">
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Enregistrer</button>
          <button (click)="unselectGame()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- MODALE POUR AJOUTER UN JEU -->
<div class="modal fade text-center" id="ajouteGamePage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="unselectGame()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addGameForm" #addForm="ngForm" (ngSubmit)="addGame(addForm)" class="modal-body" style="padding-top: 40px;">

        <h2>Ajoutez un jeu à votre liste</h2>

        <br>
        <h5><span style="color: red">*</span>Recherchez un jeu :</h5>
        <input *ngIf="this.gameSelected" type="text" placeholder="Votre jeu" disabled value="{{ this.gameSelected?.name }}">
        <input *ngIf="!this.gameSelected" type="text" placeholder="Tapez pour rechercher un jeu" name="searchValue" ngModel (keyup)="onSubmitSearch(addForm)">
        <br>

        <div *ngIf="searchResults && searchResults.length > 0 && !this.gameSelected" class="row">
          <div class="col-md-4" *ngFor="let result of searchResults">
            <div class="card mb-4 shadow-sm" (click)="selectGame(result)">
              <img [src]="result.image.icon_url" class="bd-placeholder-img card-img-top" alt="Image du jeu">
              <div class="card-body">
                <p class="card-text">{{ result.name }}</p>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="searchResults && searchResults.length === 0">
          <p>Aucun résultat trouvé.</p>
        </div>

        <br>
        <h6>Épinglez ce jeu :</h6>
        <input type="checkbox" name="pinnedGame" ngModel><br>
        <br>
        <h6>Quand avez-vous obtenu ce jeu :</h6>
        <input type="date" name="buyAt" ngModel>
        <br>
        <br>
        <h6>Où avez-vous obtenu ce jeu :</h6>
        <input type="text" placeholder="Sélectionnez un lieu" name="buyWhere" ngModel>

        <div class="modal-footer" style="margin-top: 74px;">
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Enregistrer</button>
          <button (click)="unselectGame()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- MODALE POUR AJOUTER UNE NOTE À UN NOUVEAU JEU -->
<div class="modal fade text-center" id="noteGamePage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="unselectGame()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="noteGamePage2" #noteGamePage2="ngForm" (ngSubmit)="addNote(noteGamePage2)" class="modal-body" style="padding-top: 40px;">

        <h2>Ajoutez une note à votre jeu</h2>

        <br>
        <h5><span style="color: red">*</span>Recherchez un jeu :</h5>
        <input *ngIf="this.gameSelected" type="text" placeholder="Votre jeu" disabled value="{{ this.gameSelected?.name }}">
        <input *ngIf="!this.gameSelected" type="text" placeholder="Tapez pour rechercher un jeu" name="searchValue" ngModel (keyup)="onSubmitSearch(noteGamePage2)">
        <br>

        <div *ngIf="searchResults && searchResults.length > 0 && !this.gameSelected" class="row">
          <div class="col-md-4" *ngFor="let result of searchResults">
            <div class="card mb-4 shadow-sm" (click)="selectGame(result)">
              <img [src]="result.image.icon_url" class="bd-placeholder-img card-img-top" alt="Image du jeu">
              <div class="card-body">
                <p class="card-text">{{ result.name }}</p>
              </div>
            </div>
          </div>
        </div>

        <br>
        <h6><span style="color: red">*</span>Note de votre jeu :</h6>
        <input type="number" placeholder="10" name="noteGame" ngModel>/20

        <div class="modal-footer" style="margin-top: 74px;">
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Enregistrer</button>
          <button (click)="unselectGame()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>

      </form>
    </div>
  </div>
</div>
