<div class="fixed-top">
  <div class="navbar-actuality d-flex">
    <div>

      <ul class="d-flex">
        <ng-container *ngIf="isLogIn">
<!--          <li>-->
<!--            <div class="provider-img"></div>-->
<!--            <div class="notif-img"></div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="provider-img"></div>-->
<!--            <div class="notif-img"></div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="provider-img"></div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="provider-img"></div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="provider-img"></div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="provider-img"></div>-->
<!--            <div class="notif-img"></div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="provider-img"></div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="provider-img"></div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="provider-img"></div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="provider-img"></div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="provider-img"></div>-->
<!--          </li>-->
        </ng-container>
        <ng-container *ngIf="!isLogIn">
          <ng-container *ngFor="let provider of providerFollowOrAll">
            <li routerLink="/provider/{{ provider.id }}" >
              <div class="provider-img" style="background-image: url('{{ provider.picture?.url }}') "></div>
            </li>
          </ng-container>
        </ng-container>
      </ul>

    </div>

    <div class="open-final">
      <p>
        <i class="ri-expand-diagonal-line"></i>
      </p>
    </div>

  </div>

  <div class="mask"></div>

</div>

<div class="back-bar"></div>

