<div class="fixed-top">
  <div class="navbar-actuality d-flex">
    <div id="provider-nav-container">

      <div *ngIf="providerFollowOrAll.length === 0" style="align-content: center; height: 100%;">
        <p style="font-size: 18px;">Vous ne suivez personnes et personne ne vous aime.</p>
      </div>

      <ul class="d-flex"
      (mousedown)="startDrag($event)"
      (mousemove)="move($event)"
      (mouseup)="stopDrag()">
        <ng-container *ngIf="isLogIn">
<!--          <h1>Abonne toi pour avoir des actualité</h1>-->
          <ng-container *ngFor="let provider of providerFollowOrAll">
            <!-- OLD REDIRECT routerLink="/provider/{{ provider.id }}" -->
            <li (click)="selectOneProviderActu(provider.id)">
              <div id="provider{{provider.id}}" class="provider-img" style="background-image: url('{{ provider.picture?.url }}') "></div>
            </li>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!isLogIn">
          <ng-container *ngFor="let provider of providerFollowOrAll">
            <!-- OLD REDIRECT routerLink="/provider/{{ provider.id }}" -->
            <li (click)="selectOneProviderActu(provider.id)">
              <div id="provider{{provider.id}}" class="provider-img" style="background-image: url('{{ provider.picture?.url }}') "></div>
            </li>
          </ng-container>
        </ng-container>
      </ul>

    </div>

    <div class="open-final" data-bs-toggle="modal" data-bs-target="#providerModal">
      <p (click)="toggleProviderModal()">
        <i class="ri-expand-diagonal-line nav-icon"></i>
      </p>
    </div>

  </div>

  <div class="mask"></div>

</div>

<div class="back-bar"></div>

