<div class="fixed-top">
  <div class="navbar-actuality d-flex">
    <div id="provider-nav-container">

      <ul class="d-flex"
      (mousedown)="startDrag($event)"
      (mousemove)="move($event)"
      (mouseup)="stopDrag()">
        <ng-container *ngIf="isLogIn">
<!--          <h1>Abonne toi pour avoir des actualité</h1>-->
          <ng-container *ngFor="let provider of providerFollowOrAll">
            <li routerLink="/provider/{{ provider.id }}" >
              <div class="provider-img" style="background-image: url('{{ provider.picture?.url }}') "></div>
            </li>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!isLogIn">
          <ng-container *ngFor="let provider of providerFollowOrAll">
            <li routerLink="/provider/{{ provider.id }}" >
              <div class="provider-img" style="background-image: url('{{ provider.picture?.url }}') "></div>
            </li>
          </ng-container>
        </ng-container>
      </ul>

    </div>

    <div class="open-final">
      <p>
        <i class="ri-expand-diagonal-line"></i>
      </p>
    </div>

  </div>

  <div class="mask"></div>

</div>

<div class="back-bar"></div>

