.badgeIMG{
  width: 20px;
  margin-right: 3px;
  margin-left: 5px;
}

.comment-user {
  display: flex;
  gap: 10px;
  text-align: center;
}

.comment-user-name {
  margin-top: 0.5rem;
}

.comment-input {
  width: 100%;
  height: 200px;
  background-color: lightgray;
  margin-bottom: 40px;
  border-radius: 10px;
}

.comment-content {
  outline: none;
  resize: none;
  width: 100%;
  padding-left: 40px;
  padding-top: 40px;
  border: none;
  background-color: lightgray;
  border-radius: 10px;
}

.comment-send {
  display: flex;
  margin-right: 40px;
  justify-content: end;
}

#delete-comment-icon {
  cursor: pointer;
  margin-left: auto;
  margin-right: 5%;
  font-size: 28px;
  display: none;
}

.card:hover #delete-comment-icon {
  display: block;
}

.img {
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10px;
  border: 1px solid;
}

.comment-text {
  margin-left: 50px;
}

.lettrePP {
  margin: 0;
  font-size: 18px;
}

.lettrePP-border {
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.card {
  border: none;
}

.comment-border {
  background-color: lightgray;
  height: 1px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.mb4 {
  margin-bottom: 40px;
}

.mt10 {
  margin-top: 100px;
}

.mbminus4 {
  margin-top: -40px;
}
.no-padding {
  padding: 0px;
}

.containeur {
  width: 1140px;
}

#division {
  height: 1px;
  background-color: #57575726;
  margin-bottom: 40px;
}

#comment-value {
  color: white;
  background-color: #ff7575;
  width: 40px;
  text-align: center;
  border-radius: 10px;
  margin-left: 15px;
}

#coment-header {
  display: flex;
  flex-direction: row;
}

#last-header {
  margin-left: auto;
}

#sort {
  margin-right: 15px;
  color: #575757;
}

#time-ago {
  font-size: small;
  margin-left: 20px;
}

#reply-section {
  display: flex;
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: 12px;
  margin-top: -10px;
}

#reply-icon {
  margin-right: 10px;
}