.badgeIMG{
  width: 20px;
  margin-right: 3px;
  margin-left: 5px;
}

.comment-user {
  display: flex;
  gap: 10px;
  text-align: center;
}

.comment-user-name {
  margin-top: 0.5rem;
}

.comment-input {
  width: 100%;
  height: 200px;
  background-color: rgba(5, 5, 5, 0.12);
  margin-bottom: 40px;
  border-radius: 10px;
}

.comment-content {
  outline: none;
  resize: none;
  width: 100%;
  padding-left: 40px;
  padding-top: 40px;
  border: none;
  background: none;
  border-radius: 10px;
}

.comment-send {
  display: flex;
  margin-right: 40px;
  justify-content: end;
}

#delete-comment-icon {
  cursor: pointer;
  margin-left: auto;
  margin-right: 5%;
  font-size: 28px;
  display: none;
}

.card:hover #delete-comment-icon {
  display: block;
}

.img {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10px;
  /*border: 1px solid;*/
}

.comment-text {
  margin-left: 50px;
}

.lettrePP {
  margin: 0;
  font-size: 18px;
}

.lettrePP-border {
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.card {
  border: none;
}

.comment-border {
  background-color: lightgray;
  height: 1px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.mb4 {
  margin-bottom: 40px;
}

.mt10 {
  margin-top: 100px;
}

.mbminus4 {
  margin-top: -40px;
}
.no-padding {
  padding: 0px;
}

.containeur {
  width: 1140px;
}

#division {
  height: 1px;
  background-color: #57575726;
  margin-bottom: 40px;
}

#comment-value {
  color: white;
  width: 27px;
  height: 15px;
  text-align: center;
  border-radius: 10px;
  margin-left: 15px;
  font-size: 12px;
  line-height: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

#coment-header {
  display: flex;
  flex-direction: row;
}

#last-header {
  margin-left: auto;
  cursor: pointer;
}

#sort {
  margin-right: 15px;
  color: #575757;
}

.time-ago {
  font-size: small;
  margin-left: 20px;
  color: #575757
}

.reply-section {
  display: flex;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 14px;
  color: #575757
}

.comment-action {
  cursor: pointer;
}

#reply-icon {
  margin-right: 10px;
  color: #575757;
  cursor: pointer;
}

.like {
  margin: 0 10px;
  cursor: pointer;
}

.btn-shadow {
  -webkit-box-shadow: 0px 3px 10px 7px rgba(0,0,0,0.2);
  box-shadow:  0px 3px 7px rgba(0,0,0,0.3);;
}

.btn {
  border: 1px solid;
  color: white;
  border-color: var(--providerColor);
}

.btn:hover {
  background-color:white !important;
  color: var(--providerColor);
  border: 1px solid;
  border-color: var(--providerColor);
}

#comment {
  text-transform: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: auto;
  color: black;
}

#sort-name {
  text-transform: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: black;
}

#sort {
  color: black;
}

#like-value {
  display: inline-block;
  color: #575757;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  line-height: 15px;
}
.like-value {
  display: inline-block;
  color: #575757;
  text-align: center;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 15px;
}

#CharCount {
  margin: auto 0;
  margin-right: 56rem;
  color:#575757;
  font-size: small;
}

.invertSort {
  display: flex;
  flex-direction: column-reverse;
}