.badgeIMG{
  width: 20px;
  margin-right: 3px;
  margin-left: 5px;
}

.comment-user {
  display: flex;
  gap: 10px;
  text-align: center;
}

.comment-user-name {
  margin-top: 0.5rem;
}

.comment-input {
  width: 100%;
  height: 200px;
  background-color: rgba(5, 5, 5, 0.12);
  margin-bottom: 40px;
  border-radius: 10px;
}

.comment-content {
  outline: none;
  resize: none;
  width: 100%;
  padding-left: 40px;
  padding-top: 40px;
  border: none;
  background: none;
  border-radius: 10px;
}

.comment-send {
  display: flex;
  margin-right: 40px;
  justify-content: end;
}

#delete-comment-icon {
  cursor: pointer;
  margin-left: auto;
  margin-right: 5%;
  font-size: 18px;
}

#delete-comment-icon:hover {
  opacity: 0.8;
  color: red;
}

.img {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 10px;
  /*border: 1px solid;*/
}

.comment-text {
  margin-left: 50px;
}

.lettrePP {
  margin: 0;
  font-size: 18px;
}

.lettrePP-border {
  border: 1px solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.card {
  border: none;
}

.comment-border {
  background-color: lightgray;
  height: 1px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.mb4 {
  margin-bottom: 40px;
}

.mt10 {
  margin-top: 100px;
}

.mbminus4 {
  margin-top: -40px;
}
.no-padding {
  padding: 0px;
}

.containeur {
  width: 1140px;
}

#division {
  height: 1px;
  background-color: #57575726;
  margin-bottom: 40px;
}

#comment-value {
  color: white;
  width: 27px;
  height: 15px;
  text-align: center;
  border-radius: 10px;
  margin-left: 15px;
  font-size: 12px;
  line-height: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

#coment-header {
  display: flex;
  flex-direction: row;
}

#last-header {
  margin-left: auto;
  cursor: pointer;
}

#sort {
  margin-right: 15px;
  color: #575757;
}

.time-ago {
  font-size: small;
  margin-left: 20px;
  color: #575757;
}

.reply-section {
  display: flex;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 50px;
  font-size: 14px;
  color: #575757
}

.comment-action {
  cursor: pointer;
}

#reply-icon {
  margin-right: 10px;
  color: #575757;
  cursor: pointer;
}

.like {
  margin: 0 10px;
  cursor: pointer;
}

.btn-shadow {
  -webkit-box-shadow: 0px 3px 10px 7px rgba(0,0,0,0.2);
  box-shadow:  0px 3px 7px rgba(0,0,0,0.3);;
}

.btn {
  border: 1px solid;
  color: white;
  border-color: var(--providerColor);
}

.btn:hover {
  background-color:white !important;
  color: var(--providerColor);
  border: 1px solid;
  border-color: var(--providerColor);
}

#comment {
  text-transform: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: auto;
  color: black;
}

#sort-name {
  text-transform: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: black;
}

#sort {
  color: black;
}

#like-value {
  display: inline-block;
  color: #575757;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 12px;
  line-height: 15px;
}
.like-value {
  display: inline-block;
  color: #575757;
  text-align: center;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 12px;
  line-height: 15px;
}

#CharCount {
  margin: auto 0;
  margin-right: 56rem;
  font-size: small;
}

#sortTypes {
  margin-left: auto;
}

.display {
  display: inline;
}

.displayNone {
  display: none;
}

.red {
  color: red;
}

.ShowReply {
  font-size: 14px;
  cursor: pointer;
}

.reply-display{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -10px;
  margin-bottom: -40px;
  height: fit-content;
}

.comment-border{
  margin-top: 20px;
}

.replyOne {
  transform: scale(0.8);
}

.replyForm {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
  margin-top: 20px;

  input[type="text"]:focus{
    border-bottom: 2px var(--providerColor) solid;
    outline: unset;
    transition: border-bottom 0.3s ease;
  }

  input[type="text"]{
    width: 100%;
    background: #F3F3F3;
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-bottom: 2px var(--third-color) solid;
    border-radius: 4px 4px 0 0;
    font-family: var(--main-police), sans-serif;
    color: var(--first-color);
    height: 55px;
    padding-left: 20px;
    font-size: 15px;
    /*box-shadow: 0 1px 4px 0 #00000040 inset;*/
    transition: border-bottom 0.3s ease;
    font-weight: 400;
  }

  input[type="text"]::placeholder{
    color: var(--third-color);
    font-size: 14px;
    font-weight: 300;
  }


}

#no-comment{
  margin-bottom: 50px;
  text-align: center;
}

.clamp-name {
  text-align: left;
  width: clamp(0px, fit-content, 200px);
  max-width: 300px;
  height: 24px;
  display: inline-block;
  overflow-x: clip;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-content: end;
}

@media ( max-width: 1200px){
  #addCommentForm, #division, #coment-header, #yourComment, #OtherCommentsByDate, #OtherCommentsByLike {
    width: 855px;
    margin: 0 auto;
  }
  #division {
    margin-bottom: 40px;
  }
  .containeur {
    width: auto;
  }
}

@media  ( max-width: 855px){ 
  #addCommentForm, #division, #coment-header, #yourComment, #OtherCommentsByDate, #OtherCommentsByLike {
    width: 755px;
  }
}

@media  ( max-width: 775px){ 
  #addCommentForm, #division, #coment-header, #yourComment, #OtherCommentsByDate, #OtherCommentsByLike {
    width: 695px;
  }
  .clamp-name {
    max-width: 250px;
  }
}

@media  ( max-width: 695px){ 
  #addCommentForm, #division, #coment-header, #yourComment, #OtherCommentsByDate, #OtherCommentsByLike {
    width: 615px;
  }
  .clamp-name {
    max-width: 200px;
  }
}

@media  ( max-width: 615px){ 
  #addCommentForm, #division, #coment-header, #yourComment, #OtherCommentsByDate, #OtherCommentsByLike {
    width: 535px;
  }
  .replyOne {
    transform: unset;
  }
}

@media  ( max-width: 535px){ 
  #addCommentForm, #division, #coment-header, #yourComment, #OtherCommentsByDate, #OtherCommentsByLike {
    width: 445px;
  }
  .replyForm {
    width: 445px;
    margin-left: -60px;
  }
  .clamp-name {
    max-width: 120px;
    font-size: 14px;
  }
  .time-ago {
    font-size: 10px;
  }
}

@media  ( max-width: 445px){ 
  #addCommentForm, #division, #coment-header, #yourComment, #OtherCommentsByDate, #OtherCommentsByLike {
    width: 365px;
  }
  .replyForm {
    width: 365px;
    margin-left: -50px;
  }
  .clamp-name {
    font-size: 12px;
    max-width: 60px;
  }
  .time-ago {
    font-size: 8px;
    margin-left: 4px;
  }
}