<!--<h1 class="mb4">Section Commentaires</h1>-->
<modal-warn></modal-warn>

<ng-container *ngIf="this.app.isLoggedIn">
<form id="addCommentForm" #addForm="ngForm" (ngSubmit)="addComment(addForm)">
  <div class="comment-input">
    <div class="mb4">
      <textarea (ngModelChange)="getCommentLenght()"[(ngModel)]="text" id="BtnAddComment" class="comment-content" cols="35" placeholder="Votre commentaire" name="content" ngModel (keydown.enter)="preventTabulation($event)" (keyup.enter)="addComment(addForm)" required></textarea>
    </div>
    <div class="comment-send mb4">
      <div id="CharCount">{{ text.length }}/255</div>
      <button class="main-gamenium-btn" style="background-color: {{ providerColor || this.app.colorDefault }}" type="submit">Envoyer</button>
    </div>
  </div>
</form>
</ng-container>

<ng-container *ngIf="!this.app.isLoggedIn">
  <form id="addCommentForm">
    <div class="comment-input">
      <div class="mb4">
        <textarea class="comment-content" cols="35" placeholder="Vous devez d'abord vous connecter pour laisser un commentaire" disabled></textarea>
      </div>
      <div class="comment-send mb4">
        <button class="main-gamenium-btn" style="background-color: {{ providerColor || this.app.colorDefault }}" disabled>Envoyer</button>
      </div>
    </div>
  </form>
</ng-container>

<!-- <hr> -->
<div id="division"></div>

<!-- <div style="height: 50px"></div> -->
<div class="containeur" id="coment-header">
  <div class="d-flex gap-2 mb4">
    <h3 id="comment">{{nbComment && nbComment >= 2 ? 'Commentaires' : 'Commentaire' }}</h3>
    <h3 id="comment-value" style="background-color: {{ providerColor ?? 'red' }}">{{nbComment}}</h3>
  </div>
  <div id="sortTypes">
    <div class="d-flex" id="last-header" (click)="sortCommentByLike()" *ngIf="isShortByDate">
      <i class="ri-arrow-up-down-line" id="sort"></i>
      <h3 id="sort-name">Les plus récents</h3>
    </div>
    <div class="d-flex" id="last-header" (click)="sortCommentByDate()" *ngIf="!isShortByDate">
      <i class="ri-arrow-up-down-line" id="sort"></i>
      <h3 id="sort-name">Les plus Likés</h3>
    </div>
  </div>
</div>



<ng-container>

  <!--

  MY COMMENT BDD

  -->
  <div id="yourComment" *ngIf="this.app.isLoggedIn">
    <ng-container *ngFor="let comment of commentByActu">
      <ng-container *ngIf="comment.user.id == userConnectedId">
        <div id="c{{comment.id}}" class="card mb-2">

          <!-- PEOPLE -->
          <div class="comment-user ">

            <!-- PP -->
            <div class="img pp-shadow" style="{{ this.app.generatePPUseritium(comment?.user?.pp?.url, comment.user.displayname_useritium || comment.user.username, comment.user.color || app.colorDefault) }}"></div>

            <!-- WHY AND WHERE-->
            <h4 class="comment-user-name">
              <div class="username-badge">
                <span class="clamp-name">{{ comment.user.displayname_useritium || comment.user.username }}</span>
                <ng-container *ngFor="let badge of badgeForAllUser[comment.user.id]">
                  <img class="badgeIMG" src="{{ badge.picture?.url }}">
                </ng-container>
              </div>
              <span class="time-ago">{{comment.created_at | date: 'd MMMM y': undefined : 'fr'}} à {{comment.created_at | date: 'HH:mm'}}</span>
            </h4>

            <!-- DELTE YOUR COM-->
            <i id="delete-comment-icon" class="ri-delete-bin-line" (click)="onDeleteBtnClick(comment.id)"></i>

          </div>

          <!-- CONTENT -->
          <p class="comment-text">{{comment.content}}</p>

          <!-- ACTION COM -->
          <div class="reply-section">

            <div (click)="likeComment(comment.id, !commentLikedMap.get(comment.id) ? 'add' : 'delete')">
              <i id="like-icon{{comment.id}}" class="comment-action like"
                [class.ri-thumb-up-line]="!commentLikedMap.get(comment.id)"
                [class.ri-thumb-up-fill]="commentLikedMap.get(comment.id)">
              </i>
              <span id="like-value">{{ nbLikeByComment[comment.id] || "0" }}</span>
            </div>

            <div class="reply-btn" (click)="checkShowCommentReply(comment.id)">
              <i class="ri-question-answer-line" id="reply-icon"></i>
            </div>

          </div>

        <!-- LIST COMMENT REPLY-->
        <ng-container>
          <div class="reply-display">

            <!-- BUTTOM -->
            <div class="ShowReply" (click)="checkShowCommentReply(comment.id)" *ngIf="commentReplyAll[comment.id] && commentReplyAll[comment.id].length > 0">
              <span>Voir les réponses  : {{commentReplyAll[comment.id].length}} </span>
              <i class="ri-arrow-down-s-line"></i>
            </div>

            <!-- LIST -->
            <div id="all-reply{{comment.id}}" class="displayNone allReply">
              <ng-container *ngFor="let commentReply of commentReplyAll[comment.id]; let i = index">

                <!-- REPLY ONE-->
                <div class="replyOne">

                  <!-- PEOPLE -->
                  <div class="comment-user">

                    <!-- PP -->
                    <div class="img pp-shadow" style="{{ this.app.generatePPUseritium(commentReply?.user?.pp?.url, commentReply.user.displayname_useritium || commentReply.user.username, commentReply.user.color || app.colorDefault) }}"></div>

                    <!-- WHY AND WHEN -->
                    <h4 class="comment-user-name"><span class="clamp-name">{{ commentReply.user?.displayname_useritium || commentReply.user.username }}</span>
                      <span class="time-ago">{{commentReply.created_at | date: 'd MMMM y': undefined : 'fr'}} à {{commentReply.created_at | date: 'HH:mm'}}</span>
                    </h4>

                    <!-- DELTE YOUR COM-->
                    <i id="delete-comment-icon" class="ri-delete-bin-line" (click)="deleteCommentReply(commentReply, i)" *ngIf="commentReply.user.id == app.userConnected?.id"></i>
                    <!-- WARN COM-->
                    <i class="warn-ico ri-alert-line" *ngIf="commentReply.user.id !== app.userConnected?.id" data-bs-toggle="modal" data-bs-target="#warnModal" (click)="app.setWarn('comment-reply', commentReply.id)"></i>

                  </div>

                  <!-- CONTENT-->
                  <p class="comment-text">{{ commentReply.content }}</p>

                  <!-- ACTION COM -->
                  <!--<div class="reply-section">

                    <div>
                      <i id="like-icon{{commentReply.id}}" class="comment-action like"
                         [class.ri-thumb-up-line]="!commentLikedMap.get(commentReply.id)"
                         [class.ri-thumb-up-fill]="commentLikedMap.get(commentReply.id)">
                      </i>
                      <span id="like-value">{{ "0" }}</span>
                    </div>

                  </div>-->

                </div>

              </ng-container>

              <!-- REPLY FORM-->
              <div class="replyForm" [ngStyle]="{'--providerColor': providerColor || this.app.colorDefault }">
                <input name="comment{{comment.id}}" id="comment{{comment.id}}" type="text" placeholder="Votre réponses">
                <button (click)="sendReplyComment(comment.id)" class="main-gamenium-btn" type="button" style="background-color: {{ providerColor }}">Envoyer</button>
              </div>

            </div>

            <br><br>
          </div>
        </ng-container>




        <!-- BAR --> <div id="b{{comment.id}}" class="comment-border mb-4"></div>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <style>
    .ShowReply{
      text-align: center;
    }

    .reply-btn{
      margin-left: 20px;
    }

  </style>


  <!--

  OTHER COMMENT BDD

  -->
  <div>
    <div id="OtherCommentsByDate">
      <ng-container *ngFor="let comment of commentByActu">
        <ng-container *ngIf="comment.user.id != userConnectedId">
          <div class="card mb-2">

            <!-- PEOPLE -->
            <div class="comment-user">

              <!-- PP -->
              <div class="img pp-shadow" style="{{ this.app.generatePPUseritium(comment?.user?.pp?.url, comment.user.displayname_useritium || comment.user.username, comment.user.color || app.colorDefault) }}"></div>

              <!-- WHY AND WHEN -->
              <h4 class="comment-user-name">
                <div class="username-badge">
                  <span class="clamp-name">{{ comment.user.displayname_useritium || comment.user.username }}</span>
                  <ng-container *ngFor="let badge of badgeForAllUser[comment.user.id]">
                    <img class="badgeIMG" src="{{ badge.picture?.url }}">
                  </ng-container>
                </div>
                <span class="time-ago">{{comment.created_at | date: 'd MMMM y': undefined : 'fr'}} à {{comment.created_at | date: 'HH:mm'}}</span>
              </h4>

              <!-- WARN COM-->
              <i class="warn-ico ri-alert-line" data-bs-toggle="modal" data-bs-target="#warnModal" (click)="app.setWarn('comment', comment.id)"></i>

            </div>

            <!-- CONTENT -->
            <p class="comment-text">{{comment.content}}</p>

            <!-- ACTION COM -->
            <div class="reply-section">

              <div (click)="likeComment(comment.id, !commentLikedMap.get(comment.id) ? 'add' : 'delete')">
                <i id="like-icon{{comment.id}}" class="comment-action like"
                  [class.ri-thumb-up-line]="!commentLikedMap.get(comment.id)"
                  [class.ri-thumb-up-fill]="commentLikedMap.get(comment.id)">
                </i>
                <span id="like-value">{{ nbLikeByComment[comment.id] || "0" }}</span>
              </div>

              <div class="reply-btn" (click)="checkShowCommentReply(comment.id)">
                <i class="ri-question-answer-line" id="reply-icon"></i>
              </div>

            </div>

            <!-- LIST COMMENT REPLY-->
            <ng-container>
              <div class="reply-display">

                <!-- BUTTOM -->
                <div class="ShowReply" (click)="checkShowCommentReply(comment.id)" *ngIf="commentReplyAll[comment.id] && commentReplyAll[comment.id].length > 0">
                  <span>Voir les réponses  : {{commentReplyAll[comment.id].length}}</span>
                  <i class="ri-arrow-down-s-line"></i>
                </div>

                <!-- LIST -->
                <div id="all-reply{{comment.id}}" class="displayNone allReply">
                  <ng-container *ngFor="let commentReply of commentReplyAll[comment.id]; let i = index">

                    <!-- REPLY ONE-->
                    <div class="replyOne">

                      <!-- PEOPLE -->
                      <div class="comment-user">

                        <!-- PP -->
                        <div class="img pp-shadow" style="{{ this.app.generatePPUseritium(commentReply?.user?.pp?.url, commentReply.user.displayname_useritium || commentReply.user.username, commentReply.user.color || app.colorDefault) }}"></div>

                        <!-- WHY AND WHEN -->
                        <h4 class="comment-user-name"><span class="clamp-name">{{ commentReply.user?.displayname_useritium || commentReply.user.username }}</span>
                          <span class="time-ago">{{commentReply.created_at | date: 'd MMMM y': undefined : 'fr'}} à {{commentReply.created_at | date: 'HH:mm'}}</span>
                        </h4>

                        <!-- DELTE YOUR COM-->
                        <i id="delete-comment-icon" class="ri-delete-bin-line" (click)="deleteCommentReply(commentReply, i)" *ngIf="commentReply.user.id == app.userConnected?.id"></i>
                        <!-- WARN COM-->
                        <i class="warn-ico ri-alert-line" *ngIf="commentReply.user.id !== app.userConnected?.id" data-bs-toggle="modal" data-bs-target="#warnModal" (click)="app.setWarn('comment-reply', commentReply.id)"></i>

                      </div>

                      <!-- CONTENT-->
                      <p class="comment-text">{{ commentReply.content }}</p>

                      <!-- ACTION COM -->
                      <!--<div class="reply-section">

                        <div>
                          <i id="like-icon{{commentReply.id}}" class="comment-action like"
                             [class.ri-thumb-up-line]="!commentLikedMap.get(commentReply.id)"
                             [class.ri-thumb-up-fill]="commentLikedMap.get(commentReply.id)">
                          </i>
                          <span id="like-value">{{ "0" }}</span>
                        </div>

                      </div>-->

                    </div>

                  </ng-container>

                  <!-- REPLY FORM-->
                  <div class="replyForm" [ngStyle]="{'--providerColor': providerColor || this.app.colorDefault }">
                    <input name="comment{{comment.id}}" id="comment{{comment.id}}" type="text" placeholder="Votre réponses">
                    <button (click)="sendReplyComment(comment.id)" class="main-gamenium-btn" type="button" style="background-color: {{ providerColor }}">Envoyer</button>
                  </div>

                </div>

                <br><br>
              </div>
            </ng-container>

            <!-- BAR --> <div class="comment-border mb-4"></div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

</ng-container>


<!-- AUCUN COMMENTAIRE -->
<ng-container *ngIf="!commentByActu">

  <h2 id="no-comment" class="mb10" style="color: {{ providerColor }}">Aucun commentaire</h2>

</ng-container>

<div id="tempNoComment"></div>


<div style="height: 120px"></div>
