<h1 class="mb4">Section Commentaires</h1>
<ng-container *ngIf="isLoggedIn">
<form id="addCommentForm" #addForm="ngForm" (ngSubmit)="addComment(addForm)">
  <div class="comment-input">
    <div class="mb4">
      <textarea id="BtnAddComment" class="comment-content" cols="35" placeholder="Votre commentaire" name="content" ngModel (keydown.enter)="preventTabulation($event)" (keyup.enter)="addComment(addForm)" required></textarea>
    </div>
    <div class="comment-send mb4">
      <button [ngStyle]="{ '--providerColor': providerColor ?? 'red' }" class="btn btn-shadow" type="submit" style="background-color: {{ providerColor ?? 'red' }};">Envoyer</button>
    </div>
  </div>
</form>
</ng-container>

<ng-container *ngIf="!isLoggedIn">
  <form id="addCommentForm">
    <div class="comment-input">
      <div class="mb4">
        <textarea class="comment-content" cols="35" placeholder="Votre devez d'abord vous connecter pour laisser un commentaire" disabled></textarea>
      </div>
      <div class="comment-send mb4">
        <button [ngStyle]="{ '--providerColor': providerColor ?? 'red' }" class="btn btn-shadow" style="background-color: {{ providerColor ?? 'red' }};" disabled>Envoyer</button>
      </div>
    </div>
  </form>
</ng-container>

<!-- <hr> -->
<div id="division"></div> 

<!-- <div style="height: 50px"></div> -->
<div class="containeur" id="coment-header">
  <div class="d-flex gap-2 mb4">
    <h3 id="comment">{{nbComment && nbComment >= 2 ? 'Commentaires' : 'Commentaire' }}</h3>
    <h3 id="comment-value" style="background-color: {{ providerColor ?? 'red' }}">{{nbComment}}</h3>
  </div>
  <div class="d-flex" id="last-header">
    <i class="ri-arrow-up-down-line" id="sort"></i>
    <h3 id="sort-name">Les plus récents</h3>
  </div>
</div>



<ng-container *ngIf="!isLoggedIn">
  <ng-container *ngFor="let comment of commentByActu">
    <div class="card mb-2">
      <div class="comment-user">
        <!-- <div class="img"
        style="background-image: url({{ comment?.user?.pp?.url }})"></div> -->
        <div *ngIf="comment?.user?.pp?.url" class="img" style="background-image: url('{{ comment?.user?.pp?.url }}'); border-color: {{comment.user.color}};"></div>

        <div class="align-content-center lettrePP-border" *ngIf="!comment?.user?.pp?.url" style="background-color: white!important; border-color: {{comment.user.color}};">
          <p class="lettrePP" style="color: {{comment.user.color}}">{{ extractFirstLetter(comment.user.displayname) }}</p>
        </div>
        <h4 class="comment-user-name"><span style="color: {{ providerColor }}">{{ comment.user.displayname }}</span>
          <ng-container *ngFor="let badge of badgeForAllUser[comment.user.id]">
            <img class="badgeIMG" src="{{ badge.picture?.url }}">
          </ng-container>
          <span class="time-ago">Posté le : {{comment.created_at | date: 'd MMMM y': undefined : 'fr'}} à {{comment.created_at | date: 'HH:mm'}}</span>
        </h4>
      </div>
      <p class="comment-text">{{comment.content}}</p>
      <div class="reply-section">
        <div
        (click)="replyToComment(comment.id)">
          <i class="ri-question-answer-line" id="reply-icon"></i>
          <span class="comment-action">répondre</span>
        </div>
        <div
        (click)="likeComment(comment.id, !commentLikedMap.get(comment.id) ? 'add' : 'delete')">
          <i
          id="like-icon{{comment.id}}"
          class="comment-action like"
          style="color: {{commentLikedMap.get(comment.id) ? providerColor : 'rgb(87,87,87)'}}"
          [class.ri-heart-line]="!commentLikedMap.get(comment.id)" 
          [class.ri-heart-fill]="commentLikedMap.get(comment.id)">
          </i>
          <span class="comment-action">j'aime</span>
        </div>
      </div>
    </div>
    <div class="comment-border mb-4"></div>
  </ng-container>
</ng-container>

<ng-container *ngIf="isLoggedIn">
  <div id="yourComment">
    <ng-container *ngFor="let comment of commentByActu">
      <ng-container *ngIf="comment.user.id == userConnectedId">
        <div id="c{{comment.id}}" class="card mb-2">
          <div class="comment-user ">

            <!-- <div class="img"
             style="background-image: url({{ comment?.user?.pp?.url }})"></div> -->
             <div *ngIf="comment?.user?.pp?.url" class="img" style="background-image: url('{{ comment?.user?.pp?.url }}')"></div>
  
             <div class="align-content-center lettrePP-border" *ngIf="!comment?.user?.pp?.url" style="background-color: white!important; border-color: {{comment.user.color}};">
               <p class="lettrePP" style="color: {{comment.user.color}}">{{ extractFirstLetter(comment.user.displayname) }}</p>
             </div>

              <h4 class="comment-user-name">(Vous) <span style="color: {{ providerColor }}">{{ comment.user.displayname }}</span>
              <ng-container *ngFor="let badge of badgeForAllUser[comment.user.id]">
                <img class="badgeIMG" src="{{ badge.picture?.url }}">
              </ng-container>
              <span class="time-ago">Posté le : {{comment.created_at | date: 'd MMMM y': undefined : 'fr'}} à {{comment.created_at | date: 'HH:mm'}}</span>
              </h4>
            <i id="delete-comment-icon"
              class="ri-delete-bin-line"
              (click)="onDeleteBtnClick(comment.id)"
              style="color: red;"></i>
          </div>
          <p class="comment-text">{{comment.content}}</p>
          <div class="reply-section">
            <div
            (click)="replyToComment(comment.id)">
              <i class="ri-question-answer-line" id="reply-icon"></i>
              <span class="comment-action">répondre</span>
            </div>
            <div
            (click)="likeComment(comment.id, !commentLikedMap.get(comment.id) ? 'add' : 'delete')">
            <i
            id="like-icon{{comment.id}}"
            class="comment-action like"
            style="color: {{commentLikedMap.get(comment.id) ? providerColor : 'rgb(87,87,87)'}}"
            [class.ri-heart-line]="!commentLikedMap.get(comment.id)" 
            [class.ri-heart-fill]="commentLikedMap.get(comment.id)">
            </i>
            <span class="comment-action">j'aime</span>
            </div>
          </div>
        </div>
        <div id="b{{comment.id}}" class="comment-border mb-4"></div>
      </ng-container>
    </ng-container>
  </div>

  <ng-container *ngFor="let comment of commentByActu">
    <ng-container *ngIf="comment.user.id != userConnectedId">
      <div class="card mb-2">
        <div class="comment-user">
          <!-- <div class="img"
          style="background-image: url({{ comment?.user?.pp?.url }})"></div> -->
          <div *ngIf="comment?.user?.pp?.url" class="img" style="background-image: url('{{ comment?.user?.pp?.url }}'); border-color: {{comment.user.color}};"></div>
  
          <div class="align-content-center lettrePP-border" *ngIf="!comment?.user?.pp?.url" style="background-color: white!important; border-color: {{comment.user.color}};">
            <p class="lettrePP" style="color: {{comment.user.color}}">{{ extractFirstLetter(comment.user.displayname) }}</p>
          </div>
          <h4 class="comment-user-name"><span style="color: {{ providerColor }}">{{ comment.user.displayname }}</span>
            <ng-container *ngFor="let badge of badgeForAllUser[comment.user.id]">
              <img class="badgeIMG" src="{{ badge.picture?.url }}">
            </ng-container>
            <span class="time-ago">Posté le : {{comment.created_at | date: 'd MMMM y': undefined : 'fr'}} à {{comment.created_at | date: 'HH:mm'}}</span>
          </h4>
        </div>
        <p class="comment-text">{{comment.content}}</p>
        <div class="reply-section">
          <div
          (click)="replyToComment(comment.id)">
            <i class="ri-question-answer-line" id="reply-icon"></i>
            <span class="comment-action">répondre</span>
          </div>
          <div
          (click)="likeComment(comment.id, !commentLikedMap.get(comment.id) ? 'add' : 'delete')">
          <i
          id="like-icon{{comment.id}}"
          class="comment-action like"
          style="color: {{commentLikedMap.get(comment.id) ? providerColor : 'rgb(87,87,87)'}}"
          [class.ri-heart-line]="!commentLikedMap.get(comment.id)" 
          [class.ri-heart-fill]="commentLikedMap.get(comment.id)">
          </i>
          <span class="comment-action">j'aime</span>
          </div>
        </div>
      </div>
      <div class="comment-border mb-4"></div>
    </ng-container>
  </ng-container>
</ng-container>


<ng-container *ngIf="!commentByActu">

  <h2 id="no-comment" class="mb10">Aucun commentaire</h2>

</ng-container>


<div style="height: 120px"></div>
