<div class="provider_card" *ngIf="provider">
    <!-- Provider Color Bar -->
    <div
      class="provider_color"
      [style.background-color]="provider.color"
      [routerLink]="['/provider', provider.id]"
    ></div>

    <!-- Provider Profile Image -->
    <div
      class="provider_profile"
      [routerLink]="['/provider', provider.id]"

    >
      <div class="img-pp pp-shadow" [style.background-image]="'url(' + provider.picture?.url + ')'"></div>
    </div>
    <!-- Provider Card Content -->
    <div class="provider-card-content">
      <p
        class="name mt-2"
        [routerLink]="['/provider', provider.id]"
      >
        {{ provider.displayName }}
    </p>
      <a
        class="follow-btn"
        [ngClass]="{'followed': isFollowed, 'hover-effect': hoverText !== null}"
        (click)="onFollow();"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
        [style.color]="provider.color"
      >
        {{ getButtonText() }}
      </a>
    </div>
  </div>

  <div class="provider_card" *ngIf="game">
    <!-- Provider Color Bar -->
    <ng-container *ngIf="game.image.icon_url == this.app.noBoxartImage_default">
      <div
        class="provider_color game"
        [style.background-image]="'url(' + app.noBoxartImage + ')'"
        [routerLink]="['/gameactu', game.id]"
      ></div>
    </ng-container>


    <ng-container *ngIf="game.image.icon_url != this.app.noBoxartImage_default">
      <div
        class="provider_color game"
        [style.background-image]="'url(' + game.image.small_url + ')'"
        [routerLink]="['/gameactu', game.id]"
      ></div>
    </ng-container>

    <!-- Provider Profile Image -->
    <div
      class="provider_profile"
      [routerLink]="['/gameactu', game.id]"
    >

      <ng-container *ngIf="game.image.icon_url == this.app.noBoxartImage_default">
        <div class="img-pp pp-shadow" [style.background-image]="'url(' + app.noBoxartImage + ')'"></div>
      </ng-container>
      <ng-container *ngIf="game.image.icon_url != this.app.noBoxartImage_default">
      <div class="img-pp pp-shadow" [style.background-image]="'url(' + game.image.small_url + ')'"></div>
      </ng-container>
    </div>

    <!-- Provider Card Content -->
    <div class="provider-card-content">
      <p
        class="name mt-2"
        [routerLink]="['/gameactu', game.id]"
      >
        {{ game.name }}
      </p>
      <a
        class="follow-btn"
        [style.color]="this.app.userConnected?.themeColor || this.app.colorDefault"
      >
<!--        Voir-->
      </a>
    </div>
  </div>

<div id="squelette" class="provider_card" *ngIf="!provider && !game">
  <!-- Provider Color Bar -->
  <div
    class="provider_color"
  ></div>

  <!-- Provider Profile Image -->
  <div class="provider_profile">
    <div class="img-pp"></div>
  </div>

  <!-- Provider Card Content -->
  <div class="provider-card-content">
    <p class="name mt-2">

    </p>
    <a class="follow-btn">
    </a>
  </div>
</div>
