<section id="editedmygame" class="container">

<form>

  <ng-container *ngIf="selectedMyGame">

    <div id="headeEditMyGame">

      <img src="{{ selectedMyGame.myGame.game.image.icon_url }}">
      <h1>{{ this.selectedMyGame?.myGame?.game?.name }}</h1>
      <small>Ajouter le : {{selectedMyGame.myGame.added_at | date:'dd / MM / yyyy'  }}</small>

    </div>

  <ng-container *ngIf="selectedMyGame.myGame">
    <div id="startFormEditedMyGame">

      <!-- EPINGLER -->
      <label>Épinglé:</label>
      <label for="is_pinned_true">
        <input type="radio" id="is_pinned_true" [(ngModel)]="selectedMyGame.myGame.is_pinned" name="is_pinned"
               [value]="true">
        Épinglé
      </label>
      <label for="is_pinned_false">
        <input type="radio" id="is_pinned_false" [(ngModel)]="selectedMyGame.myGame.is_pinned" name="is_pinned"
               [value]="false">
        Non épinglé
      </label>

      <!-- NOTE GLOBAL -->
      <label for="rating">Note Game:</label>
      <input type="text" id="rating" [(ngModel)]="selectedMyGame.rate.rating" name="rating">

      <!-- DIFICULTER -->
      <label >Difficulty rating:</label>
      <label for="difficulty_rating_1">
        <input type="radio" id="difficulty_rating_1" [(ngModel)]="selectedMyGame.myGame.difficulty_rating"
               name="difficulty_rating" [value]="1">
        1
      </label>
      <label for="difficulty_rating_2">
        <input type="radio" id="difficulty_rating_2" [(ngModel)]="selectedMyGame.myGame.difficulty_rating"
               name="difficulty_rating" [value]="2">
        2
      </label>
      <label for="difficulty_rating_3">
        <input type="radio" id="difficulty_rating_3" [(ngModel)]="selectedMyGame.myGame.difficulty_rating"
               name="difficulty_rating" [value]="3">
        3
      </label>
      <label for="difficulty_rating_4">
        <input type="radio" id="difficulty_rating_4" [(ngModel)]="selectedMyGame.myGame.difficulty_rating"
               name="difficulty_rating" [value]="4">
        4
      </label>
      <label for="difficulty_rating_5">
        <input type="radio" id="difficulty_rating_5" [(ngModel)]="selectedMyGame.myGame.difficulty_rating"
               name="difficulty_rating" [value]="5">
        5
      </label>

      <!-- TEMPS DE JEUX -->
      <label>Lifetime rating:</label>
      <label for="lifetime_rating_1">
        <input type="radio" id="lifetime_rating_1" [(ngModel)]="selectedMyGame.myGame.lifetime_rating"
               name="lifetime_rating" [value]="1">
        1
      </label>
      <label for="lifetime_rating_2">
        <input type="radio" id="lifetime_rating_2" [(ngModel)]="selectedMyGame.myGame.lifetime_rating"
               name="lifetime_rating" [value]="2">
        2
      </label>
      <label for="lifetime_rating_3">
        <input type="radio" id="lifetime_rating_3" [(ngModel)]="selectedMyGame.myGame.lifetime_rating"
               name="lifetime_rating" [value]="3">
        3
      </label>
      <label for="lifetime_rating_4">
        <input type="radio" id="lifetime_rating_4" [(ngModel)]="selectedMyGame.myGame.lifetime_rating"
               name="lifetime_rating" [value]="4">
        4
      </label>
      <label for="lifetime_rating_5">
        <input type="radio" id="lifetime_rating_5" [(ngModel)]="selectedMyGame.myGame.lifetime_rating"
               name="lifetime_rating" [value]="5">
        5
      </label>

      <!-- LISTE DE SOUHAIT-->
      <label>Wish list:</label>
      <label for="wish_list_yes">
        <input type="radio" id="wish_list_yes" [(ngModel)]="selectedMyGame.myGame.wish_list" name="wish_list"
               [value]="true">
        Oui
      </label>
      <label for="wish_list_no">
        <input type="radio" id="wish_list_no" [(ngModel)]="selectedMyGame.myGame.wish_list" name="wish_list"
               [value]="false">
        Non
      </label>

      <!-- EXEMPLAIRE -->
      <div>
        <h1>Exemplaire <span>{{ selectedMyGame.copyGame.length }}</span> :</h1>
        <ng-container *ngFor="let copyGame of selectedMyGame.copyGame; let i = index">
          <div class="oneExemplaire">
            <label for="edition{{i}}">Editions:</label>
            <input type="text" id="edition{{i}}" [(ngModel)]="copyGame.edition" name="edition{{i}}">

            <label for="barcode{{i}}">Barcode:</label>
            <input type="text" id="barcode{{i}}" [(ngModel)]="copyGame.barcode" name="barcode{{i}}">

            <label for="content{{i}}">Content:</label>
            <input type="text" id="content{{i}}" [(ngModel)]="copyGame.content" name="content{{i}}">

            <label for="etat{{i}}">Etat:</label>
            <input type="text" id="etat{{i}}" [(ngModel)]="copyGame.etat.name" name="etat{{i}}">

            <label for="format{{i}}">Format:</label>
            <input type="text" id="format{{i}}" [(ngModel)]="copyGame.format.name" name="format{{i}}">

            <label for="region{{i}}">Region:</label>
            <input type="text" id="region{{i}}" [(ngModel)]="copyGame.region.name" name="region{{i}}">

            <h5>Purchase:</h5>
            <label for="price{{i}}">Price:</label>
            <input type="text" id="price{{i}}" [(ngModel)]="copyGame.purchase.price" name="price{{i}}">

            <label for="devise{{i}}">Devise:</label>
            <input type="text" id="devise{{i}}" [(ngModel)]="copyGame.purchase.devise.symbole" name="devise{{i}}">

            <label for="buy_date{{i}}">Buy date:</label>
            <input type="date" id="buy_date{{i}}" [(ngModel)]="copyGame.purchase.buy_date" name="buy_date{{i}}">

            <label for="buy_where{{i}}">Buy where:</label>
            <input type="text" id="buy_where{{i}}" [(ngModel)]="copyGame.purchase.buy_where.name" name="buy_where{{i}}">

            <label for="purchase_content{{i}}">Purchase content:</label>
            <input type="text" id="purchase_content{{i}}" [(ngModel)]="copyGame.purchase.content"
                   name="purchase_content{{i}}">
          </div>
        </ng-container>
      </div>
    </div>
    </ng-container>
  </ng-container>

  <button type="submit">Submit</button>
</form>
</section>

<style>
  #editedmygame{
    margin: auto auto 120px;
  }

  #headeEditMyGame {
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
      margin: unset;
    }
  }

  #startFormEditedMyGame{
    display: flex;
    flex-direction: column;

  }

  .oneExemplaire{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 20px;
  }


</style>
