<section id="editedmygame" class="container">

<form #editedMyGame="ngForm" (ngSubmit)="updateMyGame(editedMyGame)">

  <ng-container *ngIf="selectedMyGame">

    <div id="headeEditMyGame">

      <img src="{{ selectedMyGame.myGame.game.image.icon_url }}">
      <h1>{{ this.selectedMyGame?.myGame?.game?.name }}</h1>
      <small>Ajouter le : {{selectedMyGame.myGame.added_at | date:'dd / MM / yyyy'  }}</small>

    </div>

    <ng-container *ngIf="selectedMyGame.myGame">
    <div id="startFormEditedMyGame">


      <input type="hidden" [(ngModel)]="selectedMyGame.myGame.id" name="myGameId">

      <!-- EPINGLER -->
      <label>Épinglé:</label>
      <label for="is_pinned_true">
        <input type="radio" id="is_pinned_true" [(ngModel)]="selectedMyGame.myGame.is_pinned" name="is_pinned"
               [value]="true">
        Épinglé
      </label>
      <label for="is_pinned_false">
        <input type="radio" id="is_pinned_false" [(ngModel)]="selectedMyGame.myGame.is_pinned" name="is_pinned"
               [value]="false">
        Non épinglé
      </label>

      <!-- NOTE GLOBAL -->
      <label for="rating">Note Game:</label>
      <ng-container *ngIf="selectedMyGame.rate">
        <input type="hidden" [(ngModel)]="selectedMyGame.rate.id" name="rateId">
        <input type="number" id="rating" [(ngModel)]="selectedMyGame.rate.rating" name="rating">
      </ng-container>
      <ng-container *ngIf="!selectedMyGame.rate">
        <input type="number" id="rating" name="rating" ngModel>
      </ng-container>

      <!-- DIFICULTER -->
      <label >Difficulty rating:</label>
      <label for="difficulty_rating_1">
        <input type="radio" id="difficulty_rating_1" [(ngModel)]="selectedMyGame.myGame.difficulty_rating"
               name="difficulty_rating" [value]="1">
        1
      </label>
      <label for="difficulty_rating_2">
        <input type="radio" id="difficulty_rating_2" [(ngModel)]="selectedMyGame.myGame.difficulty_rating"
               name="difficulty_rating" [value]="2">
        2
      </label>
      <label for="difficulty_rating_3">
        <input type="radio" id="difficulty_rating_3" [(ngModel)]="selectedMyGame.myGame.difficulty_rating"
               name="difficulty_rating" [value]="3">
        3
      </label>
      <label for="difficulty_rating_4">
        <input type="radio" id="difficulty_rating_4" [(ngModel)]="selectedMyGame.myGame.difficulty_rating"
               name="difficulty_rating" [value]="4">
        4
      </label>
      <label for="difficulty_rating_5">
        <input type="radio" id="difficulty_rating_5" [(ngModel)]="selectedMyGame.myGame.difficulty_rating"
               name="difficulty_rating" [value]="5">
        5
      </label>

      <!-- TEMPS DE JEUX -->
      <label>Lifetime rating:</label>
      <label for="lifetime_rating_1">
        <input type="radio" id="lifetime_rating_1" [(ngModel)]="selectedMyGame.myGame.lifetime_rating"
               name="lifetime_rating" [value]="1">
        1
      </label>
      <label for="lifetime_rating_2">
        <input type="radio" id="lifetime_rating_2" [(ngModel)]="selectedMyGame.myGame.lifetime_rating"
               name="lifetime_rating" [value]="2">
        2
      </label>
      <label for="lifetime_rating_3">
        <input type="radio" id="lifetime_rating_3" [(ngModel)]="selectedMyGame.myGame.lifetime_rating"
               name="lifetime_rating" [value]="3">
        3
      </label>
      <label for="lifetime_rating_4">
        <input type="radio" id="lifetime_rating_4" [(ngModel)]="selectedMyGame.myGame.lifetime_rating"
               name="lifetime_rating" [value]="4">
        4
      </label>
      <label for="lifetime_rating_5">
        <input type="radio" id="lifetime_rating_5" [(ngModel)]="selectedMyGame.myGame.lifetime_rating"
               name="lifetime_rating" [value]="5">
        5
      </label>

      <!-- LISTE DE SOUHAIT-->
      <label>Wish list:</label>
      <label for="wish_list_yes">
        <input type="radio" id="wish_list_yes" [(ngModel)]="selectedMyGame.myGame.wish_list" name="wish_list"
               [value]="true">
        Oui
      </label>
      <label for="wish_list_no">
        <input type="radio" id="wish_list_no" [(ngModel)]="selectedMyGame.myGame.wish_list" name="wish_list"
               [value]="false">
        Non
      </label><!-- EXEMPLAIRE -->
      <div>
        <h1>Exemplaire <span>{{ selectedMyGame.copyGame.length }}</span> :</h1>
        <button type="button" (click)="addCopyGame()">Ajouter un exemplaire</button>
        <ng-container *ngFor="let copyGame of selectedMyGame.copyGame; let i = index">

          <div class="oneExemplaire" id="copyCard{{i}}">
            <button type="button" (click)="deleteCopyGame(i)">Del cette exemplaire</button>

            <input type="hidden" [(ngModel)]="copyGame.id" name="copy{{i}}">

            <!-- EDITIONS-->
            <label for="edition{{i}}">Editions:</label>
            <input type="text" id="edition{{i}}" [(ngModel)]="copyGame.edition" name="edition{{i}}">

            <!-- BARCODE -->
            <label for="barcode{{i}}">Barcode:</label>
            <input type="text" id="barcode{{i}}" [(ngModel)]="copyGame.barcode" name="barcode{{i}}">

            <!-- CONTENT -->
            <label for="content{{i}}">Content:</label>
            <input type="text" id="content{{i}}" [(ngModel)]="copyGame.content" name="content{{i}}">

            <!-- ETAT -->
            <label for="etat{{i}}">Etat:</label>
            <ng-container *ngIf="hmgCopyEtatAll && copyGame.etat">
              <select id="etat{{i}}" [(ngModel)]="copyGame.etat.id" name="etat{{i}}">
                <option [value]="null">Choissir un etat</option>
                <ng-container *ngFor="let etat of hmgCopyEtatAll">
                  <option [value]="etat.id">{{ etat.name }}</option>
                </ng-container>
              </select>
            </ng-container>
            <ng-container *ngIf="hmgCopyEtatAll && !copyGame.etat">
              <select id="etat{{i}}" name="etat{{i}}" ngModel>
                <option [value]="null">Choissir un etat</option>
                <ng-container *ngFor="let etat of hmgCopyEtatAll">
                  <option [value]="etat.id">{{ etat.name }}</option>
                </ng-container>
              </select>
            </ng-container>

            <!-- FORMAT -->
            <label for="format{{i}}">Format:</label>
            <ng-container *ngIf="hmgCopyFormatAll && copyGame.format">
              <select id="format{{i}}" [(ngModel)]="copyGame.format.id" name="format{{i}}">
                <option [value]="null">Choissir un format</option>
                <ng-container *ngFor="let format of hmgCopyFormatAll">
                  <option [value]="format.id">{{ format.name }}</option>
                </ng-container>
              </select>
            </ng-container>
            <ng-container *ngIf="hmgCopyFormatAll && !copyGame.format">
              <select id="format{{i}}" name="format{{i}}" ngModel>
                <option [value]="null">Choissir un format</option>
                <ng-container *ngFor="let format of hmgCopyFormatAll">
                  <option [value]="format.id">{{ format.name }}</option>
                </ng-container>
              </select>
            </ng-container>

            <!-- REGION -->
            <label for="region{{i}}">Region:</label>
            <ng-container *ngIf="hmgCopyRegionAll && copyGame.region">
              <select id="region{{i}}" [(ngModel)]="copyGame.region.id" name="region{{i}}">
                <option [value]="null">Choissir une Region</option>
                <ng-container *ngFor="let region of hmgCopyRegionAll">
                  <option [value]="region.id">{{ region.name }}</option>
                </ng-container>
              </select>
            </ng-container>
            <ng-container *ngIf="hmgCopyRegionAll && !copyGame.region">
              <select id="region{{i}}" name="region{{i}}" ngModel>
                <option [value]="null">Choissir une Region</option>
                <ng-container *ngFor="let region of hmgCopyRegionAll">
                  <option [value]="region.id">{{ region.name }}</option>
                </ng-container>
              </select>
            </ng-container>

            <br>
            <hr>

            <h5>Purchase:</h5>

            <!-- PURCHASE -->
            <ng-container *ngIf="copyGame.purchase">

              <input type="hidden" [(ngModel)]="copyGame.purchase.id" name="purchase{{i}}">

              <!-- PRICE -->
              <label for="price{{i}}">Price:</label>
              <input type="number" id="price{{i}}" [(ngModel)]="copyGame.purchase.price" name="purchase_price{{i}}">

              <!-- DEVISE -->
              <label for="devise{{i}}">Devise:</label>
              <ng-container *ngIf="deviseAll && copyGame.purchase.devise">
                <select id="devise{{i}}" [(ngModel)]="copyGame.purchase.devise.id" name="purchase_devise{{i}}">
                  <option [value]="null">Choissir une devise</option>
                  <ng-container *ngFor="let devise of deviseAll">
                    <option [value]="devise.id">{{ devise.symbole }}</option>
                  </ng-container>
                </select>
              </ng-container>
              <ng-container *ngIf="deviseAll && !copyGame.purchase.devise">
                <select id="devise{{i}}" name="purchase_devise{{i}}" ngModel>
                  <option [value]="null">Choissir une devise</option>
                  <ng-container *ngFor="let devise of deviseAll">
                    <option [value]="devise.id">{{ devise.symbole }}</option>
                  </ng-container>
                </select>
              </ng-container>

              <!-- BUY DATE -->
              <label for="buy_date{{i}}">Buy date:</label>
              <input type="date" id="buy_date{{i}}" [(ngModel)]="copyGame.purchase.buy_date"
                     name="purchase_buy_date{{i}}">

              <!-- BUY WHERE -->
              <label for="buy_where{{i}}">Buy where:</label>
              <input type="text" id="buy_where{{i}}" [(ngModel)]="copyGame.purchase.buy_where.name"
                     name="purchase_buy_where{{i}}">

              <!-- PURCHASE CONTENT -->
              <label for="purchase_content{{i}}">Purchase content:</label>
              <input type="text" id="purchase_content{{i}}" [(ngModel)]="copyGame.purchase.content"
                     name="purchase_content{{i}}">

            </ng-container>
            <ng-container *ngIf="!copyGame.purchase">

              <!-- PRICE -->
              <label for="price{{i}}">Price:</label>
              <input type="number" id="price{{i}}" name="purchase_price{{i}}" ngModel>

              <!-- DEVISE -->
              <label for="devise{{i}}">Devise:</label>
              <ng-container *ngIf="deviseAll">
                <select id="devise{{i}}" name="purchase_devise{{i}}" ngModel>
                  <option [value]="null">Choissir une devise</option>
                  <ng-container *ngFor="let devise of deviseAll">
                    <option [value]="devise.id">{{ devise.symbole }}</option>
                  </ng-container>
                </select>
              </ng-container>

              <!-- BUY DATE -->
              <label for="buy_date{{i}}">Buy date:</label>
              <input type="date" id="buy_date{{i}}" name="purchase_buy_date{{i}}" ngModel>

              <!-- BUY WHERE -->
              <label for="buy_where{{i}}">Buy where:</label>
              <input type="text" id="buy_where{{i}}" name="purchase_buy_where{{i}}" ngModel>

              <!-- PURCHASE CONTENT -->
              <label for="purchase_content{{i}}">Purchase content:</label>
              <input type="text" id="purchase_content{{i}}" name="purchase_content{{i}}" ngModel>

            </ng-container>

          </div>
        </ng-container>
      </div>
    </div>
    </ng-container>
  </ng-container>

  <button type="submit">Submit</button>
</form>
</section>

<style>
  #editedmygame{
    margin: auto auto 120px;
  }

  #headeEditMyGame {
    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
      margin: unset;
    }
  }

  #startFormEditedMyGame{
    display: flex;
    flex-direction: column;

  }

  .oneExemplaire{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 20px;
  }


</style>
