<h1>{{ this.selectedMyGame?.myGame?.game?.name }}</h1>

<form>
  <label for="is_pinned">Épinglé:</label>

  <ng-container *ngIf="selectedMyGame">
    <ng-container *ngIf="selectedMyGame.myGame">

      <select id="is_pinned" [(ngModel)]="selectedMyGame.myGame.is_pinned" name="is_pinned">
        <option [value]="true">Épinglé</option>
        <option [value]="false">Non épinglé</option>
      </select>

      <label for="added_at">Date d'ajout:</label>
      <input type="date" id="added_at" [(ngModel)]="selectedMyGame.myGame.added_at" name="added_at">

      <label for="username">User:</label>
      <input type="text" id="username" [(ngModel)]="selectedMyGame.myGame.user.username" name="username">

      <label for="difficulty_rating">Difficulty rating:</label>
      <input type="text" id="difficulty_rating" [(ngModel)]="selectedMyGame.myGame.difficulty_rating"
             name="difficulty_rating">

      <label for="lifetime_rating">Lifetime rating:</label>
      <input type="text" id="lifetime_rating" [(ngModel)]="selectedMyGame.myGame.lifetime_rating" name="lifetime_rating">

      <label for="wish_list">Wish list:</label>
      <select id="wish_list" [(ngModel)]="selectedMyGame.myGame.wish_list" name="wish_list">
        <option [value]="true">Oui</option>
        <option [value]="false">Non</option>
      </select>

      <label for="rating">Note Game:</label>
      <input type="text" id="rating" [(ngModel)]="selectedMyGame.rate.rating" name="rating">

      <div>
        <h1>Exemplaire:</h1>
        <ng-container *ngFor="let copyGame of selectedMyGame.copyGame; let i = index">
          <div style="border: 1px solid gray; border-radius: 10px">
            <label for="edition{{i}}">Editions:</label>
            <input type="text" id="edition{{i}}" [(ngModel)]="copyGame.edition" name="edition{{i}}">

            <label for="barcode{{i}}">Barcode:</label>
            <input type="text" id="barcode{{i}}" [(ngModel)]="copyGame.barcode" name="barcode{{i}}">

            <label for="content{{i}}">Content:</label>
            <input type="text" id="content{{i}}" [(ngModel)]="copyGame.content" name="content{{i}}">

            <label for="etat{{i}}">Etat:</label>
            <input type="text" id="etat{{i}}" [(ngModel)]="copyGame.etat.name" name="etat{{i}}">

            <label for="format{{i}}">Format:</label>
            <input type="text" id="format{{i}}" [(ngModel)]="copyGame.format.name" name="format{{i}}">

            <label for="region{{i}}">Region:</label>
            <input type="text" id="region{{i}}" [(ngModel)]="copyGame.region.name" name="region{{i}}">

            <h5>Purchase:</h5>
            <label for="price{{i}}">Price:</label>
            <input type="text" id="price{{i}}" [(ngModel)]="copyGame.purchase.price" name="price{{i}}">

            <label for="devise{{i}}">Devise:</label>
            <input type="text" id="devise{{i}}" [(ngModel)]="copyGame.purchase.devise.symbole" name="devise{{i}}">

            <label for="buy_date{{i}}">Buy date:</label>
            <input type="date" id="buy_date{{i}}" [(ngModel)]="copyGame.purchase.buy_date" name="buy_date{{i}}">

            <label for="buy_where{{i}}">Buy where:</label>
            <input type="text" id="buy_where{{i}}" [(ngModel)]="copyGame.purchase.buy_where.name" name="buy_where{{i}}">

            <label for="purchase_content{{i}}">Purchase content:</label>
            <input type="text" id="purchase_content{{i}}" [(ngModel)]="copyGame.purchase.content"
                   name="purchase_content{{i}}">
          </div>
        </ng-container>
      </div>

    </ng-container>
  </ng-container>

  <button type="submit">Submit</button>
</form>
