/*
* GLOBAL
*/
#editedmygame{
  margin-bottom: 120px;
}

.container{
  max-width: 925px;
  margin-left: auto;
  margin-right: auto;
}

.main-gamenium-btn{
  background-color: var(--userColor);
}

.sub-gamenium-btn{
  border-color: var(--userColor);
  color: var(--userColor);
}

/*
* HEAD
*/
#headeEditMyGame {
  margin-top: 20px;
  margin-bottom: 20px;

  h1 {
    margin: unset;
  }
}

#head-img{
  display: flex;
  gap: 25px;
  height: 242px;
  padding-bottom: 30px;

  .banner-image{
    min-width: 300px;
    height: 160px;
    margin: auto 0;
    border-radius: 10px;

    .banner{
      position: absolute;
      width: 300px;
      height: 160px;
      z-index: 10;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .blur{
      position: absolute;
      width: 300px;
      height: 160px;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      z-index: 1;
      background-color: #00000038;
    }

    .back{
      width: 300px;
      height: 100%;
      border-radius: 15px;
    }

  }

  .separe-image{
    height: 100%;
    background-color: black;
    width: 2px;
  }

  .screen-image::-webkit-scrollbar {
    height: 5px;
    border-radius: 10px!important;
  }

  .screen-image::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .screen-image::-webkit-scrollbar-thumb {
    border-radius: 10px!important;
    background-color: gray!important;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  .screen-image{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden !important;
    position: relative;
    margin-top: 8px;

    small{
      margin-bottom: 10px;
    }

    .screen-all{
      display: flex;
      gap: 25px;
      margin-left:6px;
      margin-right: 7px;

      .screen-encard{
        max-width: 300px;
        max-height: 160px;
        margin: auto 0;

        .screen{
          box-shadow: 1px 0px 11px -1px #a6a6a6;
          width: auto;
          height: 160px;
          max-width: 300px;
          max-height: 160px;
        }
      }

    }

  }

}

@media (max-width: 700px) {
  #head-img {
    .screen-image {
      display: none;
    }

    .banner-image {
      margin: auto;
    }
  }


    #head-img .separe-image{
      display: none;
    }
}

#head-img.gapUpdate {
  gap: 90px!important;
}

.card-no-picture {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: gray;
  opacity: 0.7;
  padding: 0 66px;

  i {
    font-size: 70px;
    margin: -12px;
  }
}

.card-no-picture:hover {
  opacity: 1;
}

#head-modal{
  display: flex;
  justify-content: space-between;

  h2.titleGame{
    text-align: start;
    color: black;
  }

}

@media (max-width: 580px){
  #head-modal {
    flex-direction: column;
    justify-content: start;
    
    div {
      margin-bottom: 20px;
    }
    
    .button {
      width: 90%;

    }
  }
}

/*
* FORMULAIRE GLOBAL
*/

#startFormEditedMyGame{
  display: flex;
  flex-direction: column;

}

/*
* PANEL
*/
.panel {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 0px #A6A6A6;
  padding: 15px 50px;
  margin: 7px 0;
  background: white;

  .head-panel{
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2{
      color: var(--userColor);

      i{
        font-size: 20px;
        margin-right: 8px;
        position: relative;
        top: -1px;
      }
    }
    i{
      font-size: 25px;
    }

  }

}

.star-rating{
  display: flex;
  justify-content: space-between;
  min-width: 286px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  i{
    width: 100%;
    font-size: 25px;
  }

  i.ri-star-fill{
    color: var(--userColor);
  }
}


/*
* EXEMPLAIRE
*/

.head-all-exemplaire{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;

  i{
    font-size: 25px;
  }
}

.oneExemplaire{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 2px 10px 0px #A6A6A6;
  padding: 30px 50px;
  margin: 20px 0;
  background: #fbfbfb;
}

.head-one-exemplaire{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  i{
    font-size: 30px;
  }
}

@media (max-width: 640px) {
  .oneExemplaire{
    padding: 10px 10px;
  }

   .panel {
    padding: 15px 10px;
  }

  #editedHmgCopy .head-panel {
    margin-left: 0px;
    margin-right: 0px;
  }

  #editedHistoryMyGame .head-panel {
    margin-left: 0px;
    margin-right: 0px;
  }

  form .end-action {
    display: flex;
    flex-direction: column;
  }

  form .end-action button {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

}

/* PURCHACE */

.head-purchase{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

.head-purchase > :first-child {
  width: calc(60% - 5px);
  margin-right: 10px;
}

.head-purchase > :last-child {
  width: calc(40% - 5px);
}

.head-buy{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

.head-buy select {
  width: calc(33.33% - 10px);
  margin-right: 5px;
}


/*
* INPUT
*/
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus{
  border-bottom: 2px var(--userColor) solid;
  outline: unset;
  transition: border-bottom 0.3s ease;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
.inputSelect,
textarea{
  background: #F3F3F3;
  border-top: unset;
  border-right: unset;
  border-left: unset;
  border-bottom: 2px var(--third-color) solid;
  border-radius: 4px 4px 0 0;
  font-family: var(--main-police), sans-serif;
  color: var(--first-color);
  height: 55px;
  padding-left: 20px;
  font-size: 15px;
  /*box-shadow: 0 1px 4px 0 #00000040 inset;*/
  transition: border-bottom 0.3s ease;
  font-weight: 400;
  margin-bottom: 15px;
}

textarea{
  padding-top: 16px;
  height: 100px;
  resize: none;
}


input[type="text"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder,
.placeholderInput{
  color: var(--third-color);
  font-size: 14px;
  font-weight: 300;
}

select:focus-visible,
.inputSelect{
  outline: none;
}
select,
.inputSelect{
  background: #F3F3F3;
  border-top: unset;
  border-right: unset;
  border-left: unset;
  border-bottom: 2px var(--third-color) solid;
  border-radius: 4px 4px 0 0;
  font-family: var(--main-police), sans-serif;
  color: var(--first-color);
  height: 55px;
  padding-left: 20px;
  font-size: 15px;
  /*box-shadow: 0 1px 4px 0 #00000040 inset;*/
  transition: border-bottom 0.3s ease;
  font-weight: 400;
  margin-bottom: 15px;
}

.cornflex{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.inputSelect{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;

  #tags, #languages {
    .badge{
      margin-right: 5px;

      div{
        padding-left: 10px;
      }

      i{
        opacity: 0;
      }
    }

    .badge:hover i{
      opacity: 1;
    }
  }




}

/* END */
.end-action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid gray;

  .delete-btn{
    border-color: red!important;
    color: red!important;
  }
}

/* TAB */

.displayNone{
  display: none!important;
}

#tab {
  margin: 20px 0;
  --colorTab:#8a8a8a;
  --colorTab-hover: #b7b7b7;
  ul {
    display: flex;
    justify-content: center;
    border-color: var(--colorTab);

    li a.active{
      border-top-color: var(--colorTab);
      border-left-color: var(--colorTab);
      border-right-color: var(--colorTab);
      color: black;
      font-weight: 500;
    }
    li a.active:hover{
      border-top-color: var(--colorTab);
      border-left-color: var(--colorTab);
      border-right-color: var(--colorTab);
      border-bottom-color: transparent;
      color: black;
    }

    li a {
      font-size: 18px;
      color: #444444;
      padding: 15px 50px;
      font-weight: 400;
    }

    li a:hover {
      border-color: var(--colorTab-hover);
    }
  }
}

@media (max-width: 538px){
  #tab ul li a {
    padding: 15px 15px;
  }
}
