<section id="actu-all" class="d-flex container">

  <ng-container *ngFor="let item of itemsArray; let i = index">
    <div class="card" routerLink="/actuality/{{ i }}">
      <img src="https://i.ytimg.com/vi/nyD5BjHXJ88/maxresdefault.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nintendo Direct Mini</h5>
        <div class="card-hr">
          <hr>
        </div>
        <div class="card-end d-flex">
          <a href="#" class="btn">
            <div class="d-flex">
              <div class="provider-img"></div>
              Nintendo
            </div>
          </a>
          <div class="card-i d-flex">
            <div>
              <i class="ri-chat-3-line"></i>
            </div>

            <ng-container *ngIf="i != 2">
              <div>
                <i class="ri-heart-line"></i>
              </div>
            </ng-container>

            <ng-container *ngIf="i == 2">
              <div class="active">
                <i class="ri-heart-fill"></i>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</section>
