<section id="actu-all" class="d-flex container">

  <ng-container *ngFor="let actu of postActuFollowOrAll;">
    <div class="card" routerLink="/actuality/{{ actu.id }}">
      <img src="https://i.ytimg.com/vi/nyD5BjHXJ88/maxresdefault.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ actu.content }}</h5>
        <div class="card-hr">
          <hr>
        </div>
        <div class="card-end d-flex">
          <a routerLink="/provider/{{ actu.Provider?.id }}" class="btn" style="background-color: {{ actu.Provider?.color }}97!important">
            <div class="d-flex">
              <div class="provider-img"  style="background-image: url('{{ actu.Provider?.picture?.url }}')"></div>
              {{ actu.Provider?.displayName }}
            </div>
          </a>
          <div class="card-i d-flex">
            <div>
              <i class="ri-chat-3-line"></i>
            </div>

<!--            <ng-container *ngIf="1 != 2">-->
<!--              <div>-->
<!--                <i class="ri-heart-line"></i>-->
<!--              </div>-->
<!--            </ng-container>-->

<!--            <ng-container *ngIf="1 == 2">-->
              <div class="active">
                <i class="ri-heart-fill" style="color: {{ actu.Provider?.color }}!important"></i>
              </div>
<!--            </ng-container>-->
          </div>
        </div>
      </div>
    </div>
  </ng-container>

</section>
