<div id="preview-game" class="d-flex container">
  <ng-container *ngFor="let game of gamePreview">

    <div class="card" style="width: 18rem;">
      <ng-container *ngIf="game.image.icon_url == 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
        <img src="https://tyrolium.fr/Contenu/Image/Soon.png" class="card-img-top" alt="...">
      </ng-container>
      <ng-container *ngIf="game.image.icon_url != 'https://www.giantbomb.com/a/uploads/square_avatar/11/110673/3026329-gb_default-16_9.jpg'">
        <img src="{{ game.image?.icon_url }}" class="card-img-top" alt="...">
      </ng-container>
      <div class="card-body">
        <h5 class="card-title">{{ game.name }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </ng-container>
</div>
