<modal-warn></modal-warn>

<div class="modal fade text-center" id="viewPlatform" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-start">
          <ng-container *ngIf="this.app.viewMyPlatform?.myPlateform?.user?.id == this.app.userConnected?.id">
            <button type="button" class="no-btn" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()" routerLink="/mygame/edit-platform/{{ this.app.viewMyPlatform?.myPlateform?.id }}">
              <i class="ri-pencil-line btn-action"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="this.app.viewMyPlatform?.myPlateform?.user?.id !== this.app.userConnected?.id">
            <button type="button" *ngIf="this.app.viewMyPlatform" class="no-btn" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#warnModal" (click)="app.setWarn('hmp', this.app.viewMyPlatform.id)">
              <i class="warn-ico ri-alert-line btn-action"></i>
            </button>
          </ng-container>
        </div>
        <div class="modal-header-end">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
      </div>

      <section id="view-mygame" *ngIf="this.app.viewMyPlatform">

        <div id="head-img" class="gapUpdate">
          <div class="banner-image pp-shadow">
            <div class="banner" style="background-image: url({{this.app.viewMyPlatform.myPlateform?.plateform?.image?.original_url}});"></div>
            <div class="blur"></div>
            <img class="back" src="{{ this.app.viewMyPlatform.myPlateform?.plateform?.image?.original_url }}" alt="blur">
          </div>
        </div>

        <div id="head-modal">

          <div class="game-info-test">
            <h2 class="titleGame">{{ this.app.plateformeNameFormatage(this.app.viewMyPlatform.myPlateform.plateform.name) }}</h2>
            <small>Ajouté le {{ this.app.viewMyPlatform.myPlateform.added_at | date:'dd / MM / yyyy' }}</small>
          </div>


<!--          <button class="main-gamenium-btn"  data-bs-dismiss="modal" style="background-color: {{ isColor }}">Voir la plateforme</button>-->

        </div>


        <div id="content-view" class="blocks-shadow" [ngStyle]="{'--profilColor': isColor }">

          <h3>Détails</h3>

          <div class="margContent">

            <ul class="ulInfo" *ngIf="this.app.viewMyPlatform.myPlateform">

              <ng-container *ngIf="this.app.viewMyPlatform.myPlateform.plateform">
                <li>
                  <p>Date de sortie : </p>
                  <h3 *ngIf="this.app.viewMyPlatform.myPlateform.plateform.release_date">
                    {{ this.app.viewMyPlatform.myPlateform.plateform.release_date | date: 'd MMMM y': undefined : 'fr' }}
                  </h3>
                </li>
              </ng-container>
              <li>
                <p>Nombre d'exemplaire : </p>
                <h3>{{ this.app.viewMyPlatform.copyPlateform.length || '1*' }}</h3>
              </li>

              <!-- SI YA UN SEUL EXEMPLAIRE -->
              <ng-container *ngIf="this.app.viewMyPlatform?.copyPlateform?.length === 1">
                <ng-container *ngFor="let copyPlateform of app.viewMyPlatform?.copyPlateform">

                  <li *ngIf="copyPlateform.edition">
                    <p>Édition : </p>
                    <h3>{{ copyPlateform.edition }}</h3>
                  </li>

                  <li *ngIf="copyPlateform.barcode">
                    <p>Barcode : </p>
                    <h3>{{ copyPlateform.barcode }}</h3>
                  </li>

                  <li *ngIf="copyPlateform.etat">
                    <p>État du jeu : </p>
                    <h3>{{ copyPlateform.etat.name }}</h3>
                  </li>

                  <li *ngIf="copyPlateform.isBox !== null && copyPlateform.isBox !== undefined">
                    <p>Avec la boite : </p>
                    <h3>{{ copyPlateform.isBox ? 'Oui' : 'Non' }}</h3>
                  </li>

                  <li *ngIf="copyPlateform.region">
                    <p>Région du jeu : </p>
                    <h3>{{ copyPlateform.region.name }}</h3>
                  </li>

                  <li *ngIf="copyPlateform.content">
                    <p>Plus d'informations : </p>

                    <h3 class="buttomShow" (click)="toggleShowContent()">  Voir plus d'informations <i [class.ri-arrow-up-s-line]="showContent" [class.ri-arrow-down-s-line]="!showContent"></i></h3>
                  </li>

                  <li class="forShow" *ngIf="showContent">
                    <h3><small>{{ copyPlateform.content }}</small></h3>
                  </li>

                  <ng-container *ngIf="copyPlateform.purchase && copyPlateform.purchase.price || copyPlateform.purchase && copyPlateform.purchase.year_buy_at || copyPlateform.purchase && copyPlateform.purchase.year_buy_at || copyPlateform.purchase && copyPlateform.purchase.buy_where || copyPlateform.purchase && copyPlateform.purchase.content ">
                    <h5>Informations d'achat</h5>

                    <li *ngIf="copyPlateform.purchase.price">
                      <p>Prix d'achat : </p>
                      <h3>{{ (copyPlateform.purchase.price / 100) | number:'1.2-2' }} <span *ngIf="copyPlateform.purchase.devise">{{ copyPlateform.purchase.devise.symbole }}</span></h3>
                    </li>

                    <li *ngIf="copyPlateform.purchase.year_buy_at">
                      <p>Date d'achat : </p>
                      <h3>
                        <ng-container *ngIf="copyPlateform.purchase.month_buy_at">
                          <ng-container *ngIf="copyPlateform.purchase.day_buy_at">
                            {{ copyPlateform.purchase.day_buy_at }}
                          </ng-container>
                          {{ app.moisView(copyPlateform.purchase.month_buy_at - 1) }}
                        </ng-container>
                        {{ copyPlateform.purchase.year_buy_at }}
                      </h3>
                    </li>

                    <li *ngIf="copyPlateform.purchase.buy_where">
                      <p>Lieu d'achat : </p>
                      <h3>{{ copyPlateform.purchase.buy_where.name }}</h3>
                    </li>

                    <li *ngIf="copyPlateform.purchase.content">
                      <p>Plus d'informations d'achat : </p>

                      <h3 class="buttomShow" (click)="toggleShowPurchaseContent()">  Voir plus informations sur l'achat <i [class.ri-arrow-up-s-line]="showPurchaseContent" [class.ri-arrow-down-s-line]="!showPurchaseContent"></i></h3>
                    </li>

                    <li class="forShow" *ngIf="showPurchaseContent">
                      <h3><small>{{ copyPlateform.purchase.content }}</small></h3>
                    </li>

                  </ng-container>

                </ng-container>
              </ng-container>

            </ul>

            <div *ngIf="this.app.viewMyPlatform.copyPlateform.length > 1">
              <h5 class="listExemplaire">Exemplaire de la plateforme</h5>
              <ng-container *ngFor="let copyPlateform of app.viewMyPlatform?.copyPlateform; let i = index">

                <div class="oneExemplaire">

                  <h6>Exemplaire #{{i+1}}</h6>

                  <ul class="ulInfo"
                      *ngIf="copyPlateform.edition ||
                         copyPlateform.barcode ||
                         copyPlateform.etat ||
                         copyPlateform.region ||
                         copyPlateform.isBox ||
                         copyPlateform.content ||
                         copyPlateform.purchase && copyPlateform.purchase.price ||
                         copyPlateform.purchase && copyPlateform.purchase.year_buy_at ||
                         copyPlateform.purchase && copyPlateform.purchase.year_buy_at ||
                         copyPlateform.purchase && copyPlateform.purchase.buy_where ||
                         copyPlateform.purchase && copyPlateform.purchase.content
                        ">

                    <li *ngIf="copyPlateform.edition">
                      <p>Édition : </p>
                      <h3>{{ copyPlateform.edition }}</h3>
                    </li>

                    <li *ngIf="copyPlateform.barcode">
                      <p>Barcode : </p>
                      <h3>{{ copyPlateform.barcode }}</h3>
                    </li>

                    <li *ngIf="copyPlateform.etat">
                      <p>État du jeu : </p>
                      <h3>{{ copyPlateform.etat.name }}</h3>
                    </li>

                    <li *ngIf="copyPlateform.isBox">
                      <p>Avec la boite : </p>
                      <h3>{{ copyPlateform.isBox ? 'Oui' : 'Non' }}</h3>
                    </li>

                    <li *ngIf="copyPlateform.region">
                      <p>Région du jeu : </p>
                      <h3>{{ copyPlateform.region.name }}</h3>
                    </li>

                    <li *ngIf="copyPlateform.content">
                      <p>Plus d'informations : </p>

                      <h3 class="buttomShow" (click)="toggleShowCopyContent(copyPlateform.id)">  Voir plus d'informations <i [class.ri-arrow-up-s-line]="isShowCopyContent(copyPlateform.id)" [class.ri-arrow-down-s-line]="!isShowCopyContent(copyPlateform.id)"></i></h3>
                    </li>

                    <li class="forShow" *ngIf="isShowCopyContent(copyPlateform.id)">
                      <h3><small>{{ copyPlateform.content }}</small></h3>
                    </li>

                    <ng-container *ngIf="copyPlateform.purchase && copyPlateform.purchase.price || copyPlateform.purchase && copyPlateform.purchase.year_buy_at || copyPlateform.purchase && copyPlateform.purchase.year_buy_at || copyPlateform.purchase && copyPlateform.purchase.buy_where || copyPlateform.purchase && copyPlateform.purchase.content ">
                      <h5>Informations d'achat</h5>

                      <li *ngIf="copyPlateform.purchase.price">
                        <p>Prix d'achat : </p>
                        <h3>{{ copyPlateform.purchase.price / 100 }} <span *ngIf="copyPlateform.purchase.devise">{{ copyPlateform.purchase.devise.symbole }}</span></h3>
                      </li>

                      <li *ngIf="copyPlateform.purchase.year_buy_at">
                        <p>Date d'achat : </p>
                        <h3>
                          <ng-container *ngIf="copyPlateform.purchase.month_buy_at">
                            <ng-container *ngIf="copyPlateform.purchase.day_buy_at">
                              {{ copyPlateform.purchase.day_buy_at }}
                            </ng-container>
                            {{ app.moisView(copyPlateform.purchase.month_buy_at - 1) }}
                          </ng-container>
                          {{ copyPlateform.purchase.year_buy_at }}
                        </h3>
                      </li>

                      <li *ngIf="copyPlateform.purchase.buy_where">
                        <p>Lieu d'achat : </p>
                        <h3>{{ copyPlateform.purchase.buy_where.name }}</h3>
                      </li>

                      <li *ngIf="copyPlateform.purchase.content">
                        <p>Plus d'informations d'achat : </p>

                        <h3 class="buttomShow" (click)="toggleShowCopyPurchaseContent(copyPlateform.id)">  Voir plus informations sur l'achat <i [class.ri-arrow-up-s-line]="isShowCopyPurchaseContent(copyPlateform.id)" [class.ri-arrow-down-s-line]="!isShowCopyPurchaseContent(copyPlateform.id)"></i></h3>
                      </li>

                      <li class="forShow" *ngIf="isShowCopyPurchaseContent(copyPlateform.id)">
                        <h3><small>{{ copyPlateform.purchase.content }}</small></h3>
                      </li>
                    </ng-container>

                  </ul>

                  <ng-container
                    *ngIf="!copyPlateform.edition &&
                         !copyPlateform.barcode &&
                         !copyPlateform.etat &&
                         !copyPlateform.isBox &&
                         !copyPlateform.region &&
                         !copyPlateform.content &&
                         !(copyPlateform.purchase && copyPlateform.purchase.price) &&
                         !(copyPlateform.purchase && copyPlateform.purchase.year_buy_at) &&
                         !(copyPlateform.purchase && copyPlateform.purchase.buy_where) &&
                         !(copyPlateform.purchase && copyPlateform.purchase.content)
                        ">

                    <p class="noneExemplaire"><small>Aucune information</small></p>

                  </ng-container>

                </div>

              </ng-container>
            </div>

          </div>
        </div>

      </section>


    </div>
  </div>
</div>

<style>
  div#viewPlatform.show {
    display: block;
  }
</style>
