/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

  --main-police: "Poppins";
  --second-police: "Geist Mono";

  --first-color: back;
  --second-color: #FF0000;
  --third-color: #575757;

  --bs-modal-width: 750px;

}

.modal{
  --bs-modal-width: 750px!important;
}

.scrollbar::-webkit-scrollbar {
  height: 5px;
  border-radius: 10px!important;
}

.scrollbar::-webkit-scrollbar-track {
  /*background: red;*/
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px!important;
  background-color: #ffffffc4;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);

  background-clip: content-box;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  /*border-bottom: 3px solid transparent;*/
}

h1{
  font-family: var(--main-police), sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--first-color);
  margin: unset;
}

h2{
  font-family: var(--second-police), monospace;
  font-size: 21px;
  font-weight: 600;
  color: var(--second-color);
  margin: unset;
}

h3{
  font-family: var(--main-police), sans-serif;
  font-size: 18px;
  font-weight: 500;
  /*text-transform: uppercase;*/
  color: var(--third-color);
  margin: unset;
}

p{
  font-family: var(--main-police), sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--first-color);
  margin: unset;
}

p.second{
  font-family: var(--second-police), monospace;
  font-size: 14px;
  font-weight: 400;
  color: var(--second-color);
  margin: unset;
}

small {
  font-family: var(--main-police), sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--third-color);
  margin: unset;
}

/* SHADOW */

.pp-shadow{
  box-shadow: 1px 3px 12px #a6a6a6;
}
