/* import */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLE */
:root{

  --main-police: "Poppins";
  --second-police: "Geist Mono";

  --first-color: back;
  --second-color: #FF0000;
  --third-color: #575757;
  --sponsor-color: #FFC120;

  --bs-modal-width: 750px;

}

:disabled{
  cursor: not-allowed;
}

/* FOR MODAL */
.modal{
  --bs-modal-width: 800px!important;
}

/* FOR SCROLLBAR*/
.scrollbar::-webkit-scrollbar {
  height: 5px;
  border-radius: 10px!important;
}

.scrollbar::-webkit-scrollbar-track {
  /*background: red;*/
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px!important;
  background-color: #ffffffc4;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);

  background-clip: content-box;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  /*border-bottom: 3px solid transparent;*/
}

/*******************
*
* GLOBAL DISGN
*
*******************/

/* TYPO */

h1{
  font-family: var(--main-police), sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--first-color);
  margin: unset;
}

h2{
  font-family: var(--second-police), monospace;
  font-size: 21px;
  font-weight: 600;
  color: var(--second-color);
  margin: unset;
}

h2.no-color{
  color: var(--first-color);
}

h3{
  font-family: var(--main-police), sans-serif;
  font-size: 18px;
  font-weight: 500;
  /*text-transform: uppercase;*/
  color: var(--third-color);
  margin: unset;
}

p{
  font-family: var(--main-police), sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--first-color);
  margin: unset;
}

p.second{
  font-family: var(--second-police), monospace;
  font-size: 14px;
  font-weight: 400;
  color: var(--second-color);
  margin: unset;
}

small {
  font-family: var(--main-police), sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--third-color);
  margin: unset;
}

/* SHADOW */

.pp-shadow{
  box-shadow: 1px 3px 12px #a6a6a6;
}

.blocks-shadow{
  box-shadow: 1px 2px 10px #a6a6a6;
}

.btn-shadow{
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.searchbar-shadow{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.flag-shadow{
  box-shadow: 0px 0px 3px #a6a6a6;
}

.panel-shadow{
  box-shadow: 1px 2px 10px 0px #A6A6A6;
}

/* BUTTOM */

.main-gamenium-btn {
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-family: var(--main-police), sans-serif;
  font-weight: 400;
  background-color: var(--second-color);
  border: unset;
  outline: none;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.main-gamenium-btn:hover {
  opacity: 0.58;
}

.main-gamenium-btn:disabled {
  opacity: 0.5;
}

.sub-gamenium-btn{
  border-radius: 10px;
  color: var(--second-color);
  font-size: 17px;
  font-family: var(--main-police), sans-serif;
  font-weight: 500;
  background-color: white;
  border: 1px solid var(--second-color);
  outline: none;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  padding: 9px 30px;
}

.sub-gamenium-btn:hover{
  opacity: .48;
}







