<modal-buywhere></modal-buywhere>
<div class="modal fade text-center" id="ajouteGamePage" tabindex="-1" aria-labelledby="addGameModalLabel" aria-hidden="true" [ngStyle]="{'--userColor': this.app.userConnected?.themeColor || this.app.colorDefault }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p>Ajoutez un jeu</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addGameForm" #addForm="ngForm" (ngSubmit)="this.addGame(addForm)" class="modal-body" style="padding-top: 40px;">

        <div class="panel">
          <div class="head-panel">
            <h2><i class="ri-search-2-line"></i>Recherchez un jeu</h2>
          </div>
          <input *ngIf="this.app.gameSelected" type="text" class="disable" placeholder="Votre jeu" value="{{ this.app.gameSelected?.name }}" (click)="this.app.unselectGame()">
          <input *ngIf="!this.app.gameSelected" type="text" placeholder="Tapez pour rechercher un jeu" name="searchValue" ngModel (keyup)="this.onSearchValueChange($event)">
        </div>

        <div *ngIf="this.searchResults && this.searchResults.length > 0 && !this.app.gameSelected" class="row-search-game">
          <app-card-game-sub *ngFor="let result of this.searchResults" [game]="result" (click)="this.app.selectGame(result)"></app-card-game-sub>
        </div>


        <div *ngIf="isFirstSearch && !isLoading && this.searchResults && this.searchResults.length === 0 && !this.app.gameSelected">
          <p class="none-game">Aucun résultat trouvé.</p>
        </div>

        <!-- BUG = quand on supprime trop avant la fin de la requette -->
        <div *ngIf="isFirstSearch && isLoading && searchValue == ''">
          <p class="none-game">Aucun résultat trouvé.</p>
        </div>

        <div *ngIf="isLoading && searchValue !== '' && !this.app.gameSelected" class="laoding-search">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>


        <div class="start-form" *ngIf="this.app.gameSelected">

          <!-- PLATEFORM -->
          <div class="panel">

            <div class="head-panel">
              <h2><i class="ri-gamepad-fill"></i>Plateforme<span style="color: red">*</span></h2>
            </div>
            <ng-container *ngIf="this.app.gameSelected.platforms">
              <ng-container *ngIf="this.app.gameSelected.platforms.length == 1">
                <ng-container *ngFor="let plateformOne of this.app.gameSelected?.platforms">
                  <input type="hidden" [value]="plateformOne.id" name="plateform_id" ngModel>
                  <input type="text" value="{{ this.app.plateformeNameFormatage(plateformOne.name) }}" class="disable" disabled>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="this.app.gameSelected.platforms.length > 1">
                <select id="plateform" name="plateform_id" ngModel>
                  <option value="">Choissir une plateforme</option>
                  <ng-container *ngFor="let plateformOne of this.app.gameSelected?.platforms">
                    <option [value]="plateformOne.id">{{ this.app.plateformeNameFormatage(plateformOne.name) }}</option>
                  </ng-container>
                </select>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!this.app.gameSelected.platforms">
              <input type="hidden" [value]="this.app.noPlateform.id" name="plateform_id" ngModel>
              <input type="text" value="{{ this.app.plateformeNameFormatage(this.app.noPlateform.name) }}" class="disable" disabled>
            </ng-container>
          </div>

          <!-- EPINGLER -->
          <div class="panel">

            <div class="head-panel">
              <h2><i class="ri-pushpin-fill"></i>Épinglé</h2>
            </div>

            <select id="is_pinned" name="pinnedGame" ngModel>
              <option value="">Non épinglé</option>
              <option [value]="true">Épinglé</option>
            </select>

          </div>

          <div class="panel">

            <div class="head-panel">
              <h2><i class="ri-shopping-cart-2-fill"></i>Achat</h2>
              <i class="ri-more-2-fill" data-bs-toggle="modal" data-bs-target="#manageBuyWhere"></i>
            </div>

            <div class="head-buy">

              <select id="day_buy_date" ngModel name="day_buy_date">
                <option value="">Jour d'achat</option>
                <ng-container *ngFor="let day of [].constructor(31); let d = index">
                  <option [value]="d+1">{{ d + 1 }}</option>
                </ng-container>
              </select>

              <select id="month_buy_date" ngModel name="month_buy_date">
                <option value="">Mois d'achat</option>
                <ng-container *ngFor="let month of [].constructor(12); let m = index">
                  <option [value]="m+1">{{ m + 1 }}</option>
                </ng-container>
              </select>

              <select id="year_buy_date" ngModel name="year_buy_date">
                <option value="">Année d'achat</option>
                <ng-container *ngFor="let year of this.app.getYears(); let y = index">
                  <option [value]="year">{{ year }}</option>
                </ng-container>
              </select>

            </div>

            <ng-container *ngIf="app.buyWhereUserNoReload">
              <select id="buy_where" name="buyWhere" ngModel>
                <option value="">Lieux d'achat</option>
                <ng-container *ngFor="let buyWhereOne of app.buyWhereUserNoReload">
                  <option [value]="buyWhereOne.id">{{ buyWhereOne.name }}</option>
                </ng-container>
              </select>
            </ng-container>

          </div>

          <div class="moreHMG">
            <button *ngIf="!isLoadingMore" type="button" class="sub-gamenium-btn"
                    (click)="moreCompletion(); addForm.ngSubmit.emit()" data-bs-dismiss="modal">Compléter de manière plus détaillée.
            </button>
            <button *ngIf="isLoadingMore" type="button" class="sub-gamenium-btn" style="padding-top: 12px;">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>


        </div>

        <div class="modal-footer" style="margin-top: 74px;">
          <button *ngIf="this.app.gameSelected" type="submit" class="main-gamenium-btn" style="background-color: {{ this.app.userConnected?.themeColor || this.app.colorDefault }}" data-bs-dismiss="modal">Sauvegardé <i class="ri-save-3-fill"></i></button>
          <button type="button" class="main-gamenium-btn" style="background-color: gray" data-bs-dismiss="modal">Fermer</button>
        </div>

      </form>
    </div>
  </div>
</div>
