
/* //////////////// DEBUT DE ZONE BACK TO TOP /////////////// */

.back-to-top {
    position: fixed;
    bottom: 90px;
    right: 60px;
    z-index: 5;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.back-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.back-to-top i {
    font-size: 45px;
    color: black;
    cursor: pointer;
}

/* //////////////// FIN DE ZONE BACK TO TOP /////////////// */
