<app-modal-provider
  (onProviderDelete)="getProviderFollowed($event)"
  [providerFollowed]="providerFollowed"
  [providerFollowActuAll]="providerFollowActuAll">
</app-modal-provider>

<ng-container *ngIf="!actualityId">

  <ng-container *ngIf="providerId">

    <app-provider></app-provider>

  </ng-container>

  <ng-container *ngIf="!providerId && !app.disableActuality">
    <app-navbar-actuality
      [providerFollowActuAll]="providerFollowActuAll"
      [providersFollowedRefreshed]="providerFollowed"
      (providerSelected)="onProviderSelected($event)"
      (providerFollowed)="getProviderFollowed($event)"
      (isProviderModalOpen)="openModal($event)">
    </app-navbar-actuality>


    <div style="margin-bottom: 120px;">

      <app-view-actuality
        (providerFollowActuAll)="providerActu($event)"
        [providerIdSelected]="providerSelected ?? null"
        [providerFollowed]="providerFollowed">
      </app-view-actuality>
    </div>

    <!-- FLECHE POUR REMONTER EN HAUT DE LA PAGE -->
    <app-back-to-top></app-back-to-top>


  </ng-container>
</ng-container>

<ng-container *ngIf="actualityId && !app.disableActuality">
    <app-detail-actuality></app-detail-actuality>
</ng-container>

<ng-container *ngIf="actualityId && app.disableActuality || !actualityId && !providerId && app.disableActuality">

  <div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #f0f0f0;">
    <div style="text-align: center; padding: 20px; background-color: white; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
      <h1 style="color: #333; font-size: 2em;margin-bottom: 10px">Actualités bientôt disponibles</h1>
      <p style="color: #666; font-size: 1.2em;">Nous travaillons dur pour vous apporter les dernières actualités. Revenez bientôt !</p>
    </div>
  </div>

</ng-container>
