<ng-container *ngIf="!actualityId">
  <app-navbar-actuality 
    (providerSelected)="onProviderSelected($event)" 
    (providerFollowed)="getProviderFollowed($event)"
    (isProviderModalOpen)="openModal($event)"> 
  </app-navbar-actuality>

  
  <div style="margin-bottom: 120px;">
    <app-modal-provider 
      *ngIf="manageProviders"
      [providerFollowed]="providerFollowed">
    </app-modal-provider>
    
    <app-view-actuality 
      *ngIf="!manageProviders"
      [providerIdSelected]="providerSelected ?? null" 
      [providerFollowed]="providerFollowed">
    </app-view-actuality>
  </div>

  <!-- FLECHE POUR REMONTER EN HAUT DE LA PAGE -->
  <app-back-to-top></app-back-to-top>
</ng-container>

<ng-container *ngIf="actualityId">
    <app-detail-actuality></app-detail-actuality>
</ng-container>
