#msgHost {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.wrapperMSG {
  text-align: center;
  border: 2px solid #333;
  padding: 20px;

  background-color: white;
  box-shadow: 1px 2px 11px #a6a6a6;
  width: 300px;
  height: 300px;
  border: unset !important;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-gamenium-btn {
  width: fit-content;
  margin-top: 25px;
}

.title {
  font-size: x-large;
}

@media (max-width: 991px) {
  .connect-btn {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .wrapperMSG {
    box-shadow: none;
  }
}
